[2021-07-21 10:05] cardigliano commented on #739
You still have the 7.9 kernek module loaded, please try with a systemctl restart pf_ring, or a system reboot

[2021-07-23 08:19] utkarsh0902311047 opened #740 "Error While loading the ice driver"
root@aewin:~/PF_RING/drivers/intel/ice/ice-1.3.2-zc/src# ./load_driver.sh
Configuring enx7635bdf085bf
Cannot change rx-vlan-offload
Cannot get device pause settings: Operation not supported
Cannot get device pause settings: Operation not supported
ls: cannot access '/sys/class/net/enx7635bdf085bf/device/msi_irqs': No such file or directory
Error: Could not find interrupts for enx7635bdf085bf
IFACE

[2021-07-23 08:21] cardigliano commented on #740
Please provide cat /proc/meminfo

[2021-07-23 12:07] utkarsh0902311047 commented on #740
MemTotal:       263778656 kB
MemFree:        126331512 kB
MemAvailable:   125748196 kB
Buffers:           16704 kB
Cached:           823844 kB
SwapCached:            0 kB
Active:          1446332 kB
Inactive:         496028 kB
Active(anon):    1102204 kB
Inactive(anon):    38804 kB
Active(file):     344128 kB
Inactive(file):   457224 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapT

[2021-07-23 12:37] cardigliano commented on #740
The system actually has plenty of memory available, not sure why the hugepages allocation is not able to allocate all the requested pages. Please read https://www.ntop.org/guides/pf_ring/hugepages.html and try reserving pages manually following the guide.

[2021-07-23 12:44] utkarsh0902311047 commented on #740
But is this the problem of hugepages?
How about the other messages appearing like Cannot get device pause settings or cannot access '/sys/class/net/enx7635bdf085bf/device/msi_irqs': No such file or directory or while configuring the ports it says ignoring aborting.

[2021-07-23 12:48] cardigliano commented on #740
I guess you can ignore those errors. I will take a look anyway.

[2021-07-23 12:53] utkarsh0902311047 commented on #740
ok thank you so much.
Please do you have some suggestions for me for my case #738 or can I mail you or something ?

[2021-07-23 13:04] cardigliano commented on #738
I suggest to use ftflow_dpdk from https://github.com/ntop/PF_RING/tree/dev/userland/examples_ft
There is a README.dpdk in the same folder for configuring the environment.
You can also scale with the performance running RSS in case one core is not enough.

[2021-07-23 13:18] utkarsh0902311047 commented on #738
How to run RSS ? I tried looking on internet but couldn't find the steps.
Please share the steps.

[2021-07-23 15:32] utkarsh0902311047 commented on #738
I tried the command : ./ftflow_dpdk -l 1-8 -n 16 --vdev=net_pcap0,iface=ens9f0
I have changed my NIC to 100Gbps on both the systems. I am succesfully able to generate 100gbps of traffic and when I run the above command I could only see the throughput of 7gbps. What should I do? Please help
![Screenshot from 2021-07-23 23-31-41](https://user-images.githubusercontent.com/78134056/126805633-54bb2f6b-

[2021-07-25 09:20] utkarsh0902311047 commented on #740
root@aewin:~/PF_RING/drivers/intel/ice/ice-1.3.2-zc/src# ./load_driver.sh
Configuring enx029cf3a0cfa3
Cannot change rx-vlan-offload
Cannot get device pause settings: Operation not supported
Cannot get device pause settings: Operation not supported
ls: cannot access '/sys/class/net/enx029cf3a0cfa3/device/msi_irqs': No such file or directory
Error: Could not find interrupts for enx029cf3a0cfa3
IFACE

[2021-07-25 09:24] utkarsh0902311047 commented on #740
root@aewin:~/PF_RING# echo 1024 > /sys/devices/system/node/node0/hugepages/hugepages-2048kB/nr_hugepages
root@aewin:~/PF_RING# echo 1024 > /sys/devices/system/node/node1/hugepages/hugepages-2048kB/nr_hugepages
root@aewin:~/PF_RING# cd drivers/intel/ice/ice-1.3.2-zc/src/
root@aewin:~/PF_RING/drivers/intel/ice/ice-1.3.2-zc/src# ./load_driver.sh
Configuring enx029cf3a0cfa3
Cannot change rx-vlan-offlo

[2021-07-26 07:03] cardigliano commented on #740
Please try with this:

- reboot the system
- issue the below commands:
echo 1024 > /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
mount -t hugetlbfs nodev /dev/hugepages
- provide cat /proc/meminfo

[2021-07-26 07:26] #739 closed, assigned to nobody

[2021-07-26 07:27] cardigliano commented on #738
@utkarsh0902311047 please note you are using pcap capture, please follow the dpdk documentation to use native acceleration based on your adapter model

[2021-07-26 07:27] #738 closed, assigned to nobody

[2021-07-27 01:27] cvonhamm opened #741 "Checking variable twice in same line"
https://github.com/ntop/PF_RING/blob/ea15e45d9dd51ebf237c3b6133080fb370fba33b/userland/examples_zc/zbalance_ipc.c#L1351
No purpose to check (ext_q == NULL) twice in same line. Believe the second check should be checking if pool is NULL.

[2021-07-27 05:48] utkarsh0902311047 commented on #740
![Screenshot from 2021-07-27 13-45-48](https://user-images.githubusercontent.com/78134056/127102043-35de22e8-8aa7-4416-8b2f-0433b31881a4.png)

Also in case #738 you mentioned "please note you are using pcap capture, please follow the dpdk documentation to use native acceleration based on your adapter model". What do you mean by this statement I didn't get? I am using 100G NIC by Intel E810. Please

[2021-07-27 07:33] cardigliano commented on #741
Fixed in b9e78ece875ea34677b00999a052d22ae05727d4. Thank you.

[2021-07-27 07:33] #741 closed, assigned to nobody

[2021-07-27 08:21] cardigliano commented on #740
If you are using pf_ring drivers, please read https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html for instructions to configure RSS. If you are using DPDK, please check the official dpdk documentation.

[2021-07-27 08:22] cardigliano commented on #740
As of the issue reserving hugepages, what you are experiencing looks weird, any chance I can ssh and take a look?

[2021-07-27 08:42] utkarsh0902311047 commented on #740
Sure, what should I provide you?

[2021-07-27 08:45] utkarsh0902311047 commented on #740
I was following PF_RING install guide through git.

But is there something wrong with this command I am running "./ftflow_dpdk -l 1-8 -n 16 --vdev=net_pcap0,iface=ens9f0".
Why the throughput is only 7Gbps?

[2021-07-27 08:45] cardigliano commented on #740
Please send a direct email to cardigliano at ntop.org to provide ssh credentials

[2021-07-28 09:32] Arislen opened #742 "ZeroCopy License Not Valid"
Summary:

Upgrading the version of PF_RING to the latest results in a Zero Copy license error.

Repository: https://packages.ntop.org/centos/

OS: Red Hat Enterprise Linux release 8.2 (Ootpa)
Kernel: 4.18.0-193.28.1.el8_2.x86_64 #1 SMP Fri Oct 16 13:38:49 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux

NTOP Versions:

pfring-7.9.0-6760.x86_64
pfring-dkms-7.9.0.6760-6760.noarch
n2disk-3.7.210727-5320.x86_

[2021-07-28 09:33] cardigliano commented on #742
@Arislen could you update to the latest (today's) version?

[2021-07-28 09:48] Arislen commented on #742
Looks like the latest fixed it:

Versions:
pfring-7.9.0-6766.x86_64
pfring-dkms-7.9.0.6766-6766.noarch
ixgbe-zc-5.5.3.6766-dkms.noarch
n2disk-3.7.210728-5320.x86_64

License Check:
zcount -i zc:ens1f0 -M
1631714039 Wed Sep 15 09:53:59 2021
 zcount -i zc:ens1f0 -C
License Ok

Thanks for your help.

[2021-07-28 09:49] cardigliano commented on #742
Thank you

[2021-07-28 09:49] #742 closed, assigned to nobody

[2021-07-28 09:55] cardigliano commented on #740
The hugepages issue here was due to the hugepage size configuration in grub: 1G hugepages are enabled, but ZC requires 2MB hugepages, thus the script was trying to allocate 1024, getting just 125 (which is the RAM size)

[2021-07-28 09:55] #740 closed, assigned to nobody

[2021-07-28 12:38] #735 closed, assigned to nobody

[2021-08-02 06:15] utkarsh0902311047 opened #743 "Unable to achieve 100Gbps TX throughput by PF_RING"
I am using INTEL E810 NIC of 100G for generating the data at 100gbps throughput using PF_RING.
This is the command I am writing : ./pfsend -f /home/aewin/trex_2.9/trex-core-master/scripts/avl/packet_capture1.pcap -n 0 -i zc:ens5f0 -l 1500
admin:///root/packet_capture1.zip
I have attached the pcap file I am using and the maximum throughput I can achieve is 38Gbps.
Please help

[2021-08-02 07:03] cardigliano commented on #743
@utkarsh0902311047 I suggest to use multiple RSS queues as it is unlikely a single thread/core would be able to generate full 100Gbps. Please also check "dmesg | grep pcie" or similar to check if you are using all the PCIe lanes supported by the adapter.

[2021-08-02 07:21] utkarsh0902311047 commented on #743
Does this mean running all the following commands and then go to PF_RING/userland/examples and then run the ./pfsend command??
apt-get install pfring-dkms pfring-drivers-zc-dkms
sudo touch /etc/pf_ring/pf_ring.conf
echo "node=0 hugepagenumber=1024" | sudo tee /etc/pf_ring/hugepages.conf
sudo mkdir -p /etc/pf_ring/zc/ice
echo "RSS=1,1" | sudo tee /etc/pf_ring/zc/icee/ice.conf
sudo touch /etc/pf_rin

[2021-08-02 07:26] cardigliano commented on #743
dmesg | grep -i pcie

[2021-08-02 07:27] cardigliano commented on #743
1. Replace RSS=1,1 with RSS=4,4
2. sudo systemctl restart pf_ring
3. Run one pfsend instance per queue:
pfsend ... -i zc:ens5f0@0
pfsend ... -i zc:ens5f0@1
pfsend ... -i zc:ens5f0@2
pfsend ... -i zc:ens5f0@3

[2021-08-02 07:27] utkarsh0902311047 commented on #743
![Screenshot from 2021-08-02 15-27-10](https://user-images.githubusercontent.com/78134056/127820962-5a6ed878-b968-43a4-89a7-92713a831c8c.png)

[2021-08-02 08:15] utkarsh0902311047 commented on #743
2058  touch /etc/pf_ring/pf_ring.conf
 2059  echo "node=1 hugepagenumber=1024" | tee /etc/pf_ring/hugepages.conf
 2060  mkdir -p /etc/pf_ring/zc/ice
 2061  echo "RSS=4,4" | tee /etc/pf_ring/zc/ice/ice.conf
 2062  touch /etc/pf_ring/zc/ice/ice.start
 2063  systemctl restart pf_ring
 2064  cd PF_RING/userland/examples
 2065  ./pfsend -f try1.pcap -n 0 -i zc:ens5f0@0 -l 1500

I run the above commands

[2021-08-02 08:31] cardigliano commented on #743
"Operation not permitted" are you running as root?

[2021-08-02 08:45] utkarsh0902311047 commented on #743
yes I am running as root. Usually when this kind of error appears I will go to ./drivers/intel/ice/ice-1.3.2-zc/./load_driver.sh. But it's working with 0 queue.

[2021-08-04 09:06] cardigliano commented on #743
Please provide cat /proc/net/pf_ring/dev/ens5f0/info

[2021-08-04 11:13] RaD-Andrew opened #744 "incompatible type for argument 2 of ‘devlink_port_attrs_set’"
Hi All,

I'm currently trying to build a ZIP snapshot of the 7.8.0-stable branch (taken on Monday 2nd August) on RHEL 8.4 (4.18.0-305.7.1.el8_4.x86_64), and I see this and other errors:-

In file included from /root/PF_RING-7.8.0-stable/drivers/intel/i40e/i40e-2.13.10-zc/src/i40e.h:33,
                 from /root/PF_RING-7.8.0-stable/drivers/intel/i40e/i40e-2.13.10-zc/src/i40e_main.c:8:
/root/PF_R

[2021-08-04 11:53] utkarsh0902311047 commented on #743
Here it is
![Screenshot from 2021-08-04 19-53-21](https://user-images.githubusercontent.com/78134056/128176250-ddfd8ed4-b528-4cda-999b-2b92aa0421fa.png)

[2021-08-04 12:40] cardigliano commented on #744
@RaD-Andrew please note that the latest kernels are supported in the dev version (7.9). It seems that your kernel is not supported by the stable yet (7.8).

[2021-08-04 12:42] cardigliano commented on #743
@utkarsh0902311047 it seems the ZC driver is not loaded actually. Any chance I can ssh and take a look?

[2021-08-04 13:18] utkarsh0902311047 commented on #743
I have mailed you.
I also repeat the configuration steps but I still get the same output for the cat /proc/net/pf_ring/dev/ens5f0/info as I showed above

[2021-08-04 14:22] RaD-Andrew commented on #744
Ah OK - apologies - I've missed that somehow.  I'll get a snapshot of the dev branch and will have a play.

[2021-08-04 14:22] cardigliano commented on #744
@RaD-Andrew please let me know if it works. Thank you!

[2021-08-04 14:24] RaD-Andrew commented on #744
Will do.  I'll leave this ticket open for now then.

[2021-08-05 07:58] cardigliano commented on #743
This has been addressed with a driver update. Using RSS was able to generate 100Gbps.

[2021-08-05 07:58] #743 closed, assigned to nobody

[2021-08-05 09:06] RaD-Andrew commented on #744
Morning Alfredo,

I can confirm that the dev branch snapshot taken yesterday does indeed build under RHEL8.4 / kernel 4.18.

However, we're now into build problems with our own code, and I can see that the at least one PFR function signature seems to have changed relative to 7.8.

Do you have an approximate timeframe for an official 7.9 release?  Your answer may influence what we do next :)

[2021-08-05 09:08] cardigliano commented on #744
@RaD-Andrew what is the function signature which is creating issues? I will try to push a new stable for the next weeks, but there is not exact date yet.

[2021-08-05 13:51] RaD-Andrew commented on #744
Sorry for the delay - got distracted with something else.

It's pfring_zc_create_cluster().
A,

EDIT
That's the only one causing a compile issue, but linking isn't picking up any pfring_zc_xxx() functions.  Looking into that now.

[2021-08-05 13:58] cardigliano commented on #744
What is the signature (with all parameters) your "legacy" code is using?

[2021-08-05 14:09] RaD-Andrew commented on #744
Our 7.4.0 code is missing the last argument - the 'flags' argument.  I'll read up about that later; looking into linking currently.

[2021-08-09 10:27] sdir opened #745 "Abort multiple devices are used with quick-mode"
https://github.com/ntop/PF_RING/blob/e16437551f4cba5cef12135e7119b8ab844504ee/kernel/pf_ring.c#L5398

ring_release only change `device_rings` with `ring_dev`, other bind dev not clean.

[2021-08-09 12:42] cardigliano commented on #745
@sdir could you comment more on this and better explain what you mean? Thank you.

[2021-08-09 12:59] sdir commented on #745
like
[code]
The first command can be executed successfully, the second command fails because it cannot be bound.

[2021-08-09 13:00] cardigliano commented on #745
@sdir this is a limitation of quick mode, it allows a single socket per interface/queue

[2021-08-09 13:03] sdir commented on #745
Means it can't be used like this? Thank you for your answer

[2021-08-09 13:11] cardigliano commented on #745
Correct, you cannot run 2 applications on the same interface if quick mode is enabled

[2021-08-09 13:29] sdir commented on #745
Not running at the same time, after the first command ends, the second one cannot be executed. eth1 can't pfring_open forever. the interface eth1 device_rings not set to null

[2021-08-09 15:17] cardigliano commented on #745
I pushed a fix for this, please update from the git dev branch and let me know

[2021-08-10 02:08] sdir commented on #745
Would it be better to write like this
[code]

[2021-08-10 06:55] cardigliano commented on #745
Are you saying that there is a bug also in the num_rings_per_device counters in case of multiple devices? Let me check

[2021-08-10 06:56] utkarsh0902311047 opened #746 "dpkg error: " dpkg: error processing package ice-zc-dkms (--configure):"
Hi,
Since last week I am trying to update and upgrade Ubuntu 20.04 and I keep getting errors for dpkg.
I have attached the snapshot of the errors.

Please help
![Screenshot from 2021-08-10 13-17-20](https://user-images.githubusercontent.com/78134056/128822040-3e852629-f31d-4a3c-b41f-f4e200a7e1fb.png)

[2021-08-10 07:09] cardigliano commented on #746
@utkarsh0902311047 are you running Ubuntu server LTS with the default kernel? I see you are running kernel 5.11, it should be 5.8 (this is what Ubuntu 20 is running in our lab)

[2021-08-10 07:20] cardigliano commented on #745
Fixed in e57a3adbe846233ba4df06a52c79e4bb17f79015

[2021-08-10 07:38] utkarsh0902311047 commented on #746
I am using Ubuntu Desktop 20.04.2 LTS
So it won't work on Kernel 5.11?
Which kernel should I install from the image attached?
![kernel_version](https://user-images.githubusercontent.com/78134056/128827531-43acc67b-3500-4391-b44e-b05908f3efa6.png)

[2021-08-10 07:39] cardigliano commented on #746
I suggest to install 5.8 which is what is supposed to run on Ubuntu 20

[2021-08-10 10:01] utkarsh0902311047 commented on #746
I have now set kernel 5.8 but still get the same errors.
![Screenshot from 2021-08-10 18-00-11](https://user-images.githubusercontent.com/78134056/128847919-cb21fcf9-c9be-44f4-b6ae-ff560eb18872.png)

[2021-08-10 13:38] cardigliano commented on #746
Could you provide one of the generated log files? (e.g. /var/lib/dkms/ixgbe-zc/5.5.3.6804/build/make.log)

[2021-08-10 16:31] utkarsh0902311047 commented on #746
Here it is
[make.log](https://github.com/ntop/PF_RING/files/6963038/make.log)

[2021-08-12 03:26] utkarsh0902311047 commented on #746
Please give any suggestions what should I try?

[2021-08-12 08:03] cardigliano commented on #746
It seems to be due to the kernel version, you are running a 5.8.0-050800-generic, the Ubuntu kernel version should look like 5.8.0-48-generic

[2021-08-12 12:34] ates opened #747 "IP defrag does not works for UDP VLAN traffic"
Hello,

I've tried to send UDP data which size is more than MTU via VLAN interface and found what IP defragmentation does not works in this case.

Tested on:

* PF_RING 7.8, CentOS 8.3.2011, kernel 4.18.0-240.el8.x86_64
* PF_RING dev:c449372b7f3d6fb4fe2b86c8197814f2e0a14e2c, Ubuntu 20.04, kernel 5.8.0-63-generic

options passed to pf_ring.ko: enable_debug=2 enable_ip_defrag=1

[code]
Logs:

[code]

[2021-08-12 13:11] #745 closed, assigned to cardigliano

[2021-08-12 14:09] utkarsh0902311047 commented on #746
Ok now when I set the kernel to 5.8.0-63-generic, it gets updated properly. Thank you for helping with updating.
Now when I use the pf_ringcfg --configure-driver ice --rss-queues 4, cat /proc/net/pf_ring/dev/ens5f1/info shows zc driver but TX and RX queues still show 1. They should show 4 right?
![Screenshot from 2021-08-12 22-07-40](https://user-images.githubusercontent.com/78134056/129211484-48f

[2021-08-12 14:14] cardigliano commented on #746
What pf_ring version are you using?
Please provide cat /etc/pf_ring/zc/ice/ice.conf
Please try with a reboot to make sure pf_ring is reloaded.

[2021-08-12 14:23] utkarsh0902311047 commented on #746
![Screenshot from 2021-08-12 22-16-52](https://user-images.githubusercontent.com/78134056/129213739-9e034f7a-e424-4c8c-bb8f-d5a919f93bcc.png)
PF_RING version 8.1.0. It automatically gets updated to 8.1.0 when I run apt-get update && apt-get upgrade

[2021-08-13 07:45] cardigliano commented on #746
Please try with a reboot to make sure pf_ring is reloaded.
After that please provide cat /proc/net/pf_ring/dev/ens5f1/info again.

[2021-08-13 08:14] utkarsh0902311047 commented on #746
After reboot this is the output of the command cat /proc/net/pf_ring/dev/ens5f1/info
![Screenshot from 2021-08-13 16-13-46](https://user-images.githubusercontent.com/78134056/129326134-d374581e-3fb1-4a42-b52d-22f613d89fb6.png)

[2021-08-13 08:24] cardigliano commented on #746
The ice driver is not getting loaded, it looks like a misconfiguration, please provide:

tree /etc/pf_ring
cat /proc/net/pf_ring/info

[2021-08-13 08:37] utkarsh0902311047 commented on #746
here it is
![Screenshot from 2021-08-13 16-37-35](https://user-images.githubusercontent.com/78134056/129329476-eba202c2-1927-4821-b141-995c12b4e873.png)

[2021-08-13 09:01] cardigliano commented on #746
Uhm you said "updated to 8.1.0", but 8.0.0 is loaded, please cleanup the environment

[2021-08-13 09:01] cardigliano commented on #746
and make sure ice-zc-dkms is installed

[2021-08-13 09:09] utkarsh0902311047 commented on #746
First I was trying with development builds which installs pfring 8.1.0
Since it was not giving satisfactory results I tried stable build.

Yes, this command I have already executed "apt-get install pfring-drivers-zc-dkms ".
Should I install development builds?

[2021-08-13 15:50] cardigliano commented on #746
Please do a "systemctl restart pf_ring" and provide me the output of "systemctl status pf_ring"

[2021-08-13 15:52] cardigliano commented on #744
@RaD-Andrew we pushed a new stable (8.0) this week. However at this point we cannot revert the pfring_zc_create_cluster signature, please update the code to use the flags option.

[2021-08-13 15:52] #744 closed, assigned to nobody

[2021-08-14 03:46] utkarsh0902311047 commented on #746
It seems ice-zc driver not installed properly. But there was no error while installing. What should I do about it?
![pf_ring_error1](https://user-images.githubusercontent.com/78134056/129433107-2a2cafb4-def9-4b21-9066-5d62d0cdc47d.png)

[2021-08-16 06:31] RaD-Andrew commented on #744
Thanks Alfredo – I’ll have a play.
A.

@RaD-Andrew<https://github.com/RaD-Andrew> we pushed a new stable (8.0) this week. However at this point we cannot revert the pfring_zc_create_cluster signature, please update the code to use the flags option.
This email and any files transmitted with it are confidential and contain information which may be privileged or confidential and are intended solely t

[2021-08-16 06:31] cardigliano commented on #746
Please make sure the ice-zc-dkms package is installed.

apt-get update
apt-get install ice-zc-dkms

[2021-08-16 06:32] RaD-Andrew commented on #744
Thanks Alfredo - I'll have a play.

[2021-08-16 08:13] utkarsh0902311047 commented on #746
I update and then apt-get install ice-zc-dkms says E: Unable to locate package ice-zc-dkms
![Screenshot from 2021-08-16 16-12-01](https://user-images.githubusercontent.com/78134056/129532561-b2124ec7-bac9-40a3-bcb1-6797343df3a0.png)

[2021-08-16 09:15] ShijunGao opened #748 "100% packet drop on pfcount ice"
Hello, bros!
I have problems with GIT version of PF_RING. I am encountering 100% packet drop using pfcount.

check pf_ring info
![image](https://user-images.githubusercontent.com/20250923/129541171-7e062e2a-c94c-458a-91eb-2eda8b1a3842.png)

![image](https://user-images.githubusercontent.com/20250923/129538040-7fb80de4-01ea-4153-924f-f09db31d8817.png)

run `./pfcount -i zc:eth2`

![image](https://u

[2021-08-16 10:31] ates commented on #747
VLAN stripping offload is disabled
[code]

[2021-08-16 18:09] cardigliano opened #749 "Add pfring-dkms as dependency of *-zc-dkms"
Add pfring-dkms as dependency of all xxx-zc-dkms drivers to avoid common mistakes/misconfigurations.

[2021-08-16 18:15] cardigliano commented on #746
@utkarsh0902311047 it seems there is some misconfiguration, the ixe-zc-dkms package is actually available for Ubuntu 20 as you can see at https://packages.ntop.org/apt/20.04/all/ (it is working for me). Please try reconfiguring the repository.

[2021-08-16 18:18] cardigliano commented on #748
@ShijunGao could you try updating to the latest version (8.1) first of all, to make sure we are using/looking at the same code? Thank you.

[2021-08-17 02:48] ShijunGao commented on #748
Hi，
Now update to the latest version (8.1) from git, the problem is still here.
![image](https://user-images.githubusercontent.com/20250923/129655880-928c28d8-2c19-4a36-ae07-c1fa37defb73.png)
Using PF_RING v.8.1.0
Capturing from zc:eth2 [mac:xxxxx][if_index: 7][speed: 10000Mb/s]
# Device RX channels: 1
# Polling threads:    1
Dumping statistics on /proc/net/pf_ring/stats/2831-eth2.1
==============

[2021-08-17 06:37] cardigliano commented on #748
@ShijunGao please provide the output of dmesg (please upload a txt file)

[2021-08-18 02:25] utkarsh0902311047 commented on #746
When I run this command "apt install ./apt-ntop.deb", I get the following message in the end. Should I ignore it?
N: Download is performed unsandboxed as root as file '/root/apt-ntop.deb' couldn't be accessed by user '_apt'. - pkgAcquire::Run (13: Permission denied)

[2021-08-18 02:40] ShijunGao commented on #748
[dmesg.txt](https://github.com/ntop/PF_RING/files/7004131/dmesg.txt)

thx

[2021-08-18 06:17] utkarsh0902311047 commented on #746
I have again download the repository from development build. The pf_ring version is now 7.9.0. The ice driver is installed.
But the queues it shows is still 1.
I have attached a snapshot of the commands
 cat /proc/net/pf_ring/dev/ens5f1/info
cat /etc/pf_ring/zc/ice/ice.conf
cat /proc/net/pf_ring/info
![Screenshot from 2021-08-18 14-08-10](https://user-images.githubusercontent.com/78134056/12984736

[2021-08-18 06:50] cardigliano commented on #746
@utkarsh0902311047 please note the pf_ring version in the dev/nightly build repository is 8.1, this means there is some misconfiguration. If you installed latest packages, it is likely the pf_ring module has not been reloaded (or it has not been reinstalled by dkms, or there is some old pf_ring.ko module installed). First of all I would try with a system reboot. If the problem is still there, I wo

[2021-08-18 06:51] cardigliano commented on #748
@ShijunGao everything looks fine from dmesg, any chance you can provide ssh access to debug this? Please drop an email to cardigliano at ntop.org

[2021-08-18 07:09] utkarsh0902311047 commented on #746
Ok done. Now what should I do to get the queues equal to 4?
![Screenshot from 2021-08-18 15-09-09](https://user-images.githubusercontent.com/78134056/129853843-654daac5-1b11-4eca-95ee-d1b105c05c83.png)

[2021-08-18 18:38] dgilbert101 opened #750 "No release tag for 8.0.0"
According to this blog post, https://www.ntop.org/pf_ring/introducing-pf_ring-8-0-batch-packet-processing-and-xdp-support/, pfring 8.0 has been released. Although I dont see an official release tag for it. Is there a plan to officially tag it? Or should I just use the branch?

[2021-08-19 02:54] ShijunGao commented on #748
Thank you ! I don't know why,btw it workers now!

[2021-08-19 02:54] #748 closed, assigned to cardigliano

[2021-08-19 07:16] cardigliano commented on #746
Set RSS=4,4 in /etc/pf_ring/zc/ice/ice.conf, then restart the pfring service with systemctl restart pf_ring

[2021-08-19 07:58] utkarsh0902311047 commented on #746
I already tried that. But still it shows queues 1.

[2021-08-20 15:52] andyarus opened #751 "modprobe pf_ring 6.4.1 error on 3.16.0-6-amd64 Debian"
Hello!
I get error on Debian 3.16.0-6-amd64

**sudo modprobe pf_ring
modprobe: ERROR: could not insert 'pf_ring': Unknown symbol in module, or unknown parameter (see dmesg)
dmesg:
pf_ring: Unknown symbol sk_detach_filter (err 0)**

On Debian 3.16.0-4-amd64 all work fine

**sudo modinfo pf_ring && sudo cat /proc/net/pf_ring/info**
filename:       /lib/modules/3.16.0-4-amd64/kernel/net/pf_ring/pf_ri

[2021-08-20 18:09] andyarus commented on #751
It look like
[https://www.mail-archive.com/ntop-misc@listgateway.unipi.it/msg06379.html](url)
Could you please also make a patch for PF RING 6.4.1?

[2021-08-21 06:58] cardigliano commented on #751
@andyarus we no longer support 6.4 which is quite old (latest stable is 8.0), feel free to send a PR

[2021-08-21 14:18] #751 closed, assigned to nobody

[2021-08-21 14:18] andyarus commented on #751
Ok thanks

[2021-08-23 12:43] cardigliano commented on #749
Dependency added

[2021-08-23 12:43] #749 closed, assigned to nobody

[2021-08-23 12:43] cardigliano commented on #750
The release has been created

[2021-08-23 12:43] #750 closed, assigned to nobody

[2021-08-23 12:46] cardigliano commented on #746
@utkarsh0902311047 are you still unable to set RSS? Could you provide ssh access?

[2021-08-23 15:09] cardigliano opened #753 "Add support for Debian 11"
ZC drivers currently do not compile on Debian 11

[2021-08-24 03:38] utkarsh0902311047 commented on #746
Yes, I am still unable to set the TX and RX queues 4.
I have injured my leg so I am not able to go to the lab this week.
Is it possible to give you ssh access next week?

[2021-08-24 07:22] cardigliano commented on #746
Sure, feel free to come back on this as soon as you recover from the injury. Drop an email to cardigliano at ntop.org with the credentials.

[2021-08-24 14:09] #753 closed, assigned to cardigliano

[2021-08-25 01:20] scmcelt opened #754 "PF_RING-daq-module snort3 compatibility"
Hi, I'm currently experiencing an issue when attempting to compile the pfring-daq-module. I'm getting the following error when running ./configure.

[code]

Currently I'm trying to compile the daq-module to get snort3 working with it. I have followed the installation guide via the following link, but the instructions appear to be specific to snort 2.9 https://www.ntop.org/guides/pf_ring/thirdparty

[2021-09-03 06:48] anust opened #757 "run ftflow_dpdk application in fwd mode"
from the example code it is clear that its being written for forward mode, but it is not forwarding any packets and showing a huge packet loss when tested with t-rex.

command

`sudo ./build/ftflow_dpdk  -- -p 0,1 -F -7`

[2021-09-03 07:13] cardigliano commented on #757
@anust correct, the -F option enables packet forwarding between ports, however it may be it is not really optimized, a code review is required for performance tests. Please feel free to send a PR if you wish.

[2021-09-05 14:08] jpds opened #758 "igb_main.c:7638:3: error: implicit declaration of function ‘read_barrier_depends’"
The `igb` driver fails to build with an `5.13.13` source tree with:

[code]

...which appears to have been deprecated: https://lkml.org/lkml/2020/6/30/886

[2021-09-06 07:07] cardigliano commented on #758
@jpds please note that gentoo is not officially supported, however I will try to push a patch support newer kernels asap.

[2021-09-06 08:56] cardigliano commented on #758
@jpds please check if latest code compiles for you

[2021-09-06 10:07] jpds commented on #758
@cardigliano That fixed it for me, thank you

[2021-09-06 10:07] #758 closed, assigned to nobody

[2021-09-09 03:30] MaoPann opened #759 "ZC startup error"
------------------------------------------

[root@SPAN src]# pf_ringcfg --configure-driver i40e --rss-queues  10 --force
[>] Configuring PF_RING
[>] Configuring hugepages
[>] Detecting interfaces using i40e
ens2f3
ens2f1
ens1f1
eno1
ens2f2
eno2
ens2f0
ens1f0
[>] Configuring i40e driver with 10 RSS queues
[>] Restarting PF_RING
[>] Configuration completed
-------------------------------------------

[2021-09-09 07:47] cardigliano commented on #759
Are you able to run pfcount on the same interface? pfcount -i zc:ens1f1@0
Did you check that there is no other application using the same interface?

[2021-09-09 07:57] MaoPann commented on #759
@cardigliano

I comfirm other application using the same interface,Because I reboot frist.I don't think ZC driver starts normally.

I also try install use git , report same error as above,and i find this.
![image](https://user-images.githubusercontent.com/44804599/132646482-8866b12b-ef93-4a1b-8b2c-e19ac051e139.png)

[2021-09-09 08:21] cardigliano commented on #759
Did you check the pf_ring service log (systemctl status pf_ring) after reboot to check for failures loading the driver?
Alternatively, if you use the load script, could you try removing the i40iw iWarp module with rmmod i40iw before loading the zc driver?

[2021-09-09 08:26] MaoPann commented on #759
I tried rmmod i40iw but failed. Can you use TeamViewer to view the problem remotely? This problem comes from a customer who bought cento and pfring ZC not long ago. They are now experiencing this problem in installation and use.

[2021-09-10 06:23] anust commented on #757
@cardigliano Plz tell how to print per packer dpi result , instead of cumulative results at then end of the application.

[2021-09-10 07:32] cardigliano commented on #757
Please see pfring_ft_set_flow_packet_callback (called when a packet and its flow have been processed, for each packet) and pfring_ft_set_l7_detected_callback (called when a packet and its flow have been processed and the l7 protocol has been just detected)

[2021-09-10 07:34] cardigliano commented on #759
Please drop an email to cardigliano at ntop.org, we will schedule a debug session

[2021-09-13 16:37] cardigliano commented on #759
Fixed

[2021-09-13 16:37] #759 closed, assigned to nobody

[2021-09-13 16:37] #757 closed, assigned to nobody

[2021-09-19 15:34] 308066400 opened #761 "Make errors ."
make -C /lib/modules/5.13.17-545.kvm/build M=/home/mm/Desktop/PF_RING/kernel EXTRA_CFLAGS='-I/home/mm/Desktop/PF_RING/kernel -DGIT_REV="\"dev:9b2181aa2dbf1360406789fff3fdbcec110e2dd5\"" -no-pie -fno-pie -Wno-implicit-fallthrough' modules
make[1]: *** /lib/modules/5.13.17-545.kvm/build: No such file or directory.  Stop.
make: *** [Makefile:67: all] Error 2

[2021-09-20 07:07] cardigliano commented on #761
It seems something is missing in your kernel source tree, in distros like ubuntu this can be fixed installing the kernel-headers package, however this does not look like one of the distros we support.

[2021-09-20 08:43] #761 closed, assigned to nobody

[2021-10-13 13:56] gianogli opened #762 "pfring_zc_numa_get_cpu_node return a wrong NUMA node"
I discovered an issue with the `pfring_zc_numa_get_cpu_node` API function on your stable branche "8.0.0-stable".
This function return wrong NUMA node IDs on my HW!

I've a HPE DL560 Gen10  and here you can see the output of lscpu command:

[code]

I attached also the graphical output of lstopo command.

![dl560_gen10](https://user-images.githubusercontent.com/14093378/137142958-dfbdecf0-4503-4a7d-

[2021-10-13 15:10] teoring opened #763 "pfring_set_cluster with cluster_per_inner_flow_tcp_5_tuple balancing option causes eth_type to be corruped"
Hello,

I am using PFRING 7.8.0 from **7.8.0-stable** branch commit **f0df19bc58f89b552198a83d7c495c25ff4ba5f0**.
Ubuntu 20.04.3 LTS host, x86_64 arch.

I am sniffing ERSPAN traffic, it has EthernetType: IPv4 ( 0x0800 ). When invoking **pfring_set_cluster** with **cluster_per_inner_flow_tcp_5_tuple** cluster type I noticed that after **pfring_recv** invocation eth header (hdr.extended_hdr.parsed_p

[2021-10-13 15:14] cardigliano commented on #763
@teoring this does not look like a known issue. Are you able to provide some packet (pcap file) before and after the "corruption"? Thank you.

[2021-10-13 15:19] teoring commented on #763
That might be an issue since I can't disclose the content of the capture (pcap). But it has nothing special inside, just some ERSPAN type 0x88be (GRE_P_ERSPAN) traffic.

I am using the same PCAP with the same application started few times with different cluster types and both times the same PCAP causes packets to have different eth_type.

Might be you can try to reproduce with any available ERSPAN

[2021-10-13 15:20] teoring commented on #763
I noticed another issue, that one is disconnected from pfring_set_cluster. pfring_recv on packet captured from interface doesn't parse the packet in a same manner as pfring_parse_pkt on packet loaded with libpcap from PCAP (capture). Is it explected? Should I open a separate issue?

[2021-10-13 15:22] cardigliano commented on #763
I will try with some other ERSPAN traffic, no problem.
As of the other issue, yes please open a different ticket with all the details/example.

[2021-10-13 15:22] teoring commented on #763
Thank you.

[2021-10-13 15:36] teoring commented on #763
Let me provide few more details.

I have multiple workers, each of them call pfring_open with flags mentioned above, pfring_set_cluster ( same cluster id ) and pfring_enable_ring.

Then they start polling in non blocking manner with pfring_poll( , 100 ) intervals ( 100 ms ).

            int ret = pfring_recv( aVars.pfringP(), aVars.currentFrameRef().dataPP(), 0,

[2021-10-13 16:01] teoring opened #764 "Packet received with pfring_recv and pcap_next_ex doesn't have the same payload"
Hello,

I am using PFRING 7.8.0 from 7.8.0-stable branch commit f0df19b.
Ubuntu 20.04.3 LTS host, x86_64 arch.
Libpcap from the PFRING repo, v1.9.1, compiled together with pfring.

We are parsing the same packet in two ways. In the first case, we just get it from the interface with pfring_recv and packet is already parsed. In the second case we are getting the packet from PCAP with pcap_next_ex ca

[2021-10-14 11:20] teoring opened #765 "pfring_set_cluster regression in comparison to PFRING 7.2.0"
Hello,

I am using PFRING 7.8.0 from 7.8.0-stable branch commit f0df19b.
Ubuntu 20.04.3 LTS host, x86_64 arch.

I have this powerful server where I was running my application with 69 worker threads using PFRING 7.2.0. Every worker thread was calling pfring_set_cluster for load balancing.

Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:

[2021-10-22 12:53] gianogli commented on #762
Any news?
If you need other info or debug/test output feel free to ask... ;-)
Thanks... :-)

P.S.: 2 weeks ago I moved the pf_ring licenses (and obviously the net card) from my old server to the new one. It could be related to the issue? Have I to ask for new licenses?

[2021-10-22 12:58] cardigliano commented on #762
@gianogli I didn't have the chance to debug this yet,
could you provide the content of:

/sys/devices/system/node/node{0,1,2,3}/cpumap

[2021-10-22 13:06] gianogli commented on #762
No problem... ;-)

[code]

[2021-10-22 13:38] #762 closed, assigned to cardigliano

[2021-10-22 13:38] cardigliano commented on #762
I pushed a fix for this to both dev and stable code on github. New packages will be available later today too.

[2021-10-22 13:42] gianogli commented on #762
I'll try it asap!
Thanks!!! :-)

[2021-10-25 13:11] gianogli commented on #762
Now it's working... ;-)
Thanks!!!

[2021-10-26 05:51] xyzheng0706 opened #766 "pfring PANIC: "BUG: unable to handle kernel NULL pointer dereference at 000000000000006c""
The machine info:
CentOS Linux release 7.3.1611 (Core)
Linux 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
02:00.0 Ethernet controller: Intel Corporation Ethernet 10G 2P X520 Adapter (rev 01)
02:00.1 Ethernet controller: Intel Corporation Ethernet 10G 2P X520 Adapter (rev 01)

[root@aln-perfgen72 ~]# lscpu
Architecture:          x86_64
CPU op-mode(s):

[2021-10-26 07:04] cardigliano commented on #766
@xyzheng0706 are you able to move to the latest pf_ring (8.0 or 8.1)? You are running an old pfring version which is no longer supported..

[2021-10-27 02:40] xyzheng0706 commented on #766
Thanks cardigliano, I test 8.0 and 7.4.0 is ok, could you help to indicate the root cause of this issue? It is weird, two ports send traffics at the same time will trigger crash.

[2021-10-27 06:32] cardigliano commented on #766
@xyzheng0706 just to make sure, are you able to reproduce the crash with 8.0?

[2021-10-28 06:47] xyzheng0706 commented on #766
I can't reproduce in 8.0

[2021-10-28 06:52] cardigliano commented on #766
I suggest to use latest 8.0 or 8.1 then (we cannot support old versions)

[2021-10-28 06:52] #766 closed, assigned to nobody

[2021-11-03 10:51] cardigliano opened #767 "[ZC] Hardware timestamp support on Intel E810"

[2021-11-04 10:07] sohailanjum97 opened #768 "nprobe Cento (Licensed) pfring_zc_open_driver error with Ubuntu 18.04 kernel 5.4.0-89-generic"
I am using the nProbe Cento Licensed version which requires a pf_ring ZC driver. I have installed and followed the instruction from the official website
https://packages.ntop.org/apt/
and be specific for ZC drivers using this command.
apt-get install pfring-drivers-zc-dkms

my RSS 4,4.  I have set the huge pages:
There are some screenshots for your reference.
OS:  Ubuntu 18.04.5 LTS (Kernel 5.4.0-

[2021-11-04 10:10] cardigliano commented on #768
Please provide cat /proc/net/pf_ring/dev/enp24s0f0/info

[2021-11-04 10:36] sohailanjum97 commented on #768
Please see the 2nd last screenshot. Info is available there.

[2021-11-04 10:39] cardigliano commented on #768
Ok I see that, it seems the driver has not been actually loaded, weird. Any chance you can provide ssh (or other) access to this system for debugging? (drop an email to cardigliano at ntop.org in case)

[2021-11-04 11:39] sohailanjum97 commented on #768
Sent email. Please check wether it’s in the inbox or spam may be.

[2021-11-05 08:41] sohailanjum97 commented on #768
Facing another issue now.
![54D31BE4-A762-4CE9-A3E1-B28CE61B0BB3](https://user-images.githubusercontent.com/48083468/140482480-89780c35-628e-4c03-8417-8ccebd4f3238.jpeg)

[2021-11-05 08:48] cardigliano commented on #768
@sohailanjum97 this is expected as the driver is not loaded, I will fix the driver in your system

[2021-11-05 08:49] sohailanjum97 commented on #768
Ok

[2021-11-10 16:35] bth-kumar opened #769 "Reopen Crashed/Killed ZC application"
Hi,

Is there any way (linux cmds) to restart the zc application if it is crashed/killed just before. Every time I used to unload and reload the modules.
I generally get two types of error: -
1. Port is already open
2. No hugepage available.

[2021-11-11 01:30] sohailanjum97 commented on #500
Dear Cardigliano, I have sent you an email and looking forward to hearing from you soon.

[2021-11-11 11:14] cardigliano opened #770 "Compilation issues on Ubuntu 20.04.3 LTS 5.11.0-38-generic"
ixgbe and i40e ZC drivers do not compile on latest Ubuntu 20.04.3 LTS kernel5.11.0-38-generic

/var/lib/dkms/ixgbe-zc/5.5.3.7085/build/ixgbe_main.c: In function ‘ixgbe_setup_rx_resources’:
/var/lib/dkms/ixgbe-zc/5.5.3.7085/build/ixgbe_main.c:8124:6: error: too few arguments to function ‘xdp_rxq_info_reg’

[2021-11-15 05:29] MaoPann opened #771 "Failed to send data repeatedly"
For some special reasons, we need to send some packets repeatedly.

As shown in the figure below, I intend to send the same data packet repeatedly using the for loop for many times. The sender program shows that all data packets are sent successfully, but our receiver can only receive the first data sent repeatedly.
![image](https://user-images.githubusercontent.com/44804599/141727361-042eec76-eb8

[2021-11-15 05:29] MaoPann commented on #771
Supplementary note, we use ZC driver

[2021-11-15 09:19] cardigliano commented on #771
I am not sure I got his, please rephrase. You said "I intend to send the same data packet repeatedly " and "our receiver can only receive the first data sent repeatedly", thus sounds expected.

[2021-11-15 09:23] MaoPann commented on #771
I mean, for example, we want to repeatedly send packet AAA 10 times, and the sending program shows that it has been successfully sent 10 times, but in fact, we only receive AAA  once at the receiving end, and we expect to receive AAA  10 times at the receiving end.

[2021-11-15 09:27] cardigliano commented on #771
Please note that when you send the packet, the g_postZpbSend is replaced with a fresh buffer, thus you need to forge the packet again in the new data pointer referenced by g_postZpbSend

[2021-11-15 21:39] sippejw commented on #707
Is there any update on this? I am seeing the same thing on `Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-90-generic x86_64)`. Building  `8.0.0-stable` from source and using `zbalance_ipc` is producing the same error as above.

[2021-11-16 05:46] MaoPann commented on #771
fixed, thanks,

[2021-11-16 06:18] gautamch13 opened #772 "Why PF_RING ZC license needed to send traffic on Napatech port using disk2n?"
Hi Team,

We trying to use disk2n on napatech port and we have procured the license for disk2n.
 But we are not able to understand why would PF_RING zc license will be required in this case?
Can you help us so that we can use it without ZC license .

#disk2n -f pcef-gtp-sessions.pcap -i nt:0 -I 30 -C 65535 -b 20480 -c 12 -w 13 -S 14 -v

#############################################################

[2021-11-16 08:34] cardigliano commented on #707
@sippejw since we are not able to reproduce (and thus debug) this, could you provide detailed instructions to reproduce it or even better access to the system? Thank you.

[2021-11-16 08:42] cardigliano commented on #772
@gautamch13 please note that Napatech requires a ZC license, please see on shop.ntop.org the "PF_RING ZC license (per adapter) for .. Napatech" item

[2021-11-18 08:28] cardigliano commented on #770
Fixed in b553fd6389f5ed8b850122470b4c555f6697199d

[2021-11-18 08:28] #770 closed, assigned to cardigliano

[2021-11-18 08:28] #772 closed, assigned to nobody

[2021-11-18 08:28] #771 closed, assigned to nobody

[2021-11-18 08:29] #768 closed, assigned to nobody

[2021-11-23 21:23] aidanharris opened #773 "Fails to build with CONFIG_WERROR (linux-5.15)"
[code]

[2021-11-24 08:37] cardigliano commented on #773
I pushed a fix for the reported compilation errors

[2021-11-24 19:04] #773 closed, assigned to cardigliano

[2021-11-25 19:18] jeremyerb opened #774 "i40e 2.13.10 unstable under high network load"
Intel pulled the 2.13.10 due to unstable problems under high network load

RedHat reference:
https://access.redhat.com/solutions/6104421

Intel:
https://downloadmirror.intel.com/30190/eng/635390-TA-256.pdf

We are currently experiencing this problem with the PF_RING i40e 2.13.10 driver.

[2021-11-26 08:06] cardigliano commented on #774
Thank you @jeremyerb , we will port ZC to the latest i40e asap

[2021-11-26 08:07] cardigliano commented on #769
@bth-kumar there should be no need to reload the modules, when you get something like "port is already open" please make sure there is no application running on the same ZC cluster.

[2021-11-30 19:53] jmwample commented on #707
To follow up here. We have experienced this issue on ubuntu 18.04 and 20.04 specifically for network cards using the intel XL710 qsfp+ network driver. It seems to be caused by the i40e driver and happens only for 7.8.0-stable and later (including the dev branch as of 5cc19525b97142e0147fdb930b59f84770fb4e51) -- `drivers/intel/i40e/i40e-2.4.6-zc` doesn't seem to have this issue.

### Hardware

[cod

[2021-12-01 08:19] cardigliano commented on #707
This may be related to https://github.com/ntop/PF_RING/issues/774

[2021-12-06 14:39] cardigliano commented on #774
New driver i40e-zc v. 2.17.4 available (20333f7e4bc12a095367ae1eca88c29f46ed92b2 565ddbe45040e96f7e4d072e6ba4a36e0517def6)

[2021-12-07 14:44] Arislen opened #775 "ZeroCopy Drivers will not install on RedHat 8.5"
OS: Red Hat Enterprise Linux release 8.5 (Ootpa)
Kernel: 4.18.0-348.2.1.el8_5.x86_64 #1 SMP Mon Nov 8 13:30:15 EST 2021 x86_64 x86_64 x86_64 GNU/Linux

System has the most up2date RHEL patches.

NTOP Versions Installed (from: https://packages.ntop.org/ Nightly Build Repository)

pfring-drivers-zc-dkms-8.1.0-7117.noarch
pfring-dkms-8.1.0.7117-7117.noarch
n2disk-3.7.211204-5344.x86_64
pfring-drivers

[2021-12-09 17:24] cardigliano commented on #775
A driver update is now available with compilation fixes for latest RH 8.5 kernels

[2021-12-10 22:38] Arislen commented on #775
Thanks for the quick response.

Installed the latest ZC divers with no issues.

[2021-12-13 08:02] #775 closed, assigned to cardigliano

[2021-12-13 08:03] #774 closed, assigned to cardigliano

[2021-12-27 08:39] #769 closed, assigned to nobody

[2021-12-27 08:46] cardigliano commented on #765
Tested on pf_ring 8.x with 70 cluster consumers

[2021-12-27 08:46] #765 closed, assigned to cardigliano

[2021-12-27 08:47] cardigliano commented on #764
@teoring sorry for late reply, please provide a PCAP with a packet that we can use to reproduce this.

[2021-12-28 09:09] cardigliano opened #776 "Add unicast mode on Mellanox"
The zero-copy driver for Mellanox currently supports promiscuous mode only, setting a filter to match any traffic. Unicast mode should be also supported when promisc is not required (a filter on mac/broadcast should be set)

[2022-01-10 06:35] MrzMrzMr opened #777 "Compile error + lib module:4.18.0-193.28.1.el7.aarch64 + CentOS Linux release 7.9.2009"
[root@localhost PF_RING-8.0.0-stable]# uname -a
Linux localhost.localdomain 4.18.0-193.28.1.el7.aarch64 #1 SMP Wed Oct 21 16:25:35 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux
[root@localhost PF_RING-8.0.0-stable]# cat /etc/redhat-release
CentOS Linux release 7.9.2009 (AltArch)
[root@localhost PF_RING-8.0.0-stable]#

[root@localhost PF_RING-8.0.0-stable]# pwd
/root/xxxxx/PF_RING-8.0.0-stable
[root@l

[2022-01-10 08:24] cardigliano commented on #777
@MrzMrzMr could you check whether 8.1 compiles in your environment?

[2022-01-10 09:19] MrzMrzMr commented on #777
@cardigliano Which command should I use to check?

[2022-01-10 09:35] cardigliano commented on #777
Same commands, using the latest code (git clone https://github.com/ntop/PF_RING.git)

[2022-01-10 09:43] MrzMrzMr commented on #777
Same result

[2022-01-10 10:09] MrzMrzMr commented on #777
I wanted to add --DNO_PTP_SUPPORT in \ pf_ring-8.0.0-stable\drivers\ Intel\e1000e-e1000e-3.8.7-zc\SRC\common.mk, but it didn't work

“EXTRA_CFLAGS += -DNO_PTP_SUPPORT”

---------------------------------------------------------------------------------
PF_RING-8.0.0-stable\drivers\intel\e1000e\e1000e-3.8.7-zc\src\Makefile

# customized kernelbuild function
#
# ${1} is the kernel build target
# ${2}

[2022-01-10 10:13] MrzMrzMr commented on #777
-------------------------
#ifdef CONFIG_PTP_1588_CLOCK
#include <linux/clocksource.h>
#include <linux/ktime.h>
#include <asm/tsc.h>
#endif
....
-------------------

the CONFIG_PTP_1588_CLOCK works only on x86 platform, not work on ARM platform ,  right?

****

[2022-01-10 10:17] cardigliano commented on #777
@MrzMrzMr I didn't realize you are running on arm, please note Intel only is supported by ZC drivers, please skip the drivers compilation

[2022-01-10 10:22] MrzMrzMr commented on #777
@cardigliano  The CPU architecture is ARM, right?

[root@localhost PF_RING-8.0.0-stable]# uname -a
Linux localhost.localdomain 4.18.0-193.28.1.el7.aarch64 #1 SMP Wed Oct 21 16:25:35 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux
[root@localhost PF_RING-8.0.0-stable]# cat /etc/redhat-release
CentOS Linux release 7.9.2009 (AltArch)

[2022-01-10 10:26] MrzMrzMr commented on #777
@cardigliano
https://elixir.bootlin.com/linux/v4.8/ident/convert_art_to_tsc,
According to this link,  the tsc. h exists only in arch/x86 directory, no other.

[2022-01-10 10:54] cardigliano commented on #777
Yes, as I said please skip the drivers compilation on this architecture

[2022-01-10 11:14] MrzMrzMr commented on #777
@cardigliano

[2022-01-10 11:14] #777 closed, assigned to cardigliano

[2022-01-13 09:06] teoring commented on #764
@cardigliano Unfortunately, I can't share the PCAP due to policies. I am okay to close this ticket.

[2022-01-13 10:54] cardigliano commented on #764
Ok, please reopen if you can still reproduce and provide more info to help us debug it

[2022-01-13 10:54] #764 closed, assigned to nobody

[2022-01-19 05:25] dreamhighhd commented on #575
[root@xs-network-dpi src]# journalctl -u pf_ring -f
-- Logs begin at Mon 2021-12-27 19:03:02 CST. --
Jan 19 12:35:13 xs-network-dpi pf_ringctl[24987]: [  OK  ]
Jan 19 12:35:13 xs-network-dpi systemd[1]: Started PF_RING service.
Jan 19 13:22:45 xs-network-dpi systemd[1]: Stopping PF_RING service...
Jan 19 13:22:46 xs-network-dpi pf_ringctl[11026]: Stopping PF_RING module: [  OK  ]
Jan 19 13:22:46 x

[2022-01-19 05:25] dreamhighhd commented on #575
[root@xs-network-dpi src]# lsmod |grep pf_ring
pf_ring               722460  6
[root@xs-network-dpi src]# lsmod |grep ixgbe
ixgbe                 333244  0
mdio                   14073  1 ixgbe
dca                    15130  1 ixgbe
ptp                    19231  2 ixgbe,e1000e

[2022-01-19 05:28] dreamhighhd commented on #575
[root@xs-network-dpi src]# cat /proc/net/pf_ring/dev/enp2s0f0/info
Name:         enp2s0f0
Index:        16
Address:      00:1B:21:B1:65:7B
Polling Mode: NAPI
Promisc:      Enabled
Type:         Ethernet
Family:       Standard NIC
# Bound Sockets:  3
TX Queues:    12
RX Queues:    12
You have new mail in /var/spool/mail/root

[2022-01-19 05:29] dreamhighhd commented on #575
[root@xs-network-dpi src]# lspci | grep Ethernet
02:00.0 Ethernet controller: Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)
02:00.1 Ethernet controller: Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)
06:00.0 Ethernet controller: Intel Corporation 82574L Gigabit Network Connection
07:00.0 Ethernet controller: Intel Corporation 82574L Gigabit Ne

[2022-01-19 06:45] Lara-xu opened #778 "intel 82599ES PF_RING ZC unable to install successfully, ERROR: Module ixgbe-zc not found"
Hi, I have a 10G network and want to use PF_RING ZC RSS the traffic to the ntopng for monitoring.
However, the PF_RING ZC installation was unsuccessful and the ixgbe-zc not found, whether it was done from the command line or the source code.
The NIC is intel 82599ES.

[code]

[2022-01-19 10:31] cardigliano commented on #778
1. I guess you installed ixgbe-zc-dkms
2. Could you try reinstalling it, and sending the output, to check for errors?
3. If you are familiar with the dkms command, you can try rebuilding the module from there directly

[2022-01-19 10:32] cardigliano commented on #575
@dreamhighhd what OS are you running? What is the pfring version?

[2022-01-20 02:03] dreamhighhd commented on #575
CentOS Linux release 7.9.2009 (Core)
[root@xs-network-dpi ~]# rpm -qa|grep pfring
pfring-dkms-8.0.0.7172-7172.noarch
pfring-drivers-zc-dkms-8.0.0-7172.noarch
pfring-8.0.0-7172.x86_64

[2022-01-20 03:16] dreamhighhd commented on #575
Hello, I need the support of ntopng. I have about 5g image data received from nprobe and then pushed to ntopng. The image data contains the data of three VLANs. I distinguish services by creating sub interfaces and configuring corresponding VLANs for each interface, but now the platform data is inaccurate.

[2022-01-20 03:17] dreamhighhd commented on #575
Is there any solution to optimize

[2022-01-20 03:19] dreamhighhd commented on #575
pf_ The ring driver has been installed, but the effect is not as good as before. The data displayed on the ntopng platform is very small, and one interface for each VLAN cannot be displayed. I don't know if it's a configuration problem.

[2022-01-20 14:10] cardigliano commented on #575
Are you loosing traffic on nProbe? Could you check the nProbe statistics for packet drops?

[2022-01-21 04:22] dreamhighhd commented on #575
Flow comparison on network port:

                                                    VLAN123 VLAN234 VLAN345

Real traffic of service switch:    2.8G            1.4G         1.4G

Traffic received by the server:  2.7G            1.4G          1.4G

Ntopng displayed flow:              700M            1G         400M

[2022-01-26 16:38] jmwample commented on #707
The solution to #774 has fixed this issue for us and we are not longer seeing page errors.

[2022-01-26 16:54] TheHinsh opened #779 "Mellanox missing from pf_ringcfg --list-zc-drivers"
Hello, I'm working with a Mellanox ConnectX-6 Dx card and tring to get the PF_RING ZC drivers working. I've followed the config instructions here:
https://www.ntop.org/pf_ring/introducing-pf_ring-zc-support-for-mellanox-adapters/

Installing the Mellanox drivers included in `MLNX_OFED_LINUX-5.5-1.0.3.2-rhel7.9-x86_64.tgz` and updated PF_RING using the latest git hash from the `dev` branch.

[code]

[2022-01-26 17:24] TheHinsh commented on #779
We are trying t monitor network traffic that fluctuates between 5 gbps and around 30 gbps.  The command  `pfcount -i enp23s0f0` reports up to about 10 gbps (when we are seeing 30 gpbs on the line).  Using `pfcount -i mlx:mlx5_0` we are seeing the full 30 gbps.

However, when we attempt to monitor that traffic using tcpdump or zeek, almost all packets are reported as dropped by each tool when confi

[2022-01-27 08:53] cardigliano commented on #779
@TheHinsh I pushed a couple of fixes for pf_ringcfg, it should report more information now (next build). However it seems that the capture is working for you now.
As of the dropped traffic with zeek or tcpdump, that depends on the application itself which adds a lot of overhead leading to packet loss.

[2022-01-27 08:54] #778 closed, assigned to nobody

[2022-01-27 08:54] #779 closed, assigned to cardigliano

[2022-01-27 08:54] #767 closed, assigned to nobody

[2022-01-27 16:21] cardigliano commented on #707
Thank you for the update. Let's close this.

[2022-01-27 16:21] #707 closed, assigned to nobody

[2022-01-31 14:43] mzac opened #780 "Ubuntu Kernel 5.4.0-97 and i40e breaks pf_ring ?"
I'm not sure if this is an upstream kernel issue or a pf_ring issue but my server this morning just upgraded Ubuntu 20.04 kernel 5.4.0-96 -> 5.4.0-97.  After the reboot, my i40e NICs would not show up anymore.  I did see them in the dmesg as being loaded by the kernel but pf_ring could not see them nor could ifconfig.

I booted back into 5.4.0-96 and they came back.  I have installed pf_ring from

[2022-01-31 14:46] mzac commented on #780
With 5.4.0-96
[code]

With 5.4.0-97
[code]

[2022-01-31 15:18] mzac commented on #780
Logs fro 5.4.0-97

[code]

[2022-01-31 15:31] mzac commented on #780
Logs from 5.4.0-96 **working**

[code]

[2022-02-01 12:25] a-czyrny commented on #780
I can confirm the problem (Ubuntu Server 20.04.3 LTS).

[2022-02-01 18:45] novaksam opened #781 "i40e-zc Compile issues on Centos 8 Stream, 4.18.0-358"
[code]

https://elixir.bootlin.com/linux/latest/source/drivers/net/ethernet/intel/i40e/i40e_ethtool.c

[code]

At this this compiles for me; yet to see if it causes any issues.

[2022-02-01 18:49] mzac commented on #780
https://bugs.launchpad.net/ubuntu/+source/linux/5.4.0-97.110

[code]

[2022-02-01 19:08] mzac commented on #780
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1959710

Submitted an upstream bug in case pf_ring isn't the issue.

[2022-02-02 10:11] cardigliano commented on #781
@novaksam please note that we do not support CentOS "Stream", we moved to Rocky Linux since CentOS became EOL. Ayway  I will take a look at this whenever possible.

[2022-02-02 14:19] novaksam commented on #781
@cardigliano I had to go with Stream since Veeam backups don't support Rocky Linux :(

[2022-02-02 15:43] fattaholmanan opened #782 "ZC Error: No buffer space available"
I'm trying to use pf_ring-zc in a machine with two identical NICs. I can use the zc framework in any of those NICs, but for some reasons I cannot use both NICs at the same time. `pfring_zc_open_device` returns `null` with this message: `No buffer space available` for the second NIC. I'm using following configs:
[code]
And here is the output:
[code]

Can you help me what I'm missing?

Thanks,
Ali

[2022-02-03 11:03] cardigliano commented on #780
@mzac what PF_RING version are you using? I tested latest i40e from both PF_RING dev and stable, and it's working on the same kernel.. could you try cleaning removing the driver and reinstalling the latest one?

$ uname -a
Linux ubuntu20 5.4.0-97-generic #110-Ubuntu SMP Thu Jan 13 18:22:13 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-02-03 13:55] a-czyrny commented on #780
Since I have the same problem: Updated to the latest version (8.0.0.7243) from the stable repository. Problem remains.
[code]

[2022-02-03 15:07] mzac commented on #780
Just upgraded to the latest packages and still don't see them after booting into 5.4.0-97 again :(

[code]

[2022-02-08 06:09] dreamhighhd opened #783 "pf_ ring usage problem"
Can you provide a copy of PF_ Ring, combined with nprobe and ntopng, is facing the large traffic network environment.

The problems I now encounter:

1. Since the third-party single-mode module used for 10 Gigabit network card is the network card identified by default, the network card identified by the following methods

[code]

2. Install PF_ After ring, due to the adjustment of network card dri

[2022-02-08 06:36] dreamhighhd commented on #783
The pfcount test seems to work properly
![image](https://user-images.githubusercontent.com/40293011/152931523-e17b5886-e363-4abf-8201-d65806d582e3.png)

`pfcount -i zc:enp2s0f0`

[2022-02-08 06:38] dreamhighhd commented on #783
@jnicholls @thus @sfd @TheHippo   The pfcount test seems to work properly

[2022-02-08 06:40] dreamhighhd commented on #783
8255 chip network card
![image](https://user-images.githubusercontent.com/40293011/152932295-c90cc549-4315-4650-986f-b4a91240635a.png)

[2022-02-08 06:42] dreamhighhd commented on #783
The real traffic of network card image is about 5-6GB, and the traffic may be greater in the later stage

[2022-02-08 06:47] dreamhighhd commented on #783
present situation：
Flow comparison on network port:

                                                VLAN123 VLAN234 VLAN345
Real traffic of service switch: 2.8G 1.4G 1.4G

Traffic received by the server: 2.7G 1.4G 1.4G

Ntopng displayed flow: 700M 1G 400M

The ntopng agent reported that it was unable to handle the problem and asked to increase PF_ Ring to see if it can be solved. At this stage, t

[2022-02-08 06:59] dreamhighhd commented on #783
@cardigliano

[2022-02-08 10:56] a-czyrny commented on #780
Updated Package and Kernel, error remains.

[code]

[2022-02-08 14:58] cardigliano commented on #780
This is weird as everything seems to be working on a similar system.. Please provide the output fro the below commands:

# uname -a
Linux devel 5.4.0-97-generic #110-Ubuntu SMP Thu Jan 13 18:22:13 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

# ethtool -i enp1s0f0
driver: i40e
version: 2.17.4
firmware-version: 7.20 0x8000794b 1.2585.0

# cat /proc/net/pf_ring/info
PF_RING Version          : 8.1.0 (dev:

[2022-02-08 15:25] a-czyrny commented on #780
# uname -a
Linux [anonymised] 5.4.0-99-generic #112-Ubuntu SMP Thu Feb 3 13:50:55 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
# ethtool -i ens1f0
## 5.4.0-96
driver: i40e
version: 2.17.4
firmware-version: 8.40 0x8000af82 20.5.13
## 5.4.0-97/99
Cannot get driver information: No such device
# cat /proc/net/pf_ring/info
PF_RING Version          : 8.0.0 (8.0.0-stable:58e764f619bb4711a66b021f7a475401d99ba3

[2022-02-11 11:46] a-czyrny commented on #780
The latest update has apparently fixed the problem.

# uname -a
Linux it5sensor02 5.4.0-99-generic #112-Ubuntu SMP Thu Feb 3 13:50:55 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

# ethtool -i ens1f0
driver: i40e
version: 2.17.4
firmware-version: 8.40 0x8000af82 20.5.13

# cat /proc/net/pf_ring/info
PF_RING Version          : 8.0.0 (8.0.0-stable:58e764f619bb4711a66b021f7a475401d99ba371)

# dkms status

[2022-02-11 11:48] cardigliano commented on #780
Ok thank you, let's close this. Please reopen in case.

[2022-02-14 14:45] mzac commented on #780
I just tried to upgrade to 5.4.0-99 and I'm still having issues.  On initial boot it sees the interfaces and says they are supported by pfring, but after restarting the pfring service the interfaces disappear.  I get some errors in dmesg too.

I also tried re-installing the i40e-zc-dmks package.

[code]

Snip from dmesg
[code]

[2022-02-15 15:33] mzac commented on #780
@cardigliano This issue still persists, however I am not able to re-open this issue for some reason.  Should I create a new issue?

[2022-02-15 15:40] cardigliano commented on #780
@mzac I am not sure this depends on the kernel version, it seems the driver cannot find symbols defined by pf_ring. Any chance I can ssh and take a look?

[2022-02-15 15:44] mzac commented on #780
I just did an update of pf_ring and rebooted and it seems it is working now.  Not sure what changed.  If you want to take a look anyways we could do a zoom call if you'd like?

[2022-02-15 15:44] mzac commented on #780
[code]

[2022-02-15 15:45] cardigliano commented on #780
If it's working I cannot do much, let's close this for now

[2022-02-15 15:45] #780 closed, assigned to cardigliano

[2022-02-23 16:19] vitalivanov opened #785 "*** ndpi library version mismatch, expected API rev.5710 (4.2.0) found rev.5716 (4.2.0-3465-258fedbc) ***"
Latest ndpi from git tree 4.2.0-stable.
Latest PF ring ft from git tree 8.0.0-stable.

There is really something wrong in makefiles and how you track revisions.

@cardigliano

[2022-02-28 16:34] a-czyrny opened #786 "Unable to compile suricata with latest pf_ring installation"
# Summary

The suricata configuration script does not find the installed pf_ring libraries due to an "error" during the check:

[code]

[code]

This is the first time this error has occurred with this version of suricata. The version has already been successfully compiled.

pf_ring was installed from packages.

# Additional information

[code]

[code]

[code]

[2022-03-01 08:40] cardigliano commented on #786
@a-czyrny could you check if pf_ring dev (8.1) is also affected by this issue?

[2022-03-01 10:11] a-czyrny commented on #786
After switching to pf_ring dev (8.1) the problem does not occur.

[2022-03-07 04:26] QbsuranAlang opened #788 "epoll() seems stop working with zc mode in some case"
English is not my first language.

Here is the two interfaces with configured 8 RSS.

[code]

I open the two interfaces and make it in inline mode, and I found an issues(maybe).

1. Start the traffic generator
3. Start the inline program(it works, forwarding)
4. Stop the traffic generator(make sure no packets incoming)
5. Start the traffic generator again
6. Inline program is not working

or

1. M

[2022-03-07 05:31] hdsjahuen opened #789 "pf_ring receives data for a period of time and then the received data becomes 0"
When using zcount to receive data, the data is accepted normally at the beginning of the period, but after some time the data will become zero
Then if you restart the computer and then turn it on again it will get stuck, enter commands sudo ./zcount -i zc： and then have the following problem：
pfring_zc_create_cluster error [Socket operation on non-socket] Please check that pf_ring.ko is loaded and

[2022-03-07 08:07] cardigliano commented on #789
@hdsjahuen a few questions:
- how many packets are you capturing before seeing 0 data?
- what driver and adapter model are you using?
- what CPU are you using?
- are you able to reproduce the same with pfcount?

[2022-03-07 08:11] cardigliano commented on #788
@QbsuranAlang do you experience the same issue with select()?

[2022-03-07 08:14] cardigliano commented on #788
Please also note that in some case pfring_poll() should be used as not all the adapters provide a selectable fd. However ixgbe does provide a fd, and pfring_poll is not an option as you need to poll from multiple fds.

[2022-03-07 09:51] hdsjahuen commented on #789
Captured differently each time
The NIC is an Intel xl710
The cpu is also Intel
The previous version of ubuntu was 19.04 and the pf_ring version was 7.6.
After the update, ubuntu is 20.04 and pf_ring is 7.8

[2022-03-07 12:32] QbsuranAlang commented on #788
@cardigliano thanks your reply.
I replace epoll() with poll()/select() and it works fine, can you explain what causes it?
And as you mention, How do I check my adapter provide a selectable fd? By driver or...?

[2022-03-07 14:18] vitalivanov commented on #785
any comments?

[2022-03-07 15:21] cardigliano commented on #785
I just pushed a FT update on github for 8.0 branch

[2022-03-07 15:22] cardigliano commented on #788
In order to check is the adapter supports it, you should what is returned by pfring_get_selectable_fd. As of epoll, I need to dig more.

[2022-03-07 16:16] QbsuranAlang commented on #788
OK, thanks your time!

[2022-03-08 01:22] hdsjahuen commented on #789
pfcount is not running
pfring_open error [no such device] (pf_ring not loaded or interface RadarNetcardRdar is down?)

[2022-03-08 08:44] cardigliano commented on #789
@hdsjahuen 7.8 is no longer supported, please check pf_ring 8.x (8.0 stable or 8.1 dev)

[2022-03-09 12:28] fattaholmanan opened #790 "No Buffer Space Available"
I'm using below method to instantiate a cluster and then read and write using ZC framework with multiple NICs. It works perfectly when I'm using it with maximum two NIC. However, it throws **No buffer space available** error when I want to try it with 3 or more NICs. What I'm missing?
[code]

[2022-03-09 23:57] hagna opened #791 "cpu_online_map undeclared ubuntu 20.04.4"
[code]

On Ubuntu 20.04.4 I get this error when compiling PF_RING in the ixgbe driver. Kernel is 5.13.0-30-generic.

[2022-03-10 09:17] cardigliano commented on #791
Pushed a fix to compile on latest ubuntu 20 kernel right now

[2022-03-10 16:40] hagna commented on #791
Thanks it compiles now.

[2022-03-10 16:43] hagna commented on #791
[code]

By the way the fm10k driver doesn't compile and gives that error, but ixgbe compiles.

[2022-03-10 17:08] cardigliano commented on #791
I pushed a fix for fm10k too

[2022-03-11 14:32] #791 closed, assigned to cardigliano

[2022-03-11 14:33] #785 closed, assigned to cardigliano

[2022-03-15 16:25] #781 closed, assigned to cardigliano

[2022-03-15 17:28] vitalivanov commented on #785
@cardigliano
it did not help.
Latest versions that i built from github:

nDPI v.4.2.0-3465-258fedbc
PF_RING FT v.8.0.0.220307

The error that I get now is:

*** ndpi library version mismatch, expected API rev.5951 (4.3.0) found rev.5716 (4.2.0-3465-258fedbc) ***

Why does it expect 4.3.0 now as ndpi latest is 4.2???

[2022-03-15 17:41] cardigliano commented on #785
@vitalivanov I pushed a new update, please check it

[2022-03-21 12:34] vitalivanov commented on #785
@cardigliano it's ok now. thanks.

[2022-03-21 13:01] vitalivanov opened #792 "PF_RING_FT pfring_ft_license stack-buffer-overflow."
PF_RING_FT 8.0.0-stable.

Issue:
[code]

Code is simple and is according to your examples:
[code]

Seems like you are corrupting buffer inside pfring_ft_license

[2022-03-21 13:01] vitalivanov commented on #792
@cardigliano FYI

[2022-03-22 08:43] jurjenwestra78 opened #793 "Ubuntu-22.04 support"
When will ubuntu-22.04 be supported?

I see here

[https://packages.ntop.org/apt/]()

that packages available for all (recent) ubuntu LTS releases, so I assume there are plans to support 22.04 as well.

For what it's worth: I tried compiling myself but did not succeed, even after a bit of hacking. I'm assuming this is due to the kernel version. On my box (server, not completely up-to-date):

[code

[2022-03-22 09:10] cardigliano commented on #793
@jurjenwestra78 we are working on that, it will be supported asap!

[2022-03-22 10:23] jurjenwestra78 commented on #793
Thanks!

[2022-03-24 08:38] haroldfeng opened #794 "X722 is supported? i40e driver is failed."
Card type: Intel Corporation Ethernet Connection X722 for 10GbE SFP+

[root@localhost src]# ./load_driver.sh
insmod: ERROR: colud not insert module ./i40e.ko: Invalid parameters
Warning: 512 huge pages available, 1024 requested

[2022-03-24 09:08] cardigliano commented on #794
@FengShaoCong X722 should work with the i40e driver, we did not that that exact chipset version as we do nto have it in our lab, however there are users using it. The issue you are experiencing does not seem to be related to the chipset, it's a driver issue. What OS and kernel are you running?

[2022-03-24 09:13] haroldfeng commented on #794
The OS is CentOS Linux release 7.9.2009 (Core).
The kernel is 3.10.0-1160.el7.x86_64.

[2022-03-24 09:15] cardigliano commented on #794
What pf_ring version are you running?

[2022-03-24 09:16] haroldfeng commented on #794
[root@localhost ~]# modinfo pf_ring
filename:       /lib/modules/3.10.0-1160.el7.x86_64/kernel/net/pf_ring/pf_ring.ko
alias:          net-pf-27
version:        8.1.0
description:    Packet capture acceleration and analysis
author:         ntop.org

[2022-03-25 09:02] haroldfeng commented on #794
@[cardigliano](https://github.com/cardigliano)
Excuse me. When I make i40e kernel, it shows that:

The target kernel has CONFIG_MODULE_SIG_ALL enabled , but the signing key cannot be found. Module signing has been disable for this build.

[2022-03-28 16:04] cardigliano commented on #794
Could you provide the last part of the dmesg output when trying to load the driver, to check what is triggering the "Invalid parameters" error?
Also, please make sure you are not running the kernel in secure boot mode, which allows signed modules only to be loaded.

[2022-03-29 01:12] haroldfeng commented on #794
@cardigliano Thank you very much. I havs disabled secure boot, and the error have sloved.

[  791.895807] pf_ring: loading out-of-tree module taints kernel.
[  791.897315] pf_ring: module verification failed: signature and/or required key missing - tainting kernel

**But it still have the error. The dmesg  is as flows:**

[ 2750.775034] NET: Unregistered protocol family 27
[ 2750.775041] [PF_RING]

[2022-03-29 07:21] cardigliano commented on #794
@FengShaoCong I see there is a version mismatch for some symbols, could you try reinstalling the driver to force a recompilation? Please try removing the driver, checking the dkms tool to make sure it is not installed, and reinstalling the driver.

[2022-03-29 11:23] haroldfeng commented on #794
I truly appreciate your help. I have solved the error, which is inconsistent version about  `/usr/src/kernels/` and `/lib/modules/`.

[2022-03-29 11:23] #794 closed, assigned to cardigliano

[2022-03-29 13:41] vitalivanov commented on #792
@cardigliano any updates?

[2022-03-29 14:31] cardigliano commented on #792
@vitalivanov what is the last line printing?

IMT_LOG_NTOP_INFO("SystemID: %s.", system_id);

[2022-03-29 15:01] vitalivanov commented on #792
It's not getting to that point... sanitizer is catching the problem before and the crash is before...

[2022-03-29 15:03] cardigliano commented on #792
@vitalivanov since the same code is working for me, I pushed some blind code improvement, please update and let me know

[2022-03-29 15:23] vitalivanov commented on #792
@cardigliano it did not help.
is system_id still 32 bits size handle inside pfring_ft_license?

[2022-03-29 15:25] vitalivanov commented on #792
size of other variables?

  This frame has 4 object(s):
    [32, 40) 'license_expiration'
    [96, 104) 'maintenance_expiration'
    [160, 192) 'version'
    [224, 256) 'system_id' <== Memory access at offset 256 overflows this variable
HINT: this may be a false positive if your program uses some custom stack unwind mechanism or swapcontext
      (longjmp and C++ exceptions *are* supported)
SUMMAR

[2022-03-30 12:15] vitalivanov commented on #792
@cardigliano I also noticed that when application is starting it's viping out the license file on disk:

[code]
It's empty after the start. And it was ok before the start:

[code]

For me it's hard to debug closed source code. I need your help...

[2022-03-30 17:04] cardigliano commented on #792
@vitalivanov I found the issue, the systemid can be up to 48 bytes not, please enlarge the buffer size provided to pfring_ft_license

[2022-03-30 21:31] vitalivanov commented on #792
I told you:)
Will check and update tomorrow

[2022-03-31 08:19] vitalivanov commented on #792
@cardigliano it's not crashing... finally.
But my license is not valid anymore... seems like systemid is bigger and different now:

[code]

Systemid that I used to generate license is D690B928920CAB25.

Do you plan to support old system ids???

[2022-03-31 09:04] cardigliano commented on #792
@vitalivanov a license for D690B928920CAB25 should still be valid for LD690B928920CAB25--UD690B928A5647192--OL, please provide your order id in a direct email to cardigliano at ntop.org

[2022-03-31 09:13] vitalivanov commented on #792
@cardigliano you should have an email with all details now

[2022-04-01 15:40] #792 closed, assigned to nobody

[2022-04-01 15:42] cardigliano commented on #790
@fattaholmanan are you getting that failure when calling pfring_zc_create_cluster ? It is likely you did not reserve enough hugepages

[2022-04-01 15:43] #789 closed, assigned to nobody

[2022-04-01 15:43] #786 closed, assigned to nobody

[2022-04-01 18:56] fattaholmanan commented on #790
@cardigliano thanks for getting back to me. How can I increase the number of hugepages?

[2022-04-02 09:26] halabing opened #795 "i40e_recv() segmentation fault in zc mode"
The example zcount is doing ok. But when running my own code, I got segmentation fault in the function pfring_zc_recv_pkt_burst(). And by using gdb I found it happened in i40e_recv(). The input parameter zq and buffer seem fine.
I have no clue how to debug this problem. This is part of my code.

[code]

[2022-04-04 12:21] cardigliano commented on #795
@halabing some piece of code which is required to analyse the issue is missing from this code snippet. Also, please paste it to be clearly indented/highlighted as it is otherwise difficult to read. Thank you.

[2022-04-04 16:38] halabing commented on #795
@cardigliano Thank you for replying. May I ask which part of the code should be related to this issue?

[2022-04-06 08:08] mcgillowen opened #796 "ice-zc compilation error on kernel 5.13.0"
Unable to install PF_RING ZC ice-zc-1.3.2.7366 on Ubuntu 20.04.1 with kernel 5.13.0-28-generic with the following compilation error.

[code]

[2022-04-06 14:24] cardigliano commented on #796
I pushed a driver update to support latest kernels, please check the next package update

[2022-04-08 08:45] halabing commented on #795
The problem is solved. There are some mistakes in my code.

[2022-04-08 08:45] #795 closed, assigned to nobody

[2022-04-11 02:06] hdsjahuen opened #797 "Hardware conditions for using pf_ring zc"
whether CPU hardware is required to support DMA and Cache consistency.

And
Can pf_ring zc run on ARM64 hardware platforms？
Are there any relevant success stories?
thanks

[2022-04-11 08:11] liuchuang opened #798 "Does pfring_zc_builtin_ip_hash support ipv6?"
I use `pfring_zc_builtin_ip_hash` for fanout packet,
I tested in release 7.4 that it does not support ipv6, it only hashes according to the first 4 bytes of the ip field of the ip header. Are there other functions that support ipv6? thanks.

[2022-04-11 09:18] cardigliano commented on #797
@hdsjahuen ZC drivers are supported on Intel CPUs (AMD is also working, we do not support it officially as we do not have AMD hw but there are users using it)

[2022-04-11 09:18] #797 closed, assigned to nobody

[2022-04-11 09:22] cardigliano commented on #798
@liuchuang pfring_zc_builtin_ip_hash should actually provide an hash computed on all 16 bytes of the IP field in case of IPv6

[2022-04-13 01:52] #790 closed, assigned to nobody

[2022-04-14 16:33] HackedBaked opened #799 "checking PF_RING AF_XDP support... no"
System
- Ubuntu 20.04
- Kernel: 5.11.0-49-generic
- CPU intel x710
- nic driver i40e
- libelf-dev already installed
- Using latest code from the github, since this post was made.
- My kernel has `CONFIG_XDP_SOCKETS=y` configured

Trying to compile PF_RING with AF_XDP, but running `./configure` keeps showing

[code]

For the heck of it I tried running pfcount with xdp syntax `sudo ./pfcount -i xdp:

[2022-04-14 20:10] HackedBaked commented on #799
I figured it out. the problem was xsk.h and if_xdp.h were not in the paths that configure was looking for. I was hesitant to integrate and update libbpf as other developers use these modules for xdp research on our host. Once I compiled the linux library bpf tools and installed the correct headers, it worked.

[2022-04-14 20:10] #799 closed, assigned to cardigliano

[2022-04-15 07:09] cardigliano commented on #799
@HackedBaked what was the default path in your system?

[2022-04-15 20:08] HackedBaked opened #800 "ftflow -7 will not work"
trying to run the following:

[code]

This results in the following error:

[code]

What I have tried:
- I have tried compiling and installing nDPI from latest source.
    - I tried following the nDPI `README.md`, `README.nDPI` and `INSTALL` instructions
    - `./configure` `./make` and `./make install` ran without errors.
- Confirmed that /usr/lib/libndpi.so.4.3.0 exists.
- ftflow works fine with

[2022-04-19 00:56] guoyc1 opened #801 "X710 with i40e 2.17.4 drop packets under high network load"
I use Intel X710 with i40e-2.17.4-zc driver on kernel 5.10.0, but when the transmission speed is high, packets drop sometimes.
However, when I use Intel 82599ES with ixgbe-5.5.3-zc driver, packets will not drop.
Is it somehow related to RSS? I enable RSS both of them, and it works successfully with i40e-2.17.4-zc when the transmission speed is not high.

[2022-04-19 08:36] cardigliano commented on #800
Please check latest PF_RING code/lib from github

[2022-04-19 08:38] cardigliano commented on #801
i40e adapters have small packet buffers with respect to ixgbe (4K vs 32K packets), that could explain the packet loss depending on packet rate and the application..

[2022-04-19 13:53] guoyc1 commented on #801
Thank you for replying.
I tried to modify `i40e.h` and `load_driver.sh` to get a bigger buffer, but it looked useless.
what else can I do?

[2022-04-19 16:25] cardigliano commented on #801
The buffer is set already to the max supported by the adapter. You need to play with RSS and application tuning. What application are you running?

[2022-04-20 11:21] guoyc1 commented on #801
Thank you for your answer.
I'm running my own application, which uses `pfring_enable_rss_rehash` to enable RSS and uses `pfring_recv` to receive packets.
Today I tried to modify my RSS rules. Sometimes I can Improve its performance, depending on the rules of hardware filters and the parameters of application of sending packets.
Then I found that when I added rules about dst_port, they didn't take

[2022-04-20 13:34] cardigliano commented on #801
Please note that rss rehashing does not affect ZC mode. You should configure RSS queues when loading the driver, and open zc:eth1@0, zc:eth1@1, and so on using multiple threads/processes.
And yes, all i40e adapters have the same max buffer size. Hardware filters are not supported.
I recommend Mellanox adapters if you need hw filters intensively.

[2022-04-24 08:11] lucaderi opened #802 "Cluster service fills the disk"
zbalance_ipc is verbose and starting is with the cluster service it fills up the disk. This needs to be fixed

[2022-04-25 12:01] deeonis-ru opened #803 "ice-zc-1.3.2.7393 compilation error on CentOS 8 (4.18.0-383)"
There is a compilation error during installation ice-zc driver from the nightly builds repo.

`In file included from ./include/net/udp.h:34,
                 from ./include/net/udp_tunnel.h:6,
                 from /var/lib/dkms/ice-zc/1.3.2.7393/build/ice.h:96,
                 from /var/lib/dkms/ice-zc/1.3.2.7393/build/ice_main.c:8:
./include/linux/indirect_call_wrapper.h:27: warning: "INDIRECT_

[2022-04-26 06:56] cardigliano commented on #802
Stats are printed with -v only now

[2022-04-26 06:56] #802 closed, assigned to cardigliano

[2022-04-26 17:43] HackedBaked commented on #800
Sorry for the delay in response, finally got back around to testing this.
I did a pull on the latest dev branch, and installed again.
This worked, -7 no longer gives me errors. Thanks!

[2022-04-26 17:43] #800 closed, assigned to nobody

[2022-04-28 03:27] #801 closed, assigned to nobody

[2022-05-03 17:27] lukepenick opened #804 "Raspberry Pi 4 cant find pfring"
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"

When I try to "apt-get install pfring" I get the following error:
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
E: Unable to locate package pfring

I have all the repos, as ntopng, nprobe, and n2n will work just fine.

Edit:
After digging around in the repos, noticed there isnt an arm version of pfring

[2022-05-03 19:59] #804 closed, assigned to nobody

[2022-05-16 06:08] z-zayn opened #806 "pfring_open error [Address family not supported by protocol]"
A few days ago, I used pfring_open() to work normally, but today I found that the program could not run, and the following error was reported using pf_count, what happened?

pfring_open error [Address family not supported by protocol] (pf_ring not loaded or interface wlo1 is down ?)

[2022-05-16 07:04] cardigliano commented on #806
Please provide "cat /proc/net/pf_ring/info"

[2022-05-16 07:31] z-zayn commented on #806
No output at all，
I find My kernel was updated yesterday and I'm having version Magic problems, what can I do with this problem？

[2022-05-16 07:43] cardigliano commented on #806
@z-zayn what kernel are you running? (uname -a)
can I see this "magic" error?

[2022-05-16 07:52] z-zayn commented on #806
@cardigliano
I use dmesg and it outputs:
pf_ring: version magic '5.15.32-1-rt39-MANJARO SMP preempt_rt mod_unload ' should be '5.15.36-1-rt41-MANJARO SMP preempt_rt mod_unload '

[2022-05-16 07:57] cardigliano commented on #806
@z-zayn it seems the pf_ring.ko module has not been recompiled for the current kernel, I suggest trying restarting the service with systemctl restart pf_ring (this should force a recompilation) or use the dkms tool manually or reinstall the package as last resort.

[2022-05-16 08:09] z-zayn commented on #806
@cardigliano
I try to use systemctl restart pf_ring in console and it outputs:
Failed to restart pf_ring.service: Unit pf_ring.service not found.

And at first, I try to reinstall the PF_RING,but when I followed the "Installing from GIT" again,I can't insmod ./pf_ring.ko :insmod: ERROR: could not insert module pf_ring.ko: Invalid module format

Then, I found this problem:pf_ring: version magic '5.

[2022-05-16 08:13] cardigliano commented on #806
Do you get compilation errors while compiling from git?

[2022-05-16 09:07] z-zayn commented on #806
@cardigliano
I reinstall the PF_RING ,but after that my pcap_next_ex() is not work correctly.Seems Libpcap has some problems, I reinstall PF_RING again but "pcap_next_ex()"'s problem  still:
when I use the Pcap_next_ex(),it can't go into the loop, but when i close my program in clion, the results come out in clion's consle, I have no idea about what happened.
So I reinstall libpcap, it works. But

[2022-05-17 00:18] z-zayn commented on #806
I solve this question by reinstall from git. And libpcap issue is my program's fault and i fixed it

[2022-05-17 00:18] #806 closed, assigned to nobody

[2022-05-17 02:52] KhoiHUFI commented on #396
make -C /lib/modules/3.10.0-1160.62.1.el7.x86_64/build M=/root/PF_RING/kernel EXTRA_CFLAGS='-I/root/PF_RING/kernel -DGIT_REV="\"dev:e9af3dbd93151a3146aad190c62ffb8bd49d6b47\"" -fno-pie -Wno-implicit-fallthrough' modules
make: *** /lib/modules/3.10.0-1160.62.1.el7.x86_64/build: No such file or directory.  Stop.
make: *** [all] Error 2

After installing, Please help me. thanks.

[2022-05-20 15:50] BasedUser opened #807 "PF_RING compilation error on kernel 5.17.0"
Hello. I get an error trying to compile PF_RING's kernel module, it seems to error on this one line using a definition for kernels <3.10. I can't really provide any more specifics to this...

[stdout+stderr](https://github.com/ntop/PF_RING/files/8741657/stdout.txt)

[2022-05-21 14:55] xgerligand commented on #807
Hello.
It seems with Linux kernel >= 5.17.0 , function PDE_DATA(). is replaced by pde_data().
So I added these lines in PF_RING/kernel/pf_ring.c
   140 #if(LINUX_VERSION_CODE >= KERNEL_VERSION(5,17,0))
   141 #define PDE_DATA(a) pde_data(a)
   142 #endif
and now compilation is ok for my 5.17.9-vanilla kernel.
May be it exists a best solution...

[2022-05-22 03:22] vehere-ccu1 opened #808 "AMD servers crashing after some time while using pfring"
Hi,
I am using AMD Dell server and following the instruction for AMD processors, but still it is crashing after some time. I am using zbalance_ipc tool with zcount. It runs for sometime then it crashes.

I am using PF version 8.0.0 as well as I also tried in 8.1.0. When server starts, it showing pci error but same server is working properly with iperf tool.

![1](https://user-images.githubusercont

[2022-05-22 06:28] vehere-ccu1 commented on #808
iperf tool without pfring modules is working fine, if I run iperf with pfring modules then also it is crashing after some time.

[2022-05-23 07:37] cardigliano commented on #807
What linux distribution/version are you running?

[2022-05-23 07:40] cardigliano commented on #807
I pushed a path in 4e4480b88fe345e26951fa3ce4860f479685b91c (thank you @xgerligand)

[2022-05-23 07:43] cardigliano commented on #808
@vehere-ccu1 are you running ZC drivers? Which model?

[2022-05-23 07:44] cardigliano commented on #803
@deeonis-ru I pushed a new ice driver version, please check it

[2022-05-23 07:44] #798 closed, assigned to nobody

[2022-05-23 07:48] vehere-ccu1 commented on #808
PFRING-8.0.0
i40e 2.13.10-zc Using x710 card

[2022-05-23 08:12] vehere-ccu1 commented on #808
yes

[2022-05-23 09:52] xgerligand commented on #807
Hello.
This is the last funtoo distribution Release 1.4 (funtoo.org).

[2022-05-23 10:44] cybersecurity99 opened #809 "Issue while running cento-ids"
Hi , What maybe the reason for this
I am running this
`cento-ids -i zc:enp69s0 --balanced-egress-queues 2
`

[code]

[2022-05-23 15:07] BasedUser commented on #807
I am running debian testing for this build.

This fixes the issue! Thanks

[2022-05-27 10:30] cybersecurity99 opened #810 "How to disable ZC on a NIC"
Hi I started ZC on a NIC
I want to disable it because it is running on the main interface that is used for networking

[2022-05-27 10:34] cardigliano commented on #810
Just remove the .start and .conf files from /etc/pf_ring/zc/... and restart the service

[2022-05-27 10:34] #810 closed, assigned to nobody

[2022-05-28 05:38] vehere-ccu1 commented on #808
Even with 2.17.4 i40e facing page error: -
<img width="528" alt="HTest" src="https://user-images.githubusercontent.com/33222750/170811758-ae7b14cd-844b-4490-afac-256a52be74fe.PNG">

[2022-05-28 05:41] vehere-ccu1 commented on #808
Same thing happening on Intel based server also but the frequency is very less means 1 time/month, but with AMD server it is so frequent.
<img width="382" alt="Info-PF" src="https://user-images.githubusercontent.com/33222750/170811868-9b731a6c-46ef-438f-9bc4-07b3c2dd9eb3.PNG">

[2022-05-30 08:04] gianogli opened #811 "Compile errors after removed e1000e driver sources"
Hi,
I can't compile anymore all the sources running "make all" command after you removed the e1000e driver sources from the pf_ring with this commit: https://github.com/ntop/PF_RING/commit/292ea26c4189b02381eb604ac813c6732fc02f36

I think you have to re-add the e1000e driver sources or you have to modify the Makefile files... :-)

Could you verify?

Thanks...

[2022-05-30 08:15] cardigliano commented on #811
@gianogli it seems it got lost when backporting patches for supporting latest kernels, I pushed it back. Thank you.

[2022-05-30 08:15] #811 closed, assigned to nobody

[2022-05-30 08:16] cardigliano commented on #809
Did you load the ZC driver for enp69s0? Please try running pfcount -i zc:enp69s0
or provide the output of cat /proc/net/pf_ring/dev/enp69s0/info

[2022-05-30 13:11] cardigliano commented on #808
@vehere-ccu1 I did some code analysis, and I need to know when this happens: does this happen when closing the application/socket perhaps?

[2022-05-30 13:37] vehere-ccu1 commented on #808
No it is happening anytime after Ioading the pf modules & driver even if I am not running the zc applications on it, and I want to confirm you that this is happening with the i40e_2.13.10-zc driver, I am running the test with i40e_2.17.4 from last 72 hrs and the server is running well. The above crash log was for 2.13.10 version. Have you find such thing with i40e-2.13.10? Is it the issue with Int

[2022-05-30 13:45] vehere-ccu1 commented on #808
But for Intel-Dell-server same driver (2.13.10) is working fine from last 15 days.

[2022-05-30 14:01] cardigliano commented on #808
Weird. It should not happen while running the application. Please let me know if you can reproduce it with 2.17

[2022-05-30 14:03] vehere-ccu1 commented on #808
No, with 2.17 system is running well since last Friday.

[2022-05-30 14:03] vehere-ccu1 commented on #808
I have not tested 2.17 before that.

[2022-06-03 10:22] Arislen opened #812 "ZeroCopy Driver will not install on RedHat 8.6"
OS: Red Hat Enterprise Linux release 8.6 (Ootpa)
Kernel: 4.18.0-372.9.1.el8.x86_64 #1 SMP Fri Apr 15 22:12:19 EDT 2022 x86_64 x86_64 x86_64 GNU/Linux

System has the most up2date RHEL patches.

NTOP Versions Installed (from: https://packages.ntop.org/ Nightly Build Repository)

pfring-8.1.0-7513.x86_64
pfring-dkms-8.1.0.7513-7513.noarch
n2disk-3.7.220601-5368.x86_64
e1000e-zc-3.8.7.7513-dkms.noarc

[2022-06-03 16:44] #809 closed, assigned to nobody

[2022-06-03 16:44] #807 closed, assigned to nobody

[2022-06-03 16:45] #803 closed, assigned to cardigliano

[2022-06-03 16:45] cardigliano commented on #793
Ubuntu 22 is supported now

[2022-06-03 16:45] #793 closed, assigned to nobody

[2022-06-03 16:46] #796 closed, assigned to cardigliano

[2022-06-06 07:34] hdsjahuen opened #813 "Can pf_ring be supported on embedded arm boards as well?"
Can pf_ring be supported on embedded arm boards as well?

[2022-06-06 07:39] cardigliano commented on #813
@hdsjahuen we officially support x86, however you should be able to compile it on arm as well (exception made for ZC drivers)

[2022-06-08 09:09] TIE1996 opened #814 "Packet capture stops on Intel e810"
### Problem description

When running pfcount in ZC mode it reports a huge number of dropped packages.
-> Received package count is exactly as high as the Number of RX Slots

`Absolute Stats: [51'447 pkts total][47'351 pkts dropped][92.0% dropped]`
`[4'096 pkts rcvd][344'064 bytes rcvd][682.58 pkt/sec][0.46 Mbit/sec]`
`Actual Stats: [0 pkts rcvd][1'000.13 ms][0.00 pps][0.00 Gbps]`

Output from cat

[2022-06-08 09:13] cardigliano commented on #814
@TIE1996 it seems the library stops capturing after the first round when dequeuing from the receive queue as you noticed, I will do some internal check, are you able to provide ssh access to the box if required perhaps? Are you able to run a test also with the latest dev (8.1) in the meantime?

[2022-06-08 10:27] jurjenwestra78 commented on #793
That's good news, we will try it soon.

Thanks!

[2022-06-08 10:54] TIE1996 commented on #814
@cardigliano thank you for your fast reply.
Theoretically I could provide you with SSH access to the box, however this would require quite a bit of work, I would be happy if its not necessary.
I just tried it with the latest dev and the result is exactly the same as in the original problem description.

[2022-06-09 07:08] cybersecurity99 opened #815 "Integration with suricata fails"
Hi

I am trying
cento-ids -i enp0s3 --v9 127.0.0.1:1234 --balanced-egress-queues 1

suricata --pfring-int=zc:10@0 -c /etc/suricata/suricata.yaml --runmode=workers
This command runs but getting warning no such device (zc:10@0)
but when suricata stops it show stats like pkts : xyz for zc:10@0

Also when I am using
ntopng -i tcp://127.0.0.1:1234c

I am not getting any traffic on this interface ://127

[2022-06-09 08:11] cardigliano commented on #815
@cybersecurity99 please note that you should send flows using ZMQ to ntopng, in your command line you configured cento to send Netflow V9. Please read https://www.ntop.org/guides/cento/usecases.html#integration-with-ntopng

[2022-06-09 08:20] cybersecurity99 commented on #815
@cardigliano Hi
I changed my command to this
cento-ids -i enp0s3 --zmq tcp://127.0.0.1:1234 --balanced-egress-queues 1

Still no traffic in ntopng ( ntopng -i tcp://*:1234c)

[2022-06-09 08:23] cardigliano commented on #815
Please provide a screenshot of the Interface page (with stats) in ntopng

[2022-06-09 08:27] cybersecurity99 commented on #815
![ntop1](https://user-images.githubusercontent.com/101694567/172801423-e6d3aa0b-9166-4154-a9b8-3676bf323d1a.png)

[2022-06-09 09:15] cardigliano commented on #815
Please go to the Interface page from the left sidebar

[2022-06-09 09:32] cybersecurity99 commented on #815
![ntop3](https://user-images.githubusercontent.com/101694567/172815504-c4252fe8-f2c9-40d9-9386-8e15e9375d78.png)
![ntop4](https://user-images.githubusercontent.com/101694567/172815537-4eda00c9-8886-4bfa-9ddd-565ec8147dc1.jpg)

[2022-06-09 09:53] cardigliano commented on #815
Please provide:
cento --version
ntopng --version

[2022-06-09 09:56] cybersecurity99 commented on #815
root@ashok-VirtualBox:/home/ashok# ntopng --version
Version:	5.3.220608 [Enterprise/Professional build]
GIT rev:	dev:c5823a24961d4cf899eeffc5bb1bd779d315f1bc:20220608
Pro rev:	r5084
Built on:	Ubuntu 20.04.4 LTS
System Id:	L399F37350D0706F9--U399F3735DE4F8A77--OL
Platform:	x86_64
Edition:	Enterprise L (Bundle)
License Type:	Time-Limited [Empty license file]
Validity:	Until Thu Jun  9 15:34:13 2022

[2022-06-11 11:33] chxd opened #816 "pfring_recv doesn't return while there is traffic"
Hi,

I'm using pf_ring 7.6.0 in my program to capture packets. The program almost definitely will stop working after running for several hours.  I did some debugging and found that the program ran into a situation in which  `tot_read == tot_insert` while `insert_off != remove_off`.  I think this is unexpected but can't figure out how it get there.

I went over the issues list, but found no similar

[2022-06-13 07:45] TIE1996 commented on #814
Hi @cardigliano , how is your analysis going?
Please let me know if you need SSH access to the machine, in that case I would set up our Server for you.

[2022-06-13 10:19] cardigliano commented on #816
@chxd please update to latest stable (8.0) or dev (8.1) as we do not support old pf_ring versions. Thank you.

[2022-06-13 10:55] cardigliano commented on #814
@TIE1996 that would speed up this debugging (send a direct email to cardigliano at ntop.org in case)

[2022-06-14 10:00] chxd commented on #816
I'm sorry for not mentioning that I'm also using 8.0.0，and the problem still exists.

[2022-06-14 10:25] cardigliano commented on #815
@cybersecurity99 the same commands are working for me, please note that you should wait a couple of minutes to get the flow in ntopng according to the cento configuration, you can control this with:

[--lifetime-timeout|-t] <sec>           | Set maximum flow duration (sec). Default: 120
[--idle-timeout|-d] <sec>               | Set maximum flow idleness (sec). Default: 60

[2022-06-21 00:20] rwhalb opened #817 "pf_ring dkms (8.1.0-7556) does not compile for the 5.18.x kernel"
[root@nst36 pfring-8.1.0]# make
make -C /lib/modules/5.18.5-200.fc36.x86_64/build M=/usr/src/pfring-8.1.0 EXTRA_CFLAGS='-I/usr/src/pfring-8.1.0 -DGIT_REV="\"dev:cabd2381e3bb623b5b22e670e9612b622fa94d49\"" -no-pie -fno-pie -Wno-implicit-fallthrough' modules
make[1]: Entering directory '/usr/src/kernels/5.18.5-200.fc36.x86_64'
  CC [M]  /usr/src/pfring-8.1.0/pf_ring.o
In file included from ./include

[2022-06-21 08:49] cardigliano commented on #817
@rwhalb it seems you are running an unsupported kernel, we will fix this asap

[2022-06-21 08:50] #815 closed, assigned to nobody

[2022-06-22 09:33] stanley111111 opened #818 "pf_ringcfg --configure-driver not applying ZC driver"
Ethernet controller: Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)

root@ubuntu:~# cat /proc/net/pf_ring/dev/enp6s0f0/info
[code]

root@ubuntu:~# lsmod | grep ring
`pf_ring               196608  0`

root@ubuntu:~# pf_ringcfg --configure-driver ixgbe --rss-queues 1

[code]

root@ubuntu:~#  sudo pf_ringcfg --list-interfaces
[code]

It says supported but it doesn't change

[2022-06-22 09:45] cardigliano commented on #818
Is your management interface also using ixgbe perhaps? In that case you need to force it (--force) as the driver will be reloaded and you may loose connectivity

[2022-06-22 10:40] stanley111111 commented on #818
Wow, thanks for the quick response just used the **--force** option, and indeed I lost connection.  And came back after 2 minutes and _worked_!!!

sudo pf_ringcfg --list-interfaces
[code]

For anyone playing around I also had the nightly build by mistake and just replaced with the stable version (lsmod rmmod)

cat /proc/net/pf_ring/info
[code]

[code]

Not sure if I am supposed to open a new issue

[2022-06-22 12:30] cardigliano commented on #818
You definitely need to use the zc: prefix to run zero-copy mode. It seems zmap does not handle it correctly (it should not fail on ioctl). Without zc: you get lower performance as you are running the standard mode and driver is now configured with 1 RSS queue.

[2022-06-22 13:41] stanley111111 commented on #818
Oh okay makes sense, should I use RSS 2? Even masscan acts weird

```masscan 0.0.0.0/0 -p80 --rate=10000000 --exclude 255.255.255.255 -oJ test.json --pfring```

```No pfring adapter available. Please install pfring or run masscan without the --pfring option. adapter[enp6s0f0].init: failed```

root@ubuntu:~#  masscan --iflist
[code]

[2022-06-23 08:59] stanley111111 commented on #818
root@ubuntu:~# modinfo pf_ring
[code]

root@ubuntu:~# lsmod | grep pf_ring
```pf_ring               724992  7 ixgbe_zc```

root@ubuntu:~# masscan --pfring -p80,8000-8100 10.0.0.0/8 --rate=10000
```No pfring adapter available. Please install pfring or run masscan without the --pfring option. adapter[enp6s0f0].init: failed```

P.S defined gateway and router ip and same outcome

root@ubuntu:~# zmap -

[2022-06-24 15:59] vbr-cts opened #819 "Troubleshooting load balancing issues with Zeek"
Hi. I'm running zeek with PF_RING 8.0 (non-ZC). The machine has 16 cores and a dual port i40e card.

I have 14 workers in the cluster (I'm having the same issue with 12, 13,15, or 16 workers). 4 of them receive two to three times  as many packets as the others. The number of distinct connections is also about double, so I think it rules out a few huge flows eating up a lot of CPU. Workers are pinn

[2022-06-24 18:00] jasonnrich opened #820 "Should I be able to use pfring_zc on a VF?"
I'm trying to virtualize what used to be some older bare metal machines.   I've got an ESXI host (703uD) with SRIOV enabled on my x710 nics.

My VM comes up (ubuntu 20), see's his interfaces (iavf driver), but I cannot seem to compile/install PFRING in such a way that it recognizes a valid interface.  I've tried installing both the i40e and ice drivers, but no valid interface is found (which seems

[2022-06-27 07:28] cardigliano commented on #820
@jasonnrich VFs for i40e are not currently supported. Only ixgbe VFs are supported. The only option you have to use ZC with X710 on a VM is to use the PCI passthrough (IO Direct)

[2022-06-27 07:28] #820 closed, assigned to nobody

[2022-06-27 07:42] cardigliano commented on #819
@vbr-cts please note that the load-balancing function computes an hash on packet headers (5-tuple including src/dst IP, port, etc), it may be that the this hash does not distribute your traffic in the optimal way due to the distribution of IPs and ports in your traffic.

[2022-06-27 07:45] cardigliano commented on #818
@stanley111111 I am not aware of what masscan does to detect pfring, please contact the masscan community (please provide a reference here)

[2022-06-27 08:45] vbr-cts commented on #819
It turns out the load-balancing was heavily skewed because I had some GRE tunnels.

https://github.com/ntop/PF_RING/pull/821 fixed it. Thanks for merging it so fast.

Do you guys have any idea of the timeline for when this might be bundled into a release ?

[2022-06-27 10:31] alchemyx opened #822 "pf_ring and i40e_zc no longer works on 5.4.0-121-generic in Ubuntu 20.04"
Hi,

We are using Ubuntu 20.04 with kernel 5.4.0-121-generic and when upgraded pf_ring from 8.0.0.7396 to 8.0.0.7556, and i40e_zc from 2.17.4.7396 to 2.17.4.7556 it started to throw errors when loading module (please note I tried rebuilding that multiple times along with complete reinstall):

[code]

Installed from apt repo:

[code]
Kind regards,
Michał

[2022-06-27 22:12] jasonnrich commented on #820
Understood, tested and works.  Thanks.  Is support for the i40e VFs on a future roadmap?

[2022-06-28 07:16] cardigliano opened #823 "Add ZC driver for iavf"
There is some request for adding a VF driver for i40e adapters (iavf), it would be nice to patch that driver to be used in ZC mode.

[2022-06-28 07:16] cardigliano commented on #820
There is no plan, however I created an feature request at https://github.com/ntop/PF_RING/issues/823

[2022-06-28 21:30] alchemyx commented on #822
It got fixed by upgrade for pfring from 8.0.0-7560 to 8.0.0-7556 and i40e-zc from 2.17.4.7556 to 2.17.4.7560. Updated version has just shown up on the repo. Thank you @cardigliano :)

[2022-06-28 21:30] #822 closed, assigned to cardigliano

[2022-06-30 15:19] Tms2207 commented on #814
@cardigliano just sent you SSH access details.

[2022-07-02 08:14] stanley111111 commented on #541
Did anyone solve that?

[code]

[code]

[code]

[2022-07-02 11:13] mzpqnxow commented on #818
FWIW, I once encountered the ioctl error when my userspace package and kernel module had a grossly mismatched version

Building both (including the PF_RING libpcap shared library) from source fixed the issue

[2022-07-04 15:45] poetlife opened #824 "PF_RING call `pfring_open` with channel param in device_name gets an error"
### Problem description
When I called `pfring_open` in standard mode with channel param in device_name, it gets an error:
[code]
Here is my code:
[code]
I compiled this code successfully, and ran it with a channel Nic name:
[code]
Then I got:
[code]
And at the same time, I can run `pfcount -i ens4f0@0` successfully!
### Problem Impact
This problem will cause [gopacket](https://github.com/google/go

[2022-07-04 15:48] poetlife commented on #824
Also I found this commit 70f63400101dfe4b9f493da051a8ba65f520cb0f may cause this issue.

[2022-07-06 04:20] dharmen8 opened #825 "[Ph7-17] Packet loss seen at /proc/net/pf_ring/*ens2f0* on RHEL 7.9"
Hello Team,

Hope you are doing good.

### Background

We have all our **production servers running in below software combination** and we haven't seen frequent `Tot Pkt Lost` counter incremented in `/proc/net/pf_ring/*eth0*` stats file.
[code]
Due to the RHEL 6.7 is EOM, end customer has requested us to move to "RHEL 7.9". Thus to fulfill their requirement, **on our pilot/staging server, we have

[2022-07-06 07:57] cardigliano commented on #825
@dharmen8 I have a few questions:
1. what application are you running? Are you able to reproduce the same with pfcount?
2. are you running ZC (using zc:xxx as interface name)?
However please note we support latest pf_ring dev (8.3) or stable (8.2)

[2022-07-06 08:21] cardigliano commented on #824
@poetlife I pushed some fix for errno based on the commit you mentioned, please check it now

[2022-07-06 08:38] dharmen8 commented on #825
@cardigliano , please find my comments
1. I am running proxy application that receives the GTP packets from pf_ring. Application get the packet from below pf-ring call back.
`rcvLen = pfring_loop(tData->m_pcapHandle, CGTPPFRingHandler::ReceivePFRingPacket, (u_char*)tData, 1);`

   I am not able to successfully run pfcount on the server `pfring_open error [Invalid
   argument] (pf_ring not loaded o

[2022-07-07 06:54] dharmen8 commented on #825
@cardigliano ,

Yesterday around `2022/07/07 00:09:29`, we pumped 3 x feed `triplicate feed` into staging Server in an attempt to make sure issue is not caused due to low traffic throughput.

`As soon as the 3x feed was open` we saw a burst in traffic `900 Mbps -> 2500 Mbps` and the system was able to handle that event, no packet drops/lost were observed.

However, `at later timestamps, 4 drops ar

[2022-07-07 07:24] cardigliano commented on #825
@dharmen8 packet loss at this stage happens when the application is not fast enough to dequeue packets from the receive queue. Since the CPU load is not that high, and the application seems to handle the rate, it seems that for some reason the application from time to time is busy in some activity and stops capturing traffic for a moment, leading to packet loss.

[2022-07-07 08:01] dharmen8 commented on #825
@cardigliano , Thank you for your quick reply.

On RHEL 6.7, with PF_RING 6.6.0, zc ixgbe 4.1.5 and the same application (built on rhel 6.x and lower release), is not experiencing this issue.

Per your experience, is it possible to improve on this issue with configuration change in pf_ring 7.5.0, zc ixgbe 5.3.7 or OS, or the only way ahead is to look into & tune application polling and packet proc

[2022-07-07 08:38] cardigliano commented on #825
You can try increasing the min_num_slots as explained at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html

[2022-07-07 09:25] dharmen8 commented on #825
@cardigliano , Thank you for your quick response on raised query.

We have currently configured `min_num_slots=409600` both on RHEL 6.7 & RHEL 7.9, can you help to understand:
1. What is the maximum value supported by `min_num_slots`. Referring to `u_int32_t min_num_slots`, would it be `2147483647 `, please advise?
2. After knowing current value, would you still recommend to increase `min_num_slot

[2022-07-07 12:47] poetlife commented on #824
It seems still get the  errno in `pfring_get_bound_device_ifindex(ring, &ring->device_id);` statement. And if we don't care about this error, shoud we set the errno to 0 when return the ring?

[2022-07-07 13:18] cardigliano commented on #824
@poetlife I just pushed a fix for this as well in pfring_open

[2022-07-07 13:23] poetlife commented on #824
Thx, I have already checked it, it works correctly now.

[2022-07-07 13:25] #824 closed, assigned to nobody

[2022-07-14 08:17] cardigliano commented on #825
@dharmen8 the real limit is the amount of memory the system is able to allocate for the ring, the default is 4096, I usually recommend setting up to 100K slots which is a reasonable number to handle spikes. Anyway there is no side effect besides memory utilization.

[2022-07-14 08:17] #825 closed, assigned to nobody

[2022-07-14 08:20] cardigliano commented on #819
8.2 stable have been released days ago including this patch

[2022-07-14 08:20] #819 closed, assigned to nobody

[2022-07-14 08:23] #813 closed, assigned to nobody

[2022-07-14 08:25] #808 closed, assigned to cardigliano

[2022-07-14 08:27] cardigliano commented on #812
Are you still able to reproduce this with latest drivers from pfring 8.3?

[2022-07-14 08:29] cardigliano commented on #783
@dreamhighhd is this still an open issue? Could you update on the current status?

[2022-07-14 19:06] Arislen commented on #812
Correct. Tested again with:

pfring-8.3.0-7646.x86_64
pfring-dkms-8.3.0.7646-7646.noarch
n2disk-3.7.220714-5373.x86_64
e1000e-zc-3.8.7.7646-dkms.noarch

This e1000-zc driver still fails with the same error.

[2022-07-15 16:13] #812 closed, assigned to cardigliano

[2022-07-27 13:31] #818 closed, assigned to nobody

[2022-07-27 13:34] #783 closed, assigned to nobody

[2022-08-01 10:10] sdir opened #826 "Why does pcap_compile not optimize"
https://github.com/ntop/PF_RING/blob/88585ea7b5e50592aba0df6db6678bd2d920b090/userland/lib/pfring_mod.c#L981

Turning on optimization can use pfring_set_bpf_filter to write more complex settings

[code]

[2022-08-01 12:46] #826 closed, assigned to nobody

[2022-08-01 12:47] cardigliano commented on #826
Optimization enabled now, there was no reason to keep it turned off afaik

[2022-08-05 10:19] cardigliano commented on #814
Fixed (main fix 57710ab88f7ca7af13c0d49e3ddeaab46de7ee66)

[2022-08-05 10:19] #814 closed, assigned to cardigliano

[2022-08-07 23:16] psdjc opened #827 "kernel Make Error"
CentOS Stream release 9

Linux test 5.14.0-134.el9.x86_64 #1 SMP PREEMPT_DYNAMIC Thu Jul 21 12:57:06 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

make[1]: Entering directory '/usr/src/kernels/5.14.0-134.el9.x86_64'
  CC [M]  /usr/local/src/PF_RING/kernel/pf_ring.o
/usr/local/src/PF_RING/kernel/pf_ring.c: In function ‘ring_proc_open’:
/usr/local/src/PF_RING/kernel/pf_ring.c:1082:48: error: implicit dec

[2022-08-08 15:44] cardigliano commented on #827
@psdjc what PF_RING version / branch are you compiling?

[2022-08-08 15:56] psdjc commented on #827
Version 8.2

[2022-08-08 15:57] cardigliano commented on #827
Please check the dev branch on github

[2022-08-08 15:59] psdjc commented on #827
I compile after running
git clone https://github.com/ntop/PF_RING.git

[2022-08-10 09:56] vehere-ccu1 opened #828 "PF_RING 8.2.0 Kernel Crashing While Unloading & Loading i40e Driver With Kernel-5.10.0.-16"
PF_RING 8.2.0 Kernel Crashing While Unloading & Loading i40e Driver with Kernel-5.10.0.-16
![image](https://user-images.githubusercontent.com/33222750/183873195-4a57b734-e1a1-4ebc-9b66-f42eece39fca.png)

[2022-08-10 11:32] vehere-ccu1 commented on #828
It was due to iommu.

[2022-08-10 11:32] #828 closed, assigned to nobody

[2022-08-18 07:35] #827 closed, assigned to nobody

[2022-08-24 17:46] RayFoulk commented on #817
I ran into this same problem(s) running 5.18.19, and worked up this patch based on clues found here:

https://bugs.gentoo.org/847154

https://www.mail-archive.com/arch-commits@lists.archlinux.org/msg321191.html

Fair warning: This is completely untested. YMMV.
[0001-patch-for-kernel-5.18.X.patch.gz](https://github.com/ntop/PF_RING/files/9418314/0001-patch-for-kernel-5.18.X.patch.gz)

[2022-08-25 07:06] cardigliano commented on #817
@RayFoulk could you send this as a PR please?

[2022-08-26 08:14] wangfeng22 commented on #748
@ShijunGao  I encountered the same problem. Do you know why now?

[2022-08-27 03:29] wangfeng22 opened #831 "Packet loss with Suricata"
There is a serious problem when I use  paid pf_ring zc mode. I have set up 10 rx teams for the network interface, but zc:eth2@0 always drops pkts, the other nine channel is normal. Following is `pfcount` data.
pf_ring version is 8.0.0.  CPU and memory resources are sufficient.
[code]
Looking forward to your reply. Thank you very much.

[2022-08-29 07:18] cardigliano commented on #831
@wangfeng22 what is the adapter model?

[2022-08-30 02:40] wangfeng22 commented on #831
@cardigliano could you say it in more detail?

[2022-08-30 07:18] cardigliano commented on #831
ethtool -i eth2

[2022-08-30 12:58] wangfeng22 commented on #831
@cardigliano Following is the adapter model. Thanks for your reply.This problem confuses me a lot , I really hope to get your help .
[code]

[2022-08-30 13:11] wangfeng22 commented on #831
This is my NIC eth2 configuration.
[code]
I opened there rx channels. This is the  adapter model when I using `pfcount -i zc:eth2@0`.
[code]

[2022-08-30 13:14] cardigliano commented on #831
You configured the adapter with 3 RSS queues. I assume you are running 3 pfcount instances, one per queue.
Please note that on this adapters, drops from all queues are all reported to queue 0.

[2022-08-31 01:38] wangfeng22 commented on #831
Yes, that's totally right as you say. Is this means  my  zc mode NIC is no problem?

[2022-08-31 01:39] wangfeng22 commented on #831
@cardigliano Yes, that's totally right as you say. Is this means  my  zc mode NIC is no problem?

[2022-08-31 01:48] wangfeng22 commented on #831
@cardigliano I think that I should config my `suricata` to slove pkts drop problem. It's too hard.😖

[2022-09-06 11:26] teoring opened #832 "BPF filter for VLAN doesn't work after update from 6.6.0 to 7.8.0"
We noticed strange change in the behavior of BPF filter. After the PFRING update we noticed that negative offsets doesn't seem to work anymore.

This is the filter we use to filter on specific VLANs:

` '(ether[-4088:4] = 3 and (ether[-4048:1] = 1 and (ether[-4052:1] = 712 or ether[-4052:1] = 713 or ether[-4052:1] = 714 or ether[-4052:1] = 715 or ether[-4052:1] = 717)))'
`
Where "3" in 'ether[-408

[2022-09-07 10:22] cardigliano commented on #832
@teoring this seems related to some change in the latest libpcap version, I will take a loop asap. Thank you for reporting with useful details.

[2022-09-12 07:32] cardigliano commented on #832
@teoring it seems that the behavior of the bpf compiler changed (also 1.7.x was producing the same bytecode of 1.5.x). Could you open an issue at https://github.com/the-tcpdump-group/libpcap/issues ? Thank you.

[2022-09-12 07:35] teoring commented on #832
Thanks for checking! We can close this issue and I will open a new one on libpcap repo.

[2022-09-12 07:35] #832 closed, assigned to cardigliano

[2022-09-14 06:16] Yasminkundur opened #833 "PF_ring version certification for RHEL 9 kernel"
Hi,

we want to know what is the pf_ring version supported for RHEL9 kernel version "5.14.0-70.17.1.el9_0.x86_64"
we are certifying our applications where we used pf_ring driver. following are the results.

Pf_ring 8.x version on kernel "5.14.0-70.17.1.el9_0.x86_64" (RHEL9)
git clone https://github.com/ntop/PF_RING.git
Kernel Module Installation
cd PF_RING/kernel
make
sudo make install

Running PF

[2022-09-14 07:30] cardigliano commented on #833
Please use pf_ring 8.3 (dev branch) on RH9

[2022-09-14 15:06] Yasminkundur commented on #833
@cardigliano
 What about pf_ring 7.x version??
Why we are facing the issue while building??
 Will it not work on RHEL9?? Is Yes will it work on RHEL8?

[2022-09-14 15:46] cardigliano commented on #833
PF_RING 7.x is no longer supported sorry

[2022-09-14 15:46] #833 closed, assigned to nobody

[2022-09-22 16:03] jurjenwestra78 opened #835 "ixgbe-zc-dkms does not install on docker"
For automated testing purposes we are trying to install `ixgbe-zc-dkms` from the repo on a `ubuntu-20` docker container that runs on a `ubuntu-18` host. It fails (see below).

Basically, the installer is confused which kernel is active (not unreasonably so). Of course, `uname` returns the _actual_ kernel:
[code]
but it says `Building for 5.4.0-126-generic`. I can "fix" the install issues by replac

[2022-09-23 07:14] cardigliano commented on #835
@jurjenwestra78 please note that kernel modules should be installed/loaded on the host system as a container is a userspace "jail" thing..

[2022-09-23 07:43] jurjenwestra78 commented on #835
@cardigliano
My understanding of kernel modules is very limited, so your help is appreciated. Please help me understand:

1. Having `ixgbe-zc-dkms` as a dependency makes no sense if you're installing on docker. This dependency should be installed+loaded on the host system. Right?
2. Would things "just work" if we have the `pfring` and `ixgbe-zc-dkms` packages on the host system and only install `p

[2022-09-23 08:08] cardigliano commented on #835
Correct

Yes

Yes but as I said you cannot install ixgbe-zc-dkms in the container

[2022-09-23 15:00] jurjenwestra78 commented on #835
Thanks, I think I know enough for now!

[2022-09-23 15:00] #835 closed, assigned to nobody

[2022-09-28 09:22] AntonyNow19 opened #836 "user app crash keeps zc interface locked"
Hello @cardigliano @lucaderi

I have the following issue while using zbalance_ipc -m 1 -n 2 -c 1
When I run an application that listens to traffic from zc:1@0 (i.e zeek or suricata) and if for some reason the user app is killed,
then the virtual interface of zc:1@0 is locked.
The error is that no such device exists.

An ugly fix would be to restart the zbalance_ipc process.

Is there a more elegan

[2022-09-28 09:42] cardigliano commented on #836
@AntonyNow19 unfortunately this is expected, as zero-copy technologies are based on shared memory to avoid any synchronization overhead, with the drawback that applications should not crash nor misbehave as otherwise they leave this shared data structures in an "unknown" state and it is not possible to recover the queue. Please also read https://www.ntop.org/pf_ring/best-practices-for-using-bro_id

[2022-09-29 09:43] AntonyNow19 commented on #836
I understand the constraints,

But if I am willing to take the risk of corrupted memory, is there a way to
disconnect it from zbalance_ipc ?
Any signal I can send or EOF for example ?

In addition to it, using the dummy interfaces method you have suggested,
implies that I will relay the traffic back to the kernel and to the network
stack.
In such a case, there is no meaning to zero copy mode when

[2022-09-29 10:25] cardigliano commented on #836
No way, as zbalance_ipc needs to rebuild the cluster, which is the same as restarting zbalance_ipc (you need to disconnect all the consumers anyway), thus it is better to rely on systemd for this, restarting the whole hierarchy (zbalance and consumers)

Correct, unless you need the balancer to send to boh many suricata consumers (using the dummy interfaces) and other applications using zero-copy q

[2022-09-29 12:07] AntonyNow19 commented on #836
And is there a way to redirect zc output to anything other than the dummy interface ?
any named pipe or local socket ?

Thank you

[2022-09-29 13:20] cardigliano commented on #836
Only network interfaces are supported atm, but you can extend zbalance_ipc to push packets to other kind sockets. However I am not sure what performance boost you get as you go through the kernel anyway.

[2022-10-03 13:31] #836 closed, assigned to nobody

[2022-10-03 13:32] #817 closed, assigned to nobody

[2022-10-13 06:00] GitSoftwareNow opened #837 "how can I build arm cortex A72 ports?"

[2022-10-14 12:37] victorjulien commented on #786
@cardigliano is this the proper fix for this issue? It would mean 8.0.0-stable isn't supported for Suricata. 7.8.0 and 8.2.0 seem to compile fine.

[2022-10-14 13:13] cardigliano commented on #786
@victorjulien we only support latest stable (8.2) and dev (8.3) branches, 8.0 is EOL

[2022-10-14 13:28] victorjulien commented on #786
Ok, good to know. Thanks!

[2022-10-19 20:56] mzpqnxow commented on #799
Is there a reason this has to check /usr/local as opposed to using the same directory as the `if_xdp.h` header? I ran into this recently and fixed the two issues- would be nice if they were both in a single place

[2022-10-23 23:52] mzpqnxow opened #838 "connectx-3"

[2022-10-23 23:52] mzpqnxow commented on #838
Oops, sorry

[2022-10-23 23:52] #838 closed, assigned to nobody

[2022-11-04 10:23] #831 closed, assigned to nobody

[2022-11-07 18:31] frkn4129 commented on #831
how did you solve this problem ? @wangfeng22

[2022-11-08 13:46] frkn4129 opened #839 "PF_RING Package Dropped"
I am receiving 5 Gigabit network traffic and I would like to process this traffic without data loss. I have tried to process this data with pf_ring in the Go programming language.
I have processed the network traffic with Go pf_ring on the nic card. While processing the data I also captured the traffic with tcpdump. Afterwhile I compared the differences between pf_ring and tcpdump. There were miss

[2022-11-08 13:58] frkn4129 commented on #839
**case 1**  0 drop
![image](https://user-images.githubusercontent.com/89160550/200583514-fcc33120-a6de-4c40-9f24-010909bf49ab.png)

![image](https://user-images.githubusercontent.com/89160550/200583462-f702f4ff-c602-4df4-992c-2ccf96b02f20.png)

case 2
![image](https://user-images.githubusercontent.com/89160550/200583285-d069356b-1c28-4216-a456-74ef2ca0b051.png)

[2022-11-08 14:00] cardigliano commented on #839
@frkn4129 at high packet rate the application should be really fast in processing packets as there are not much cpu cycles available, thus it is expected to loose packets if you use things like system calls or prints. Even the go wrapper itself introduces some overhead. You can try increasing the buffer size tuning min_num_slots as documented at https://www.ntop.org/guides/pf_ring/get_started/pack

[2022-11-08 14:11] frkn4129 commented on #839
@cardigliano  Can you suggest a different method in sustainable traffic?

[2022-11-15 17:20] novaksam opened #840 "ZBalance_IPC syntax for multiple process receiving full packets and flow table usage"
Hi there,

Not a bug, but I'm not sure about the syntax needed to send full packets, with multiple queues (zc@1, zc@2, etc) and flow tables to multiple processes.

I'm looking to centralize nProbe, suricata and bro on to a single host, and I think the following syntax/config would get me most of the way there:

/etc/pf_ring/pf_ring.conf
```min_num_slots=65536```

/etc/pf_ring/zc/i40e/i40e.conf
```

[2022-11-15 17:27] cardigliano commented on #840
@novaksam could you describe what are you trying to achieve in terms of configuration? I need the big picture in order to guide you through the correct configuration. E.g. why are you creating a FT configuration file?

[2022-11-15 19:15] novaksam commented on #840
I'm looking to generate netflow via nProbe, get IDS alerts with Suricata, and I wanted to start exploring bro, all from a single host. Right now I have an optical mirror feeding the two boxes I'm running suricata and nprobe on, but because of some networking changes we're making (moving from a 10Gb in/egress to 2x 10Gb Active/Active in/egress) I wanted to consolidate down to a single host.

The fl

[2022-11-16 09:10] cardigliano commented on #840
You zbalance_ipc configuration looks fine, I see you are combining zbalance_ipc with RSS to distribute the load across multiple zbalance_ipc instances which is fine. The only mistake a I see is that you are using zc:eth1@1 zc:eth1@2 instead of zc:eth1@0 zc:eth1@1

[2022-11-16 09:11] cardigliano commented on #840
As of the FT configuration to filter out Youtube, Netflix, etc on suricata and bro, please check the PF_RING user's guide for instructions on how to enable the filtering on the applications

[2022-11-16 16:34] novaksam commented on #840
Just to clarify, using flow tables won't prevent those flows from being processed by nProbe? I don't have any experience using FT, so I'm not sure exactly how it hooks in.

[2022-11-16 16:36] cardigliano commented on #840
If you configure L7 filtering using FT in Suricata or Zeek, it does not affect nProbe, as FT runs inside Suricata/Zeek in that case.

[2022-11-16 16:36] novaksam commented on #840
Awesome, thank you so much for the help!

[2022-11-16 16:37] #840 closed, assigned to nobody

[2022-11-22 21:45] novaksam commented on #786
Looks like, at least with gcc-12 on ubuntu 22.04LTS, the std=c11 option on the suricata autoconf file is what is causing the compilation errors.

[2022-11-23 06:59] jiongge opened #841 "pfring_recv bug"
**in pfring.c and function**

int pfring_recv(pfring *ring, u_char** buffer, u_int buffer_len,
		struct pfring_pkthdr *hdr,
		u_int8_t wait_for_incoming_packet)

#if defined(ENABLE_BPF) || defined(HAVE_PF_RING_FT)
recv_next:
#endif

    rc = ring->recv(ring, buffer, buffer_len, hdr, wait_for_incoming_packet);

    if (unlikely(rc > 0 && ring->flags & (
          PF_RING_IXIA_TIMESTAMP |

[2022-11-23 08:14] #841 closed, assigned to nobody

[2022-11-23 08:14] cardigliano commented on #841
Fixed, thank you

[2022-11-24 07:37] frank-s-liu opened #842 "how to setup a cluster through muti-thread"
it seems no API is provided in libpcap, and it seems libpcap using environment variable likes PCAP_PF_RING_CLUSTER_ID to loadbalance traffic.
are there some descriptions in document?

[2022-11-24 08:29] cardigliano commented on #842
@frank-s-liu they are not documented unfortunately, we will add the doc asap

[2022-11-24 09:05] frank-s-liu commented on #842
thanks

[2022-11-24 09:05] #842 closed, assigned to nobody

[2022-11-24 09:44] cardigliano commented on #842
Initial doc: https://github.com/ntop/PF_RING/blob/dev/doc/api/libpcap.rst

[2022-11-24 10:02] cardigliano commented on #839
@frkn4129 if the performance drop depends on the Go wrapper and application, there is nothing we can do on the capture side. I suggest to check the performance with pfcount (which using the native C API) and compare it with the go application.

[2022-11-24 10:02] #839 closed, assigned to nobody

[2022-11-24 10:05] cardigliano commented on #837
You should compile on the target platform or use a cross compiler, we do not provide scripts for that sorry.

[2022-11-24 10:05] #837 closed, assigned to nobody

[2022-11-24 10:06] cardigliano commented on #823
iavf zc driver is now available

[2022-11-24 10:06] #823 closed, assigned to nobody

[2022-11-24 10:09] cardigliano commented on #782
Sorry for late reply, it seems you did not preallocate enough buffers for both NICs. Did you check that? I do not have enough information to check this is the case.

[2022-11-24 10:37] fattaholmanan commented on #782
Thanks, yes I fixed it.
I had to allocate more `hugetable` when loading the driver. I modified the `HUGEPAGES_NUM=` in the [`load_driver.sh`](https://github.com/ntop/PF_RING/blob/dev/drivers/intel/ixgbe/ixgbe-5.5.3-zc/src/load_driver.sh)