[2020-02-26 04:45] annp1987 opened #557 "Segmentation fault when enable PRINT_NDPI_INFO of ftflow_pcap"
I tried to enable PRINT_NDPI_INFO of ftflow_pcap, then I got segmentation fault.
I saw ndpi_flow2json encounter segmentation fault with HTTP.

[2020-02-26 05:07] mdiqbalahmad commented on #555
Hi Alfredo,

Do you have any suggestion for this.

-Iqbal

[2020-02-26 08:59] cardigliano commented on #557
@annp1987 this was due to some missing NULL string check in the exported metadata, I pushed a fix for this. Please update ndpi (if you are using packages, a new one will be available later today).

[2020-02-26 08:59] #557 closed, assigned to nobody

[2020-02-26 09:41] annp1987 commented on #557
@cardigliano : thank you for fixing it.

[2020-02-26 17:25] cardigliano commented on #555
@mdiqbalahmad in theory disk2n should be able to achieve similar performance of pfsend, however there is some factor that could lead to lower performance, for instance the fact that it is using more memory bandwidth to move data from disk. Please 1. try replaying a small pcap and 2. provide some hw specs (output from "cat /proc/cpuinfo" and "dmidecode" should be enough)

[2020-02-28 13:56] tadams42 opened #558 "ndpi-dev package missing from apt-stable"
Was trying to do something like this:

[code]

and it doesn't compile since I haven't got `ndpi/ndpi_api.h`...

One way to get it is to install `ndpi-dev` which is only available from unstable repo. I would like to avoid that since I'm pulling other packages from `apt-stable`. Also, versions in stable and unstable differ, so that would be concern preventing me to mix those two sources.

[2020-03-03 19:30] Nieuwejaar opened #559 "ifindex_map[] exhaustion"
If a device doesn't have an entry in `ifindex_map[]`,  `pf_ring.c:ring_notifier()` will attempt to allocate one every time it is called.  This is true even when the device is being unregistered.  When adding and removing a bridge, we will see something like:

[code]

Even though the bridge has been deleted, it is consuming a slot incorrectly allocated during `NETDEV_UNREGISTER_FINAL`.

The attache

[2020-03-04 08:30] cardigliano commented on #559
Fixed. Thank you

[2020-03-04 08:30] #559 closed, assigned to nobody

[2020-03-09 14:38] tadams42 opened #561 "Ubuntu 18.04: unmet dependencies for pfring-dkms package"
`apt` reports following:

[code]

[2020-03-09 14:42] cardigliano commented on #561
@tadams42 I need to figure out wether the package in the repo is broken, or the (old) one you have installed is not going to be updated: could you remove pfring-dkms and try installing it again?
apt-get remove pfring-dkms
apt-get update && apt-get install pfring-dkms && apt-get upgrade

[2020-03-09 14:47] tadams42 commented on #561
Hey, cardigliano, following worked flawlessly:

[code]

and then

[code]

[2020-03-10 12:49] tadams42 opened #562 "ftflow - ambiguous pfring_ft_ndpi_protocol.master_protocol"
Using `ftflow` built from source, branch, `git:7.6.0-stable` I'd enabled printing of `pfring_ft_ndpi_protocol.master_protocol`:

[code]

After sampling some data via `ftflow -i foo -7`, I'm getting few different `master_protocol` IDs for same or similar L7 name:

 `...l7: SMTP, l7_proto_id: 3...`
 `...l7: SMTP, l7_proto_id: 0...`
`...l7: SMTP.SomeApp1, l7_proto_id: 3...`
`...l7: SMTP.SomeApp2,  l7

[2020-03-10 12:57] tadams42 commented on #562
Note that this is not isolated to SMTP - I'm seeing same behavior for HTTP (0 and 7), DNS (0 and 5), IMAP (0 and 4), etc...

[2020-03-11 09:13] tadams42 commented on #558
I ended up taking headers from nDPI source tree, `3.2-stable` branch, and embedding them into my own source tree. Would prefer having an external package to depend on, but it is not a deal breaker.

[2020-03-11 09:17] cardigliano commented on #558
@tadams42 we will add the -dev package to the stable asap

[2020-03-11 09:18] tadams42 commented on #556
@cardigliano I ended up switching to new version of pfring/ndpi anyway and also fixed my dependency freezing procedure.

[2020-03-18 14:53] cardigliano commented on #562
@tadams42 could you provide a pcap to reproduce this? Thank you.

[2020-03-18 14:56] cardigliano commented on #561
It seems that the "Depends" section of the package is currently correct, I will keep an eye on this.

[2020-03-18 14:56] #561 closed, assigned to nobody

[2020-03-18 15:03] igorribeiroduarte opened #563 "Pfcount seems to not be reading correctly from NIC queues"
I'm trying to use pfcount to read from ixgbe queues on a machine with 8 queues and 56 logical cores, but when I run `pfcount -i INTERFACE@queue` the only queues which seems to be receiving traffic are queues 1 and 33, with both receiving a full copy of the traffic. All the other queues seems to be ignored by pfring.
But, when I check ethtool -S $INTERFACE I can see traffic in 8 queues, and no traf

[2020-03-18 15:05] tadams42 commented on #562
Can't take a snapshot from our primary deployment site, but will try to reproduce on my dev machine using traffic that I generate myself. Will let you know if I get something useful.

[2020-03-18 15:43] cardigliano commented on #563
@igorribeiroduarte please also specify the pf_ring version you are using (from /proc/net/pf_ring/info)

[2020-03-18 15:44] cardigliano commented on #562
Thank you

[2020-03-18 16:41] cardigliano commented on #546
@Gelob sorry for late reply, are you still able to provide some output from a failing update to check  what version they are requiring? A yum list installed for the ntop packages would also be useful. Thank you!

[2020-03-18 17:16] cardigliano commented on #563
A couple of fixes and improvements have been pushed, a new nightly build will be available soon. Please test it and let us know. Thank you.

[2020-03-18 17:21] igorribeiroduarte commented on #563
Thank you. My pfring version is `7.6.0-stable:166c80cf3ee6cb6614ef0e59f7a0c26c218176f6`

[2020-03-18 19:26] Gelob commented on #546
@cardigliano i went around to all of my machines and oddly enough they updated without issue which is very unusual since I've been having this happen for over a year now. I'll check again once some new builds are out.

[2020-03-19 08:19] cardigliano commented on #555
Any update on this?

[2020-03-19 08:31] mdiqbalahmad commented on #555
Hi Alfredo,

Playing small pcaps also did not help.
Below is the cpuinfo and dmidecode output.

[dmidecode.txt](https://github.com/ntop/PF_RING/files/4353406/dmidecode.txt)

[cpuinfo.txt](https://github.com/ntop/PF_RING/files/4353408/cpuinfo.txt)

[2020-03-19 08:44] cardigliano commented on #555
Please note that the RAM configuration is not optimal, your CPU has 4 memory channels, but only 2 memory sticks installed on each CPU.

Please also provide 5-6 lines from the output of the below commands:
n2membenchmark -c 0
n2membenchmark -c 6

[2020-03-19 08:59] mdiqbalahmad commented on #555
Do I need to fill all the 4 memory channels with memory  sticks? for optimal throughput.

Please find the required output

= # n2membenchmark -c 0
28111052.556317 pps/14.392859 Gbps
28151615.506220 pps/14.413627 Gbps
28314233.545257 pps/14.496888 Gbps
28105231.475047 pps/14.389879 Gbps
28066210.351586 pps/14.369900 Gbps
28116749.746261 pps/14.395775 Gbps
28303909.931873 pps/14.491602 Gbps
28083216

[2020-03-19 09:08] cardigliano commented on #555
Yes

You should see those values increasing after adding 2 more memory sticks per CPU

[2020-03-19 12:29] igorribeiroduarte commented on #563
Everything's working fine now. Thank you.

[2020-03-19 13:31] BugsBountyHunter opened #564 "if I need encrypt network packets can PD_RING Kernel help me in it?"

[2020-03-19 13:42] #563 closed, assigned to cardigliano

[2020-03-19 13:42] cardigliano commented on #564
What kind of encryption do you need?
(PF_RING does not currently provide encryption)

[2020-03-20 13:41] BugsBountyHunter commented on #564
I just try to create a network module to encrypt/decrypt network packet I was not interested in which any kind of encrypt I just need to prove the concept.

[2020-03-23 14:32] cardigliano commented on #564
@DEV-A7med pf_ring is a kernel module for raw packet capture/transmission, attaching to the sniffing layer in the linux stack. It does not act as a bridge for the linux kernel, thus you cannot use it to for transparent encryption/decryption for traffic from/to the host.

[2020-03-23 14:32] #564 closed, assigned to nobody

[2020-03-23 14:34] cardigliano commented on #564
Note: if you use kernel-bypass drivers (ZC), combined with the "stack" module, you can actually act as a bridge (with encryption/decryption in a zc-based userspace application)

[2020-03-23 17:28] cardigliano commented on #534
I pushed a few paches to build the drivers on Centos 8.1 (same kernel as RH 8.1)

[2020-03-23 17:28] #534 closed, assigned to nobody

[2020-03-24 22:46] tsivakca67 opened #566 "SR-IOV setup with XL710 (intel 40G)"
We would want to receive packets in XL710 and distribute the packets based on ntuple to
different VF’s. Then, We would want to use PF_RING and  i40evf module in the guest vm’s to further process the packets. Pls note that we do not want to steer the traffic based on mac or vlan to different VF’s.
Let me know the steps needed to achieve this.

[2020-03-25 08:18] cardigliano commented on #566
@tsivakca67 please note that we do not have a i40evf ZC driver at the moment, you should keep using the vanilla i40e driver. You can still use the PF_RING kernel module (in the VM). As of steering to the VFs, there is no special instructions for PF_RING, you can keep using what is supported by the adapter with ethtool.

[2020-03-25 08:18] #566 closed, assigned to nobody

[2020-03-25 17:14] tsivakca67 commented on #566
Thank you for the information provided.

[2020-03-26 05:36] mdiqbalahmad opened #567 "Configure disk2n to send traffic in Million Packets per second"
Hi,

Currently I am using disk2n to replay the pcaps. using below command

/usr/local/bin/disk2n -m /root/pcap-list.txt -i nt:0 -I 505 -C 65535 -b 20480 -U -c 1 -w 3 -S 5 -O -v

I need to send the traffic at 1.2 Mpps, instead of configuring the throughput. Is there any way to achieve this. I had a look at disk2n documentation and did not find any options for the same.

-Iqbal

[2020-03-26 09:15] cardigliano commented on #567
Did you check the inter-packet-time option? You should be able to tune the rate changing this parameter:
[--inter-packet-time|-I] <nsec>

[2020-03-26 09:32] mdiqbalahmad commented on #567
yes I used -I 505  as in below command. This is for time difference between packets in ns.
/usr/local/bin/disk2n -m /root/pcap-list.txt -i nt:0 -I 505 -C 65535 -b 20480 -U -c 1 -w 3 -S 5 -O -v

How do I configure Mpps?

[2020-03-26 10:16] cardigliano commented on #567
By tuning the inter-packet time you should be also able to tune the rate (there is no option to directly specify the pps atm)

[2020-03-26 10:46] mdiqbalahmad commented on #567
Thanks.

[2020-03-26 10:46] #567 closed, assigned to nobody

[2020-04-02 16:59] Gelob commented on #546
@cardigliano here is the output from one of my systems showing the issue again.
[code]

[code]

[2020-04-06 16:06] cardigliano commented on #546
@Gelob thank you for coming back to us with more details. It seems nProbe requires a pf_ring version which is older than the one available. Unfortunately I am not able to reproduce this now. Please also provide "yum deplist nprobe". Thank you.

[2020-04-07 16:59] cardigliano commented on #562
Closing for inactivity, please reopen if you can still provide details to reproduce this.

[2020-04-07 16:59] #562 closed, assigned to cardigliano

[2020-04-07 17:14] igorribeiroduarte opened #568 "Pfcount is receiving all the traffic on queue 1, despite the fact that my traffic is divided into 6 queues"
I'm having a problem with pf_ring after my kernel updated to 4.15.0-91 version.
My traffic is divided into 6 queues, configured using ethtool and the output from `ethtool -S $interface` shows that I have traffic in all the 6 queues. But when I try to use pfcount to process this traffic, everything seems to be going to queue 1

**My system info:**
pfring version: 7.6.0-stable:166c80cf3ee6cb6614ef0e

[2020-04-07 17:33] Gelob commented on #546
So the box that originally had this issue now updated fine, but here is another one. It didn't have the issue last week but now it does.

[code]

[2020-04-07 20:01] andrewbeard opened #569 "pfring_zc_create_cluster arguments changed, breaking compatibility"
It seems like at some point the arguments to the pfring_zc_create_cluster function were modified, adding an additional flags parameter. This breaks existing applications (like zmap) that build against pf_ring ZC. In addition the API documentation does not seem to have been updated, showing only the old prototype:
https://www.ntop.org/guides/pf_ring_api/pfring__zc_8h.html#ae72b4662fcd2463633ddb6527

[2020-04-08 07:28] cardigliano commented on #569
@andrewbeard please note that the API documentation has been moved to https://www.ntop.org/guides/pf_ring/api/ , we are going to remove the old documentation (the one in your like) now. Could you provide an example of how you would implement this compatibility stub? Thank you.

[2020-04-08 09:26] cardigliano commented on #568
@igorribeiroduarte please note that the pf_ring revision you are using is not the latest one, a patch for RSS has been pushed a few days ago (https://github.com/ntop/PF_RING/commit/0e07b27c0d593174584de79e273470366a91d307)
Please update and let us know. Thank you.

[2020-04-08 10:50] cardigliano commented on #546
@Gelob I am checking the repo now and it looks fine, but it gets updated overnight, could you provide the same commands today? Sorry for bothering you..

[2020-04-08 11:44] igorribeiroduarte commented on #568
Sorry, I thought this was the last version.
It's working fine now. Thank you.

[2020-04-08 12:36] cardigliano commented on #568
Great. Thank you.

[2020-04-08 12:36] #568 closed, assigned to nobody

[2020-04-08 16:40] Gelob commented on #546
Yup, its no bother. Hopefully we can figure this out :). Today on that same box its not complaining about a dependency issue.

[code]

[2020-04-09 16:03] cardigliano opened #570 "Accolade: update flow offload support based on latest SDK changes"
Flow offload has been optimized into latest Atlas1100 fw, this requires some changes to pf_ring to fully support it.

[2020-04-10 04:33] ellenzhu opened #571 "Can't receive alert in suricata, without any errors"
Hi,
I am using the lastest version of pf_ring zc. There are no errors when compiling and running zbalance_ipc, also suricata is running successfully. I can't see any alert in suricata, while I notice many alerts when using pfring with standard mode.
I don't have an license, but it's free in 5 minutes. I think it should have alerts in the first 5 minutes.
ps:
3.10.0-693.21.1.el7.x86_64 is the kerne

[2020-04-13 08:59] mapetenator opened #572 "PF_RING with kernel 5.6.3 - compilation problem"
I tried to compile PF_RING with the new kernel version...

#make -C /lib/modules/5.6.3/build SUBDIRS=/usr/src/PF_RING/kernel EXTRA_CFLAGS='-I/usr/src/PF_RING/kernel -DGIT_REV="\"dev:12fa75e4487bc6b91fef8e8448790131a2f6b004\"" -no-pie -fno-pie -Wno-implicit-fallthrough' modules
make -C /lib/modules/5.6.3/build M=/usr/src/PF_RING/kernel EXTRA_CFLAGS='-I/usr/src/PF_RING/kernel -DGIT_REV="\"dev:12fa75

[2020-04-13 09:06] wangly2020 opened #573 "The VF function of pf_ring 7.6.0 in the vxlan environment，got the following error “4 bytes missing!”"
In the vxlan environment, tried the VF function of pf_ring 7.6.0 version, using the modified tcpdump to capture packets, "4 bytes missing!"
Examples：
[root@sriov6-nat ~]# tcpdump -i zc:ens5 -vvv
#########################################################################
# ERROR: You do not seem to have a valid PF_RING ZC 7.6.0.200220
# license for ens5 (MAC FA:16:xx:xx:70:DE) [Intel 10 Gbit ixgbe VF

[2020-04-14 12:51] cardigliano commented on #573
@wangly2020 could you provide a small pcap with a few packets captured on top of this vf?
You can use pfcount -i zc:ens5 -o dump.pcap -N 10 (you should get dump.pcap.1 as output)

[2020-04-15 08:05] cardigliano commented on #572
@mapetenator what OS are you running? Please note we officially support latest Ubuntu/Centos/Debian LTS kernels. We will do our best to support also the latest one.

[2020-04-15 08:35] cardigliano commented on #571
Did you check statistics for received packets in Suricata? Is it processing the expected number of packets? Is it extracting traffic metadata, besides the fact that it is not exporting alerts? Please provide more details in order to figure where data is getting lost.

[2020-04-16 11:05] wangly2020 commented on #573
Here is my pcap info:

[root@sriov6-nat ~]# pfcount -i zc:ens5 -o dump.pcap -N 10
#########################################################################
# ERROR: You do not seem to have a valid PF_RING ZC 7.6.0.200220
# license for ens5 (MAC FA:xx:xx:xx:xx:DE) [Intel 10 Gbit ixgbe VF]
# ERROR: Missing license file
# ERROR: Please get one at http://shop.ntop.org/
################################

[2020-04-16 11:09] wangly2020 commented on #573
[dump.pcap.zip](https://github.com/ntop/PF_RING/files/4486622/dump.pcap.zip)

[2020-04-16 11:12] ellenzhu commented on #571
Thanks. My problem is similar with issue[#573](https://github.com/ntop/PF_RING/issues/573)

[2020-04-17 01:38] tsivakca67 opened #574 "pfring_zc_ipc_attach_queue error in vm"
Hi,
  I am executing the programs in examples_zc.
Step 1: Starting up guest and specifying the monitor socket as /tmp/qmp4
Step 2: Running the zpipeline_ipc program on the Host
./zpipeline_ipc -i zc:psdeth0%0 -o zc:psdeth1%1 -c 100 -n 2 -f -Q /tmp/qmp4
Step 3: Run zcount_ipc on the guest machine
./zbounce_ipc -c 99 -i 0 -o 1 -g 3 -u
I am getting the following error at pfring_zc_ipc_attach_queue er

[2020-04-17 01:41] tsivakca67 commented on #574
Correcting the typo error:
Step 2: Running the zpipeline_ipc program on the Host
./zpipeline_ipc -i zc:psdeth0%0 -o zc:psdeth1%1 -c 100 -n 2 -f -Q /tmp/qmp4
Step 3: Run zbounce_ipc on the guest machine
./zbounce_ipc -c 100 -i 0 -o 1 -g 3 -u
Getting following error while running bounce_ipc
pfring_zc_ipc_attach_queue error [No buffer space available] Please check that cluster 100 is running

[2020-04-17 03:21] tsivakca67 commented on #574
Looks like the problem is in opening /dev/uio0. Shall update once I resolve that issue.

[2020-04-17 04:52] mapetenator commented on #572
Hi,
thank you for your response.
I use Debian GNU/Linux 9.12 (stretch).
Sorry, I didn't know you only support the official version.
I will be grateful for your help.

[2020-04-17 06:06] sysxtem opened #575 "Starting PF_RING module: modinfo: ERROR: Module ixgbe-zc not found"
[root@localhost ~]# systemctl status pf_ring -l
● pf_ring.service - PF_RING service
   Loaded: loaded (/usr/lib/systemd/system/pf_ring.service; disabled; vendor preset: disabled)
   Active: active (exited) since 五 2020-04-17 14:03:05 CST; 5s ago
  Process: 6201 ExecStopPost=/bin/sh -c /bin/echo "$(/bin/date) pf_ring StopPost" >> /var/log/ntop-systemd.log (code=exited, status=0/SUCCESS)
  Process:

[2020-04-17 19:14] andrewbeard commented on #569
Sorry, I realized after the fact the kind of function overloading I was think of can only be done in C++, not C. It does appear that this change has also made it to the 7.4.0-stable branch, breaking compatibility within the same stable release stream, though.

[2020-04-20 10:48] cardigliano commented on #574
Did you check https://github.com/ntop/PF_RING/issues/416 ?
What QEMU version are you running?

[2020-04-20 10:50] cardigliano commented on #575
What OS are you running?) Please install lspci (a dependency has been added lately).
Did you follow the instructions at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html to configure pf_ring? Wizard or manual?

[2020-04-20 11:03] cardigliano commented on #569
Yeah, unfortunately we cannot use overloading, and we also wanted to avoid duplicating the function complicating the API. We didn't think this was an headache for other projects (we updated the API in our projects). Too late to come back at this point..

[2020-04-20 11:03] #569 closed, assigned to nobody

[2020-04-20 22:48] tsivakca67 commented on #574
QEMU emulator version 2.4.0, Copyright (c) 2003-2008 Fabrice Bellard.
I am able to get this working now.
dmesg output indicates that there is no memory for the pci device to be mapped.
Restarted the guest program and fired up the host program again and now the /dev/uio0 is getting created and we are able to successfully get the packets in the guest machine.
However, I am seeing some issues when I

[2020-04-21 05:40] sysxtem commented on #575
CentOS 7

[2020-04-21 07:08] cardigliano commented on #574
Ok thank you for the update

[2020-04-21 07:16] cardigliano commented on #575
Please try with an update, and follow https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html , it should work, otherwise contact us again. Thank you.

[2020-04-21 08:00] cardigliano commented on #573
What happens if you capture without "zc:"?

[2020-04-21 08:33] wangly2020 commented on #573
Without using zc mode, use “pfcount -i ens5 -o nozc_dump.pcap -N 10” captured 10 packets. The packets is normal.
[nozc_dump.pcap.zip](https://github.com/ntop/PF_RING/files/4508711/nozc_dump.pcap.zip)

[2020-04-21 09:08] wangly2020 commented on #573
I have already replied on github.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Alfredo Cardigliano"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月21日(星期二) 下午4:01
收件人:&nbsp;"ntop/PF_RING"<PF_RING@noreply.github.com&gt;;
抄送:&nbsp;"silent"<671850598@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [ntop/PF_RING] The VF function of pf_ring 7.6.0 in the vxlan envi

[2020-04-21 11:02] cardigliano commented on #573
Please update and try running:
pfcount -i zc:ens5 -F

[2020-04-21 12:35] wangly2020 commented on #573
I updated the new development version, and captured two pcap files.
The file named "with_F_dev_dump.pcap.1", I used the command "./pfcount -i zc:ens5 -F -o with_F_dev_dump.pcap -N 10".
The file named "without_F_dev_dump.pcap.1", I used the command "./pfcount -i zc:ens5 -o without_F_dev_dump.pcap -N 10".

[root@sriov6-nat examples]# pwd
/ids/PF_RING-dev/userland/examples
[root@sriov6-nat examples]#

[2020-04-21 12:42] cardigliano commented on #573
Thank you @wangly2020, this was helpful in identifying the issue, we will fix this.

[2020-04-21 12:43] wangly2020 commented on #573
Hi,
&nbsp; &nbsp;&nbsp;I updated the new development version, and captured two pcap files.
The file named "with_F_dev_dump.pcap.1", I used the command "./pfcount -i zc:ens5 -F -o with_F_dev_dump.pcap -N 10".
The file named "without_F_dev_dump.pcap.1", I used the command "./pfcount -i zc:ens5 -o without_F_dev_dump.pcap -N 10".You can download the pcap files on github.

Thanks.

------------------&n

[2020-04-21 12:51] wangly2020 commented on #573
Thank you! Looking forward to the new version

[2020-04-21 13:18] zinosat opened #576 "Build failure on Debian Buster"
Hi,
I've tried to recompile the deb packages inside a simple container based on Debian Buster (https://pastebin.com/rfzh3ALj)

After cloning the repo, I do the following:

    cd package/debian
    ./configure
    make

the build fails with the following error:

DKMS: mkdeb completed.
Moving built files to /var/lib/dkms/fm10k-zc/0.23.5.2958/deb...mv: cannot stat '/tmp/dkms.XiJiJE/fm10k-zc-dkms_0.2

[2020-04-21 15:46] dknobloc opened #577 "ERROR: Can't initialize DAQ pfring (-1) - Fatal Error"
While following your guide at https://www.ntop.org/guides/pf_ring/thirdparty/snort-daq.html, I have run into an error at step 3.5. Running snort in IDS mode.  The error message is:  "ERROR:  Can't initialize DAQ pfring (-1)  - Fatal Error, Quitting.."  My OS is RHEL Server Release 7.8 (3.120.0-1127-el7.x86_64).  I installed libpcap-1.8.1,  daq-2.0.6, openssl-1.1.1d, and snort-2.9.15.1 by compiling

[2020-04-22 09:35] cardigliano commented on #573
@wangly2020 please update and let me know if it is working

[2020-04-22 10:27] wangly2020 commented on #573
I tried version 7.6 PF_RING and it works fine.
Thanks you very much.

[2020-04-22 10:29] cardigliano commented on #573
Thank you

[2020-04-22 10:29] #573 closed, assigned to cardigliano

[2020-04-22 11:05] emanuele-f opened #578 "Replace timeval with timespec64"
The linux kernel 5.6.3 has dropped the timeval support (see https://www.spinics.net/lists/y2038/msg04955.html). The PF_RING API must be migrated to `timespec64`.

[2020-04-22 11:05] emanuele-f commented on #572
We will add a temporary fix for this, but the long time solution is to implement #578

[2020-04-22 12:55] emanuele-f commented on #572
Fixed in 67a5ddd5c127042a7c97d4b0543c11da3545a9a6 , 72b0946a82184f625f92844ba751be69a12061c2 and 4baed068fe6b2102ae6174f5ce04724da36b772e

[2020-04-22 12:55] #572 closed, assigned to emanuele-f

[2020-04-22 22:11] tsivakca67 commented on #574
I have upgraded qemu to 2.5 and checked out. I am observing the same behavior.
Here are the steps to reproduce the issue.
1. Start a guest_vm with monitor socket set to qmp1
2. On the guest execute modprobe uio and insmod uio_ivshmem.ko
3. Start zbalance_ipc program on the host ./zbalance_ipc -I eth0 -c 99 -n 4 -Q /path/qmp1
4. Run zcount_ipc -I 0 -u -c 99  on the guestvm
(This works fine)
The fil

[2020-04-23 07:21] cardigliano commented on #574
@tsivakca67 thank you for all the details. With QEMU 2.4 it was working up to 178MB, is this limit increased to 4G with QEMU 2.5? What is the max size you are able to use? Thank you.

[2020-04-23 08:34] cardigliano commented on #577
Did you follow the instructions at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html to run the service (which loads the kernel module)?
Please provide: cat /proc/net/pf_ring/info

[2020-04-23 10:55] cardigliano commented on #576
I confirm you need the dkms patch. That's s known bug.
As of the pfring.h error, this seems to be working for me, please make sure you have the PF_RING folder in your home (otherwise you need to pass the path to the snort daq configure, which is not supproted via package makefile)

[2020-04-23 10:55] #576 closed, assigned to nobody

[2020-04-23 13:45] wangly2020 opened #580 "During the 5 minute damo, the packet was suddenly not captured when capturing the packet"
The VF function of pf_ring 7.6.0 in the vxlan environment.
Within 5 minutes, I use pfcount in zc mode to capture packets, and suddenly no data packets, only ARP packets.
pfcount -i zc:ens5 -o test.pcap
I use pfcount in normal mode to capture packets, It's OK.
[test.pcap.zip](https://github.com/ntop/PF_RING/files/4522816/test.pcap.zip)

[2020-04-23 14:09] zinosat commented on #576
Hi Alfredo,
the source folder is already in my home folder.

it turns out that the problem was the name of the folder "pf_ring" instead of uppercase "PF_RING".
I spent some time trying to find out the issue: manually building inside "userland/lib" and then building the packages, _sometimes_, fixed the problem.

Thank you,
Davide

[2020-04-23 14:19] cardigliano commented on #576
Thank you for the update

[2020-04-23 23:35] kahou82 opened #581 "Unable to compile in Ubuntu 18.04"
I clone the dev branch and 7.6.0-stable but I am not able to compile PF_RING in my ubuntu 18.04 VM:

`Linux kahou 4.15.0-96-generic #97-Ubuntu SMP Wed Apr 1 03:25:46 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[code]
I have already installed the prereq from the README.FIRST (`apt-get install build-essential bison flex linux-headers-$(uname -r) libnuma-dev libnl-genl-3-dev`) but still no luck. Any id

[2020-04-23 23:49] kahou82 commented on #581
Nvm. The problem goes away after I ran make clean && make.

[2020-04-23 23:49] #581 closed, assigned to nobody

[2020-04-24 07:39] cardigliano commented on #580
@wangly2020 how are you steering traffic to the VF? Are you capturing traffic to/from the VM itself perhaps (the interface has an IP)? If you are able to capture ARP packets, it seems ZC capture itself is working, however please keep in mind that the network stack id disconnected as ZC is a kernel-bypass technology. Please provide more details. Thank you.

[2020-04-24 22:17] dknobloc commented on #577
@cardigliano thank you for the suggestion.  The results of the cat was "No such file or directory."  I then followed the instructions in section 2.1 Configuration Wizard beginning with step 2.  Step 3 (pf_ringcfg --configure-driver igb --rss-queues 1) hung when installing igb-zc-5.3.5.18.1926-dkms.noarch.

[2020-04-26 02:54] heliolei commented on #535
Hello, I met the same problem, but please how to change the make line?
I did not find where I can change

[2020-04-26 05:08] wangly2020 commented on #580
Yes, an IP address is configured on the collection interface.  After deleting the IP address, PF_RING packet capture is normal.

[2020-04-26 17:24] dknobloc commented on #577
Here is some more information regarding what I did before and after @cardigliano provided the suggestion to follow the instructions at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html.  I apologize if some of this information is not relevant.

1. Compiled and installed libpcap-1.8.1 from source code.
2. Compiled and installed daq-2.0.6 from source code.
3. Compiled and in

[2020-04-27 07:36] cardigliano commented on #535
@heliolei what pf_ring version are you using?

[2020-04-27 07:39] #580 closed, assigned to nobody

[2020-04-27 07:46] cardigliano commented on #577
@dknobloc so it seems your problem now is that igb-zc installation is failing, the system you are running is RHEL Server Release 7.8 right? I will try to reproduce this on Centos 7 (we do not support RH)

[2020-04-27 08:29] mapetenator commented on #572
Thank you very much!

[2020-04-27 11:54] #575 closed, assigned to nobody

[2020-04-27 14:01] dknobloc commented on #577
Correct, the igb-zc installation is failing.  I am indeed running RHEL Server 7.8.

[2020-04-27 17:08] cardigliano commented on #577
It seems to be working on Centos 7 (3.10.0-1127.el7.x86_64), are you using the dev repo?
Could you also provide "dkms status"?

[2020-04-27 21:06] tsivakca67 commented on #574
Hi,
Able to map in memory more than 4G by passing pci=nocrs in the guest machine and able to receive and send packets from the guest.
Thanks,
Siva

[2020-04-28 00:25] dknobloc commented on #577
Here are the repositories it is using for igb-zc, pfring-dkms, and their dependencies:

 igb-zc                                                ntop-noarch
 pfring-dkms                                      ntop-noarch
dependencies:
 dkms                                                       epel
 elfutils-libelf-devel                            rhel-7-server-rpms
 ndpi

[2020-04-28 07:15] cardigliano commented on #574
Great! Thank you for the update. Can we close this?

[2020-04-30 23:42] #574 closed, assigned to nobody

[2020-05-01 06:05] tsivakca67 opened #582 "Using multiple VM instances with pfring_zc"
I had trouble receiving packets on multiple instances of vm. So to create a test case, I am trying out the sample programs found in example_zc

I have spinned out 2 identical vm's in the host machine with the monitor ports being qmp1 and qmp2 ( inserted "Uio and Uio_ivshmem.ko modules)

On the host machine executing the following command
./zbalance_ipc -I eth0 -n 6 -m 0 -c 100 -Q /tmp/qmp1,/tmp/qm

[2020-05-01 06:13] tsivakca67 commented on #582
More details for the above issue.
---------------------------------------Kernel messages on a non-working instance -------
[root@guest2 ~]# dmesg
[ 1378.964552] pci 0000:00:08.0: [1af4:1003] type 00 class 0x078000
[ 1378.964629] pci 0000:00:08.0: reg 0x10: [io  0x0000-0x001f]
[ 1378.964665] pci 0000:00:08.0: reg 0x14: [mem 0x00000000-0x00000fff]
[ 1378.965319] pci 0000:00:08.0: BAR 1: assigned [me

[2020-05-01 06:17] tsivakca67 commented on #582
**Versions used:**
pfring (7.3.0)
qemu (2.5.1.1)

[2020-05-07 14:12] rjo opened #583 "pfring_get_filtering_rule_stats() not implemented?"
I'm brand new to pfring development and have been testing the examples. I found that pfring_get_filtering_rule_stats() always returns -1 and when I dug down I found that the function is actually not implemented as can be see in the [kernel implementation of ring_getsockopt()](https://github.com/ntop/PF_RING/blob/525ee03cd510d38a3446f66524c3d792a02442a8/kernel/pf_ring.c#L7664)

https://github.com/n

[2020-05-07 16:46] cardigliano commented on #583
@rjo it seems this feature has never been implemented, if you want to contribute you are welcome!

[2020-05-07 18:14] rjo commented on #583
thanks @cardigliano ... I might take a stab at that when I feel competent enough to do so!

[2020-05-07 18:14] #583 closed, assigned to nobody

[2020-05-07 18:21] rjo opened #584 "Does GRO impact the maximum packet length seen by pfring_recv()"
I have network where GRO is enabled and we see packets greater than the length of a jumbo frame.  In the pfcount.c example I see the packet buffer being statically sized at 9000, which makes sense for a jumbo frame.

Would a pfring application ever see GRO influenced packets that exceeded the size of a jumbo frame?

[2020-05-08 07:15] cardigliano commented on #584
@rjo PF_RING expects a snaplen to be configured as you've seen to limit the max packet size to capture. That is also used to determine the kernel buffer size. Besides this, we recommend to turn GRO off in the adapter (our service script does that already) as a traffic analysis application expects to see packets as they are on the wire.

[2020-05-08 07:15] #584 closed, assigned to nobody

[2020-05-08 10:40] #570 closed, assigned to nobody

[2020-05-08 15:25] rjo commented on #584
great, thanks @cardigliano

[2020-05-09 15:10] Arislen opened #585 "Installation fails on Centos/Redhat 8 for ZC Intel Drivers"
Running:
Red Hat Enterprise Linux release 8.2 (Ootpa)
Kernel (latest):
Linux 4.18.0-193.el8.x86_64 x86_64

Error (installing from http://packages.ntop.org/centos/8/)

Loading new ixgbe-zc-5.5.3.2973 DKMS files...
Building for 4.18.0-193.el8.x86_64
Building initial module for 4.18.0-193.el8.x86_64
Error! Bad return status for module build on kernel: 4.18.0-193.el8.x86_64 (x86_64)
Consult /var/lib/d

[2020-05-11 16:16] cardigliano commented on #585
HI @Arislen, we officially support CentOS (8.1) which is currently running kernel 4.18.0-147, it seems that RH 8.2 is not running the same kernel, thus please wait a bit before updating.

[2020-05-11 16:16] #585 closed, assigned to nobody

[2020-05-12 17:13] cardigliano commented on #582
Please run zbalance_ipc with -E (debug mode) and provide the output.
It would be useful to check also the QEMU logs.

[2020-05-14 18:33] tsivakca67 opened #586 "vm registration and clean up api's"
I am using pfring_zc_vm_register supplying the monitor socket for different vm's
How do I handle the scenario of a  guest machine (vm) restarting?
Is there an api for  unregistering the monitor socket on error and re-register it with
another socket and inform the backend too?

[2020-05-15 07:29] cardigliano commented on #586
@tsivakca67 there is no api for this actually, it requires a zbalance_ipc restart.

[2020-05-19 06:12] tsivakca67 commented on #582
Hi Cardigliano,
    Apologize for the delay as I could not get this sent earlier to you.

The zbalance_ipc does not have -E switch so I collected other information from pfring driver
and kernel messages.
We might need your help to fix this issue. Let me know if you need any other logs and
the method to collect them to help you analyze the issue.

Thank you,
Siva

Host:
(Firing zbalance_ipc command

[2020-05-20 08:32] FredChenChwThrox opened #588 "[pf_ring.ko] A little bug in check_free_ring_slot()"
Dear Team:

I was using PF_RING6.4.1 to capture some pkts for analysis, and found that it might miss a pkt when the slots is almost empty.

I add some debug code in pf_ring.c to trace this issue:
[code]
And get this two logs in my test:
[code]
As we can see the total_insert is equal to total_read, while the queue_pkts is 18446744073709551615 (It is 0xFFFFFFFFFFFFFFFF).

I guess it might cause by c

[2020-05-20 08:42] cardigliano commented on #588
@FredChenChwThrox what arch are you running?

[2020-05-20 08:44] FredChenChwThrox commented on #588
It's x86, Centos7,
kernel version 3.10.0-327.el7.x86_64

[2020-05-21 02:35] FredChenChwThrox commented on #588
@cardigliano

Hi Cardigliano:

Good day!
I have read the code, and function check_free_ring_slot() will return "0" in 3 situation:

1. when the "remove_off == insert_off", It means the queue is full or empty.
   "0" will be return only when the queue is full

2. When the "remove_off > insert_off", the free space is between insert_off and remove_off,
   "0" will be return when the free space is les

[2020-05-22 09:38] cardigliano commented on #582
@tsivakca67 sorry I need debug info from zbalance_ipc, it seems you are using an old version, please update.

[2020-05-22 11:12] cardigliano commented on #588
@FredChenChwThrox I pushed a patch for this (a safety check to avoid mem coherency issues due to kernel vs userspaces updates), please update to latest 7.6 (stable) or 7.7 (dev). Thank you for your analysis.

[2020-05-23 20:46] tsivakca67 commented on #582
Thank you for the information. The version I was using was 7.3.0. Let me upgrade to stable-7.6.0 from GitHub and update you on the results.

[2020-05-23 23:14] tsivakca67 commented on #582
The output with -E option

# ./zbalance_ipc -i psdeth2,psdeth3 -c 100 -n 4 -E -Q /tmp/qmp1,/tmp/qmp2
[PF_RING-ZC][DEBUG] 98376 1518-byte (1600-byte) buffers requested
[PF_RING-ZC][DEBUG] 206003200 bytes approximated memory required
[PF_RING-ZC][DEBUG] 268435456 bytes rounded memory required
[PF_RING-ZC][DEBUG] 20480 2097152-byte pages available at /dev/hugepages
[PF_RING-ZC][DEBUG] 128 2097152-byt

[2020-05-23 23:17] tsivakca67 commented on #582
I have marked the messages in bold when zcount_ipc was executed on guest 1 and guest 2
The first bold section was when zcount_ipc was executed in guest 1, the cmd line is
"./zcount_ipc -I 0 -c 100 -u"
and the second one was at the guest 2 with the command
"./zcount_ipc -I 1 -c 100 -u"

[2020-05-24 11:15] csbflyer opened #589 "zbalance_ipc Time Pulse thread binds to wrong core"
The zbalance_ipc time pulse thread binds to the wrong core when configured.

for example: zbalance_ipc -S 14 binds to core number 15.

Cores are numbered from zero. This is problematic when manually assigning work across cores.

[2020-05-25 08:04] FredChenChwThrox commented on #588
![pfring_drop_pkt_when_queue_is_empty](https://user-images.githubusercontent.com/15625658/82791626-aea18b80-9ea0-11ea-95ba-241331fba299.png)

@cardigliano Due to some policy restrictions, I can't easily update my pfring to 7.6. I apply your fix on 6.4.1 and found the issue persists. I'll try 7.6 later, but it will take some time.

[2020-05-25 11:28] cardigliano commented on #589
@csbflyer this has been fixed, please update

[2020-05-26 13:24] mdiqbalahmad opened #590 "Jumbo support in pfring zc on rhel 7"
Hi,
Does pfring zc 7.6 supports jumbo frame for NIC
10Gb 2-port 560SPF+ Adaptor?

We use it On RHEL. What would be the process to enable jumboframe on pfring zc?

-Iqbal

[2020-05-26 13:42] cardigliano commented on #590
This should be based on Intel X520, yes this is supported (we officially support CentOS, RH should also work)

[2020-05-26 14:30] mdiqbalahmad commented on #590
Is there any extra config to enable jumbo frame in zc? Or it is taken care automatically?

[2020-05-26 15:00] cardigliano commented on #590
The driver reads the MTU on the interface

[2020-05-26 15:24] mdiqbalahmad commented on #590
Thanks

[2020-05-26 15:24] #590 closed, assigned to nobody

[2020-05-27 06:31] mdiqbalahmad commented on #590
Is jumbo frame also supported in  pfring zc 7.5?

-Iqbal

[2020-05-27 07:42] cardigliano commented on #590
Yes, however 7.5 is no longer supported, we recommend moving to 7.6 (stable) or 7.7 (dev)

[2020-05-27 09:30] Onotoko opened #591 "pfring-7.6.0 zc take up large memory"
Hi there,
I faced the same problem with pfring_zc (7.6.0) when it takes up large memory but I don't know where is it.

![Image Pasted at 2020-5-27 15-29](https://user-images.githubusercontent.com/38826492/83002548-62d51a80-a037-11ea-83d7-c41650dca8ae.png)

I found a person had a same issue with me on https://www.reddit.com/r/linuxquestions/comments/f7iz9h/pfring_sh_make_taking_up_large_amounts_of_

[2020-05-29 08:17] #589 closed, assigned to nobody

[2020-05-29 14:15] mdiqbalahmad commented on #590
Hi Alfredo,

As per this link:
https://support.hpe.com/hpesc/public/docDisplay?cc=ec&docId=emr_na-c03499286&lang=es-ec

HP Ethernet 10Gb 2-port 560SFP+ adapter is based on  Intel 82599 controller.

Can you please confirm that this NIC is certified by ntop for ZC 7.5.

-Iqbal

[2020-05-29 14:17] cardigliano commented on #590
Yes, 82599 is supported

[2020-05-29 17:54] tsivakca67 commented on #582
Hi Alfredo Cardigliano,
    Can I get some links to check if my environment (running vm with appropriate parameters and zbalance_ipc program running on host) is correct? That way I could cross verify and update this ticket. I am really blocked on this issue. Any information would be of great help to move forward.
Thank you,
Siva

[2020-06-01 09:11] cardigliano commented on #591
@Onotoko what OS are you running? Did this happen during an installation or update?

[2020-06-01 09:18] cardigliano commented on #588
@FredChenChwThrox please also apply d882e0eea01af448b79cf1a3ef1f1e0f456e998b

[2020-06-01 09:55] kothuri88 opened #592 "could not insert module /etc/pf_ring/kernel/3.10.0-957.10.1.el7.x86_64/i40e.ko: File exists"
Hi,

I am trying to setup PF_ring and PF_ringZC

I see following error /var/log/messages after the server reboot

Jun  1 11:38:16 [localhost] yum[7103]: Installed: PF_RING-ZC-i40e-3.10.0-957.10.1.el7.x86_64-7.5.0-1.el7.x86_64
Jun  1 11:38:39 [localhost] yum[7135]: Installed: PF_RING-3.10.0-957.10.1.el7.x86_64-7.5.0-3.el7.x86_64
Jun  1 11:42:05 [localhost] journal: [PF_RING] Cannot load module
Jun

[2020-06-01 10:12] Onotoko commented on #591
@cardigliano,
I am using Centos 7
It happens after I updated  the kernel.

[2020-06-01 10:56] cardigliano commented on #592
Just to make sure: did you configure the i40e package according to the user's guide?
Is the "insmod: ERROR: could not insert module" error triggered by the pfring systemd script? The script should unload i40e and dependencies before loading the module, and it should load i40e_zc actually.

[2020-06-01 11:10] kothuri88 commented on #592
Yes, the loading of module has the first line to remove and reconfigured :

Here  is the content of the script:

## This is to load i40e driver

#!/bin/bash -
# Auto-created in rpm installation, do no modify.

rmmod i40e
rmmod pf_ring

bash /etc/sysconfig/modules/ipprobe-pf_ring-3.10.0-957.10.1.el7.x86_64-7.5.0.modules

modprobe ptp
modprobe vxlan
modprobe configfs

insmod /etc/pf_ring/kernel/3.10

[2020-06-01 12:17] cardigliano commented on #592
Please try with modprobe -r i40e to make sure you unload all dependencies, however it is recommended to use our scripts as described at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html

[2020-06-01 15:33] cardigliano commented on #591
I was not able to find what is triggering this so far. Please provide the output of:

- yum list installed | grep pfring
- dkms status

Btw, how did you temporarily fix it? Did you kill those processes?

[2020-06-01 16:03] cardigliano commented on #582
@tsivakca67 it seems that after both VMs have been initialized (notice the "VM initialized successfully" msg), the second VM disconnects the shared memory (notice the "SHM disconnection" msg). The reason is not clear to me atm, I need to debug this (I will try to reproduce this).

[2020-06-02 00:14] shreve commented on #496
For future Googlers:
I had these same issues, plus an additional
[code]
I was on `6.4.0-stable` with `$(uname -r) == 4.15.0-47-generic`. I moved up to `7.2.0-stable` and was able to compile just fine.

[2020-06-02 02:22] Onotoko commented on #591
Hi @cardigliano,

![image](https://user-images.githubusercontent.com/38826492/83472848-61ca4000-a4b2-11ea-9b97-332e793082b1.png)

-> I have run to kill those processes many times, but after I killed it, it restarts again

[2020-06-02 05:56] tsivakca67 commented on #582
Hi Alfredo,
Thank you very much for your input. Would you want any other logs or information from me.
Siva

[2020-06-02 11:07] kothuri88 commented on #592
It works after I parsed modprobe -r i40e in the module script.  A much cleaner approach.
Thank you.

[2020-06-02 11:07] #592 closed, assigned to nobody

[2020-06-03 09:38] rudolfbyker opened #594 "Stable debian packages fail to install"
I'm not sure in which repo to post this. I'm trying to install `pf_ring`, `ntopng` and friends using the instructions at http://packages.ntop.org/apt-stable/ on `Debian Buster`.

[code]

First step is to install a package that adds the apt sources:

[code]

There was a notice, but I'm assuming it's not a problem, since the sources were added correctly:

[code]

Next step is to update the apt packa

[2020-06-03 14:12] cardigliano commented on #594
@rudolfbyker did you check dmesg for errors? Could you provide the output of dmesg | tail after running systemctl restart pf_ring ?

[2020-06-03 14:16] cardigliano commented on #591
@Onotoko any chance I can connect to this system and take a look?

[2020-06-04 04:26] Onotoko commented on #591
@cardigliano, sorry you cannot connect to the system.

Any suggestion, I can check for you, btw It only happens after I installed it about 2-3 months

[2020-06-04 07:06] cardigliano commented on #591
@Onotoko I have a few questions then:
- is /usr/src/pfring-7.6.0 empty?
- do you have other /usr/src/pfring-* folders? (did you migrate from other versions?)
- did you try removing the pfring-dkms package, deleting /usr/src/pfring-*, and reinstalling the package? What is strange is that it seems the package is already built and installed in dkms

[2020-06-04 13:03] cardigliano commented on #577
Closing this as ZC drivers have been loaded successfully during a support session.

[2020-06-04 13:03] #577 closed, assigned to cardigliano

[2020-06-05 02:48] FredChenChwThrox commented on #588
Thanks, I'll try it later. @cardigliano

[2020-06-05 08:12] Onotoko commented on #591
Hi @cardigliano,

Yes

No

No

[2020-06-05 08:14] cardigliano commented on #591
Please try with the last step, to figure out how to reproduce it

[2020-06-05 08:15] Onotoko commented on #591
@cardigliano,

Because of this issue, I cannot fix it, so I removed all pfring-zc and dkms. So now I cannot reproduce it for you.

[2020-06-05 08:17] Onotoko commented on #591
if you read the article https://www.reddit.com/r/linuxquestions/comments/f7iz9h/pfring_sh_make_taking_up_large_amounts_of_memory/, it may help you more idea about it

[2020-06-06 11:06] alessio-pascolini opened #595 "Add revision to pfring-drivers-zc-dkms package"
I used to mirror the apt-stable repository of ntop in order to have a local one.
After last sync I discovered that the package pfring-drivers-zc-dkms has not been updated, but its hash is changed in file Packages.
This happens because mirroring software has checked the version of package and has not downloaded it again.
This involves in hash mismatch when I try to install package with apt-get in u

[2020-06-08 09:40] cardigliano commented on #595
@alessio-pascolini I confirm that we rebuild and re-upload all packages on each release. It seems the problem is that the revision is not part of the version for the pfring-drivers-zc-dkms package. We will try to fix this. Are you able to use a workaround for this?

[2020-06-08 15:40] rudolfbyker commented on #594
Hi there, sorry for the delay.

When I try to restart pf_ring (which is not properly configured at this stage, since modprobe failed), it doesn't fail (although it probably should), but it complains about the PF_RING kernel module not being installed:

[code]
This produces no output. Nothing is added to dmesg.

[code]

Today when I ran `apt install pfring-dkms nprobe ntopng n2disk cento` again, I

[2020-06-08 16:00] alessio-pascolini commented on #595
I could remove and sync all packages every time I want to update my mirror repository, so that it's possible to ensure the hashes inside the file Packages match the real hashes of deb files.

[2020-06-10 16:30] jk14 opened #596 "Support for RDESC.TIME_TAG in fm10k driver"
Inside Intel Ethernet Switch FM10000 Datasheet - there is section 6.18.7.11:

RDESC.TIME_TAG
Time stamp is set for all packets and is the time at the moment the last byte of the packet was received on Ethernet ports or the moment the last byte of a packet was sent to switch from PCIe.

Please implement it into the fm10k driver - for HW timestamping in PF_RING for Intel RRC based cards.

[2020-06-12 09:27] FredChenChwThrox commented on #588
Hi Cardigliano:

We have tested the fix in our environment. The issue didn't happen again.
I'll close this issue. Thanks for your kindly help.

Regards
Fred

[2020-06-12 09:27] #588 closed, assigned to nobody

[2020-06-12 09:30] cardigliano commented on #588
Thank you

[2020-06-16 04:39] EaseTheWorld opened #598 "return value of pfring_zc_set_bpf_filter()"
As mentioned in #225 , pfring_zc_set_bpf_filter() seems to work only in consumer application.
 - work with the queues from pfring_zc_ipc_attach_queue() ex. zcount_ipc
 - not work with the queues from pfring_zc_open_device()  ex. zbalance_ipc inzqs
but pfring_zc_set_bpf_filter() returns success in both case.
I think return value should be more informative or documentation should be updated.
unless

[2020-06-16 05:24] EaseTheWorld opened #599 "Pass filter_func argument to pfring_zc_run_xxx()"
I look at zbalance_ipc.c code and come to a suggestion.
In current code, every distribution_func has to call packet_filter() which seems quite redundant
and even worse, when built-in distribution func is used,(if time_pulse is 0 with mode 2, distribution_func is NULL), you can't implement filtering.
So my suggestion is...
pfring_zc_run_xxx() accepts filter_func as well as distribution_func then
in

[2020-06-16 06:08] EaseTheWorld commented on #599
or passing "bpf filter expression" is also possible.
then worker can choose hardware bpf or software bpf.

[2020-06-16 07:29] cardigliano commented on #599
It would definitely be nice to have the filtering function as callback. I will mark this ticket as enhancement.

[2020-06-16 14:56] cardigliano commented on #598
I pushed a fix for this, as not all cases were supported. Please update to latest git commit (also new packages will be available soon).

[2020-06-17 02:09] EaseTheWorld commented on #598
I built latest and ran a simple test(ens4f0 and ens4f1 are directly connected)
shell1) pfsend -i zc:ens4f0 -f test.pcap -n 0 -r 5
shell2) ./zbalance_ipc -i zc:ens4f1 -n 1 -c 1 -f "host 1.2.3.4" (matched ip)
shell3) pfcount -i zc:1@0

- added pfring_zc_set_bpf_filter for inzqs
  pfcount receives NO packet whether ip is matched or not
- added pfring_zc_set_bpf_filter for outzqs
  pfcount receives AL

[2020-06-17 09:44] cardigliano commented on #598
@EaseTheWorld I was able to reproduce this, I pushed one more fix

[2020-06-18 01:38] EaseTheWorld commented on #599
pfring_zc_set_bpf_filter is fixed now(230d9ab), which makes this feature less attractive.
I don't mind you close the issue.

[2020-06-18 01:47] EaseTheWorld commented on #598
Yes, 230d9ab fixes the issue.
I don't know this uses hw or sw filter such as libpcap,
if it doesn't dependent on hw, how about adding '-f' option to zbalance_ipc just like zcount_ipc
to celebrate/demonstrate the feature? :)

Also the documentation page https://www.ntop.org/guides/pf_ring/zc.html,
"some PF_RING functionality are missing, including in kernel packet filtering (BPF and PF_RING filters

[2020-06-18 07:10] cardigliano commented on #598
@EaseTheWorld great, thank you for the feedback and suggestions, I am updating the doc.

[2020-06-18 07:57] EaseTheWorld commented on #598
Wow you are so quick. I built bb3ec9d and zbalance_ipc filter works beautifully.
Thank you.

[2020-06-18 08:37] EaseTheWorld commented on #598
Actually I've been doing some PoC about aggregation-filter-replication-consumer with zbalance_ipc.
Phase 1 : done today. thank you again.
Phase 2 : dynamic filter. but changing bpf -> requires restarting zbalance_ipc -> requires restarting consumers -> not feasible.
so I modified zbalance_ipc. added SIGUSR1 handler which sets flag and
in print_stats loop, load bpf text file, call zc_set_bpf/zc_rem

[2020-06-18 08:45] cardigliano commented on #598
A couple of notes:
- do this inline (e.g. in the distribution function) to avoid concurrent write/use of the bpf
- call pfring_zc_remove_bpf_filter before setting the new filter

[2020-06-18 14:51] cardigliano commented on #599
Implemented

[2020-06-18 14:51] #599 closed, assigned to nobody

[2020-06-19 02:02] EaseTheWorld opened #600 "Add bpf update in runtime to zbalance_ipc"
For current zbalance_ipc, bpf filter is given as argument so it can't be updated
unless restarting zbalance_ipc and related consumer applications.
But usually consumer application is a daemon and should keep running.

To improve this, pass a text file(ex. expression.bpf) and when modifying the file, send SIGUSR1 to zbalance_ipc process so it can apply the updated filter.

Some design note.
- setti

[2020-06-19 02:03] EaseTheWorld commented on #598
OK. I opened #600 for feature enhancement.

[2020-06-19 04:50] EaseTheWorld opened #601 "Link broken in product page"
In https://www.ntop.org/products/packet-capture/pf_ring/pf_ring-zc-zero-copy/
For more information about the API, please refer to the 'documentation' and have a look at the code examples.
'documentation' link is broken. wrong url.

[2020-06-19 07:02] cardigliano commented on #600
@EaseTheWorld since you already implemented this, please feel free to send a pull request to move the patch upstream. Thank you.

[2020-06-19 07:07] cardigliano commented on #601
Fixed

[2020-06-19 07:07] #601 closed, assigned to nobody

[2020-06-19 07:26] EaseTheWorld commented on #600
I got a problem when I move the remove/set filtering code to packet_filtering_func.
After I update the filter which does not match at all, packet_filtering_func is not called any more.
so I can't update the filter. kind of race condition.

To solve this, maybe bpf check should be done after filtering_func priority?
If this change is too risky, I will find another way.(not using bpf at all and only

[2020-06-19 07:34] cardigliano commented on #600
bpf cannot be done after filtering_func, what you can do, is to update the bpf filter both in the filtering function and in the idle callback in case of no packet

[2020-06-19 07:44] EaseTheWorld commented on #600
It sounds alright. Then how about update filter only in idle_func?
In my test, idle_func is even called in wire-speed(10G) input.
because updating filter can be waited few ms.

[2020-06-19 07:47] cardigliano commented on #600
That's also fine

[2020-06-19 07:51] EaseTheWorld commented on #600
Yes, doing in idle_func seems to work, and simplifes the logic as well.
filtering_func is for per-packet/per-queue job(because it passes packet/queue),  but updating filter is not.

[2020-06-26 08:20] #600 closed, assigned to nobody

[2020-07-05 00:17] gerald-dotcom opened #604 "Question about Transparent Mode"
I'm in process building my own firewall that re-write packets and strip out some of data that aid attackers.
Now, I selected PF-RING due to simplicity I found in your documentations.

I kinda get what Queues do but with  Transparent Mode 0 it makes quite hard to build mental model around them.

Since, Transparent Mode 0 share packets to both Kernel and Userspace, How could one send out packets whe

[2020-07-06 07:30] cardigliano commented on #604
Hi @gerald-dotcom, please note that transparent mode is no longer supported (deprecated), if you need to run as mitm with respect to the host machine, one option is using ZC drivers to detach the interface and the "stack" pfring module to inject to the kernel. If you are running as mitm for other hosts, you should not worry about the kernel and just receive from an interface and send to the other.

[2020-07-06 07:30] #604 closed, assigned to nobody

[2020-07-07 08:28] cardigliano opened #605 "[ZC] High 'system' CPU load on X710"
Thsi is likely to be due to the interrupts: X710/XL710 work with interrupts enabled due to the mechanism they use to deliver packets (depending on the fw version, with interrupts disabled, packets are delivered after 4 packets have been received)

[2020-07-07 08:36] cardigliano opened #606 "[ZC] ice driver is causing system hang on reboot"
The new 'ice-zc' driver adds support for E800 series (E810) adapters. After running a ZC capture, and trying to reboot the machine, the system hangs.

[2020-07-08 03:12] Michael971022 opened #607 "Ubuntu 20.04 Build error"
When I build 7.6.0 on ubuntu 20.04(focal)
the error show below, is this same as the issue [Build error - kernel 5.4 #535](https://github.com/ntop/PF_RING/issues/535)

![pf](https://user-images.githubusercontent.com/65302905/86870934-e2acd500-c10b-11ea-88b3-0e6d65e2e414.jpg)

[2020-07-08 09:07] cardigliano commented on #607
@Michael971022 the same is working for me, pfring 7.6 on the same kernel. However I applied some minor changes to the Makefile if you want to give it a try.

`ubuntu20:~/PF_RING/drivers/intel/e1000e/e1000e-3.4.0.2-zc$ make
cd src; make
make[1]: Entering directory '/home/nbox/PF_RING/drivers/intel/e1000e/e1000e-3.4.0.2-zc/src'
# PF_RING
cd ../../../../../kernel/; make
make[2]: Entering directory '/

[2020-07-09 08:26] Michael971022 commented on #607
Thank you for help
Where can I download the minor Makefile?
I think the following reasons may cause the situation, but I'm not sure
(1)Install snort 3.0.1 before PF_RING install
(2)install in VM environment the NIC may not fit the driver

I'm still trying to find out the problem,if there are results, I will update.
Thanks again!!

[2020-07-09 08:28] cardigliano commented on #607
You can download latest changes with a git update (I see you are using the source code). Alternatively you can also checkout the "dev" code to see if it works. I do not think snort or the VM itself affects this.

[2020-07-09 09:40] Michael971022 commented on #607
I try again with new VM environment with following step

New error occurred
![0709](https://user-images.githubusercontent.com/65302905/87024090-3f42e980-c20b-11ea-947c-a3500583c7f9.jpg)

[2020-07-09 09:49] cardigliano commented on #607
I just pushed a fix for this, please update

[2020-07-09 12:03] rudolfbyker commented on #594
I updated the packages again today, and got the exact same errors. What other information do you still need?

[2020-07-09 16:23] cardigliano commented on #594
@rudolfbyker I was able to reproduce this on a VBox VM running Debian 10, are you running VBox perhaps?

[2020-07-09 16:45] rudolfbyker commented on #594
No, I'm running it on a desktop PC. Intel i5 processor. 64bit. Very
standard stuff.

On Thu, 09 Jul 2020, 18:24 Alfredo Cardigliano, <notifications@github.com>
wrote:

[2020-07-09 17:28] cardigliano commented on #594
@rudolfbyker it seems that a kernel/headers update fixed this for me, please try with
apt-get update
apt-get upgrade
apt-get install linux-headers-amd64 linux-image-amd64
reboot

[2020-07-10 06:15] Michael971022 commented on #607
It work, thank a lot!
when I go i40e folder(same as others) for load_driver.sh , it show 'ifconfig' not found
This is because this package is not installed by default Ubuntu 20.04
I replace it with 'ip link set NIC up' and everything go well

[2020-07-10 07:01] cardigliano commented on #594
I confirm that this depends on the kernel version, not on pfring itself, it's a known issue. A kernel update fixes this.

[2020-07-10 07:01] #594 closed, assigned to cardigliano

[2020-07-10 07:03] cardigliano commented on #607
Glad to see it's working now

[2020-07-10 07:03] #607 closed, assigned to nobody

[2020-07-10 08:27] rudolfbyker commented on #594
You can't just close this without stating the versions you updated from/to! My machine is running some services, so I don't want to reboot unnecessarily. I'm already running kernel `4.19.0-5-amd64`, with the latest available version being only `4.19.0-9-amd64`. Would you point me to the changelog, showing what bug was fixed between `4.19.0-5` and `4.19.0-9` that affected ntop?

[2020-07-10 08:37] cardigliano commented on #594
I was running 4.19.0-5-amd64, now I am running 4.19.0-9-amd64 which is the latest update available for Debian 10, and this fixed the kernel module loading. Please note that also other kernel modules had the same issue with that kernel (see this for instance https://www.virtualbox.org/ticket/18904).

[2020-07-10 08:39] cardigliano commented on #594
Could you provide the output of dkms status? I am under the impression dkms didn't install the module for the right kernel properly.

[2020-07-10 11:06] rudolfbyker commented on #594
OK, I managed to schedule a restart. Running kernel `4.19.0.9-amd64` now. So I'm getting one fewer error now. However, in my original post, I reported three errors, and two of them are still present.

[code]

The errors are:

- `Invalid unit name "n2disk@*" was escaped as "n2disk@\x2a" (maybe you should use systemd-escape?)` and other similar errors. I'm not sure what this means.
- `Failed to rest

[2020-07-10 11:16] rudolfbyker commented on #594
OK, redis is listed in the dependencies, but until you enable it, it's only available as `redis-server` and not as `redis`. So the `systemd` dependency should change to `redis-server` AND/OR `systemctl enable redis-server` should be run BEFORE `apt install ntopng`. That should probably be documented.

[2020-07-10 12:42] cardigliano commented on #594
Fixed. New packages will be available in 1h.

[2020-07-13 08:17] cardigliano commented on #606
Fixed

[2020-07-13 08:17] #606 closed, assigned to cardigliano

[2020-07-21 09:15] MichaelOks opened #608 "pf_ring shunt / filter not working"
Hello,
I am using ftflow.c example with ndpi option and added the following:

_pfring_ft_set_flow_packet_callback(ft, **callbackFunction**, NULL);_
_pfring_ft_set_shunt_protocol_by_name ( ft , "SSH", 10);_

During runtime, I see that pfring_ft_process return value for SSH packets is changing from "PFRING_FT_ACTION_DEFAULT" to "PFRING_FT_ACTION_DISCARD", with is ok. But new SSH packets (from the sa

[2020-07-21 14:25] cardigliano commented on #608
@MichaelOks please note that FT runs in userspace, thus packets are marked and filtered in userspace. You should use the return value of pfring_ft_process as verdict to discard the packet explicitly, or you can configure PF_RING_FT_CONF  as explained at https://www.ntop.org/guides/pf_ring/ft.html#ids-acceleration to hide this behind the pf_ring API. In any case filtering happens in userspace (we a

[2020-07-21 14:25] #608 closed, assigned to nobody

[2020-07-22 12:15] kothuri88 opened #609 "tcpdump not capturing outgoing packets on interface"
Hi ,

I see this strange thing of tcpdump not capturing outgoing packets with server enabled with PF_ring . Below is some info :

Using the native tcpdump shipped with RHEL

tcpdump version 4.9.2
libpcap version 1.8.1
OpenSSL 1.0.2k-fips  26 Jan 2017

Name:         ens1f0
Index:        3
Address:      48:DF:37:A5:71:90
Polling Mode: NAPI/ZC
Type:         Ethernet
Family:       Intel i40e
TX Queues

[2020-07-22 12:42] cardigliano commented on #609
@kothuri88 I see that you have a ZC driver loaded. Are you running tcpdump in ZC mode? What is the command line you are using?

[2020-07-22 13:03] kothuri88 commented on #609
No. I m using the plan native tcpdump command

tcpdump -i any port 162

[2020-07-22 16:28] cardigliano commented on #609
Could you try unloading the ZC driver to check if you have the same behaviour?

[2020-07-23 05:47] kothuri88 commented on #609
I removed the module using following

rmmod pf_ring

and I see tcpdump is well capturing the outgoing packets.

Thanks,
karthik

[2020-07-23 07:11] cardigliano commented on #609
@kothuri88 I meant unloading just the ZC driver, while using the pf_ring module for capturing traffic. I want to figure out if it depends on ZC.

[2020-07-23 12:25] kothuri88 commented on #609
Sorry. Could you please guide as to how can be unload only ZC. Because, under lsmod I see pf_ring and i40e only

[2020-07-23 12:31] cardigliano commented on #609
If you configured the package, please move the content of /etc/pf_ring/zc/i40e/ and restart the service (systemctl restart pf_ring)

[2020-07-23 13:59] kothuri88 commented on #609
unloaded ZC. still don't see outgoing packets .

Name:         ens1f0
Index:        11
Address:      48:DF:37:A5:71:90
Polling Mode: NAPI
Type:         Ethernet
Family:       Standard NIC
# Bound Sockets:  0
TX Queues:    4
RX Queues:    4

[2020-07-23 18:47] bth-kumar opened #610 "does "enable_ip_defrag" works with zbalance (i40e)?"
I used trial version of PF_RING with zc driver (i40e) . I found some packet drops in captured data of tcp sessions but was not coming in pf_ring stats. Captured session with all smaller packets was drop free.

[2020-07-23 18:50] cardigliano commented on #610
How did you find this packet loss if stats are not reporting it?
Please note enable_ip_defrag is not available with ZC as it is based on kernel support (standard driver only).

[2020-07-23 18:53] bth-kumar opened #611 "zbalance was droping packets the ports whose numa nuode is -1."
I have putted X720 card to cisco server for testing ...

cat /sys/class/net/enps0f0/device/numa_node      was showing -1. and after certain interval it was dropping packets... event the bandwitdh was 800Mbps..

[2020-07-23 19:02] bth-kumar opened #612 "Worked with two X720 cards on two different numa nudes in a AMD server."
I did a test, where I have putted card-a(2 port) (numa node 0)which was receiving packets and card-b (4port) was used for injection of packets received by card-a.

I found some packet drops in the sessions captured at different server, who was receiving packets from card-b. Even it was not shown in stats of zbalance doing load-balance card-a & card-b.

I followed all the notes for AMD servers ment

[2020-07-23 19:24] bth-kumar commented on #610
Thanks for quick reply, I modified pfcount a little to write session(four-tuple) wise pcap files, which was listening zc:101@0 interface. By looking on the session files with wireshark, I found that there was drops (previous segment not captured) in some files(with only tcp sessions having bigger packet size). It can be the problem with the source.  So I want to cross check it from my side . Could

[2020-07-24 08:07] cardigliano commented on #609
Please provide cat /proc/net/pf_ring/info

[2020-07-24 08:09] cardigliano commented on #610
If you have fragments, you will not have the full 4-tuple for all the fragments (just the IP), thus it looks like you are missing those when writing sessions

[2020-07-24 08:11] cardigliano commented on #611
Do you mean X710 or X520? Could you provide the output of lstopo?

[2020-07-24 08:14] cardigliano commented on #612
Could you provide:
- cat /proc/net/pf_ring/dev/XXX/info
- the zbalance command line you are using
If you are using zc mode, drops should be reported by zbalance (it reads hw counters from the adapter)

[2020-07-24 09:32] kothuri88 commented on #609
rs01:~$ cat /proc/net/pf_ring/info
PF_RING Version          : 7.5.0 (unknown)
Total rings              : 3

Standard (non ZC) Options
Ring slots               : 409600
Slot version             : 17
Capture TX               : No [RX only]
IP Defragment            : No
Socket Mode              : Standard

[2020-07-24 09:36] cardigliano commented on #609
Please pay attention to "Capture TX : No [RX only]", did you configure enable_tx_capture=0 perhaps?

[2020-07-24 09:55] kothuri88 commented on #609
Thank you. I think I lost thought on this. I enabled it and I can see packets on tcpdump. I will check with my team.
Thanks a ton, once again.

[2020-07-24 09:55] #609 closed, assigned to nobody

[2020-07-31 07:30] cardigliano commented on #605
it seems the load does not exceed 10% at 15 Mpps, which is reasonable and interrupts cannot be disabled on this adapter to avoid receiving packets each 4-8. Closing for now.

[2020-07-31 07:30] #605 closed, assigned to cardigliano

[2020-07-31 07:32] #610 closed, assigned to nobody

[2020-07-31 07:43] cardigliano commented on #611
Looks like duplicate of #612

[2020-07-31 07:43] #611 closed, assigned to nobody

[2020-07-31 13:34] #555 closed, assigned to nobody

[2020-07-31 13:35] #540 closed, assigned to nobody

[2020-08-03 07:33] cardigliano commented on #612
Closing for inactivity. Please reopen in case.

[2020-08-03 07:33] #612 closed, assigned to nobody

[2020-08-03 07:49] shuaidonga opened #613 "zeek:multiple entries with PF_RING-7.6.0"
I'm currently using zeek-3.1.5 and pf_ring 7.6.0 (compiled on CentOS Linux release 7.8.2003). Run zeek every log is multiplied by 10. It is the same as my lb_procs (zeek node.cfg) number.

The following is pf_ring information when zeek is running

root@EM-GJJ8D53: /opt# more /proc/net/pf_ring/* |cat

*** /proc/net/pf_ring/dev: directory ***

::::::::::::::
/proc/net/pf_ring/info
::::::::::::::
PF_

[2020-08-03 07:58] EaseTheWorld commented on #598
Could you reopen this? I forgot to check for outzq.
As I mentioned above, when pfring_zc_set_bpf_filter for outzqs,
pfcount receives ALL packet whether ip is matched or not.
If user-space bpf is ingress queue only, pfring_zc_set_bpf_filter should return fail for other case.
If user-space bpf works for all, how can I use it for egress queue?

[2020-08-03 08:11] cardigliano commented on #613
It looks like clustering is not spreading the load and all procs (you configured 10) are receiving a copy of the traffic.
What kind of interface is com6?

[2020-08-03 08:22] shuaidonga commented on #613
@cardigliano
ethtool -i com6
driver: ixgbe
version: 5.1.0-k-rh7.7
firmware-version: 0x8000095d, 19.5.12
expansion-rom-version:
bus-info: 0000:3b:00.1
supports-statistics: yes
supports-test: yes
supports-eeprom-access: yes
supports-register-dump: yes
supports-priv-flags: yes

[2020-08-03 09:20] cardigliano commented on #613
Please make sure that the cluster is set correctly in the pfring socket with the command below. You should see "Cluster Id : 99" for all sockets (one per zeek process).

cat /proc/net/pf_ring/<socket> | grep "Cluster Id"

[2020-08-03 09:57] shuaidonga commented on #613
The following is zeek's zeekctl.cfg configuration information
[code]

[2020-08-03 09:58] cardigliano commented on #613
Please make sure the conf is applied by checking the actual cluster ID in the socket as I suggested:
cat /proc/net/pf_ring/ | grep "Cluster Id"

[2020-08-03 10:01] shuaidonga commented on #613
![image](https://user-images.githubusercontent.com/16378509/89171155-562eee80-d5b3-11ea-9d39-1873c134ecdc.png)

[2020-08-03 14:44] #613 closed, assigned to nobody

[2020-08-04 08:46] cardigliano commented on #598
I pushed support for BPF in TX queues in the dev branch (testing), please update and let me know if it works for you.

[2020-08-05 02:00] EaseTheWorld commented on #598
pfring_zc_set_bpf_filter() works both for inzqs and outzqs.
and I can even set different filter for each outzqs which is what I actually wanted.

Now I can ask these questions.
1. Does pfring_zc_set_bpf_filter() use libpcap's bpf_filter?
2. If so, is it still better to use pfring_zc_set_bpf_filter() than use bpf_filter directly?
    (I guess there are some advantages like earlier decision/pruning

[2020-08-05 07:27] cardigliano commented on #598
@EaseTheWorld pfring_zc_set_bpf_filter uses the bpf engine provided by libpcap in userspace. You can also use bpf as distribution function somehow ( e.g. with one bpf per queue), but please pay attention bpf is expensive!

[2020-08-05 07:27] #598 closed, assigned to cardigliano

[2020-08-05 08:42] teoring opened #614 "Application hangs in pfring_mod_poll()"
I have a multi threading application that polls for packets from the interface. At some point all threads stops inside of the pfring_mod_poll() even though the traffic is still there. This reproduces once per week, the application stop receiving packets and do not recover.

I know that it is impossible to fully investigate this issue without all the logs and information but I hope you might have s

[2020-08-05 09:05] lemorn opened #615 "Intel 9560(2x2 AC) net card's driver"
Hello! I'm using the Intel 9560(2x2 AC) net card and i didn't find the corresponding driver in guides https://www.ntop.org/guides/pf_ring/zc.html. Which driver shoud i use?

I also want to use the masscan on ubuntu based on vmware to scan a Internet space, can pf_ring be used on vmware?

[2020-08-05 09:14] cardigliano commented on #615
@lemorn it looks like Intel 9560 is a Wireless chipset, this is not supported by ZC.. please use standard drivers.
PF_RING can run on VMWare.

[2020-08-05 09:14] #615 closed, assigned to nobody

[2020-08-05 09:45] cardigliano commented on #614
@teoring what is the interface model? I guess you are using standard drivers (I see you are setting a kernel cluster).
What pf_ring version are you using?

[2020-08-05 10:06] teoring commented on #614
We are using Intel I350 NIC with standard drivers ( Ubuntu 16.04.06 ). PF_RING v7.2.0.

[2020-08-05 12:35] cardigliano commented on #614
Are you able to provide the content of /proc/net/pf_ring/<socket> when this happens?

[2020-08-05 12:37] teoring commented on #614
I would collect this information and report it here once available.

[2020-08-06 06:37] teoring commented on #614
While I am still collecting information from /proc/net/pf_ring I want to apologize and correct myself. The server we are using is Dell R640 and the NIC is actually Broadcom 5719 Quad Port 1GbE B ASE-T Adapter, PCIe Low Profile.

[2020-08-06 07:28] cardigliano commented on #614
Ok np, you are running Ubuntu 16 right? Let's wait for the /proc stats to figure out what's going on, please collect them when the issue happens (better if a couple of snapshots with a delay of a few seconds to see how counters increase)

[2020-08-10 07:57] teoring commented on #614
Hello again,

I have collected information that was requested.
The management interface is CM57416 NetXtreme-E Dual-Media 10G RDMA Ethernet Controller (mgmt).
![image](https://user-images.githubusercontent.com/12891023/89761929-b95adc80-daef-11ea-8e04-53897cf8826f.png)

There is traffic on the interface for sure:
![image](https://user-images.githubusercontent.com/12891023/89761982-d099ca00-daef-11

[2020-08-11 08:24] cardigliano commented on #614
@teoring it seems there is no traffic hitting the pf_ring kernel module, the problem is not the poll itself.
A few more requests:
- Could you provide the output of "ifconfig" while running the application?
- Did you check with a single interface?
- Did you check without setting the cluster?

[2020-08-12 01:35] MaoPann opened #616 "How to use the API of pfring_open_multichannel()"
How to use the API of pfring_open_multichannel(),and,what different between  the multichannel and RSS

[2020-08-12 07:54] teoring commented on #614
@cardigliano Thanks for giving the look on logs. I can't disable clustering as it is hard coded into the application. I understand that 'ifconfig' output has to be collected when this situation occurs?

[2020-08-12 08:16] cardigliano commented on #616
Please take a look at userland/examples/pfcount_multichannel.c
This API is used to open a socket for each RSS queue on the interface (channel == RSS queue) in a single shot, this is the same as calling pfring_open for all RSS queues.

[2020-08-12 08:16] #616 closed, assigned to nobody

[2020-08-13 20:04] dgilbert101 opened #617 "pf_ringctl no longer rebuilds intel dkms"
When an intel driver fails to load at pfring startup, pf_ringctl will attempt to rebuild it. However commit #38d70f92482ab71d8284b421ae21b15a5b661d80 changed the function to use the same version for all dynamic kernel modules. The prevents the intel drivers from properly being rebuilt when pfring starts.

[code]

[2020-08-13 22:24] g1l3sp opened #618 "dkms modules not recompiling automatically on kernel update"
I'm noticing on our Ubuntu 20.04 boxes that when a kernel update happens, when the host restarts we are left without a working ixgbe zc driver.  I have to manually `dpkg-reconfigure ixgbe-zc-dkms` to get it to compile, and then restart the pf_ring service to get back to a working state.

Is there something I'm missing in order to have this happen automatically, or is this a bug in one of the packa

[2020-08-14 07:57] cardigliano commented on #618
This looks like a duplicate of #617

[2020-08-14 08:15] teoring commented on #614
Here is ipconfig collected few times in a row.
[ifconfig2.txt](https://github.com/ntop/PF_RING/files/5073364/ifconfig2.txt)
[ifconfig1.txt](https://github.com/ntop/PF_RING/files/5073365/ifconfig1.txt)

[2020-08-14 08:16] MaoPann opened #620 "Auto-Negotiation:"Not Available after using fm10 driver in fm10420 adapter"
![image](https://user-images.githubusercontent.com/44804599/90228600-18e71e00-de49-11ea-9185-069b45ddbc58.png)

[2020-08-14 08:21] MaoPann opened #621 "What nbroker does. Do I need nbroker to use FM10 Adapter》"

[2020-08-14 08:22] cardigliano commented on #620
@MaoPann this feature comes from the standard intel driver, is it working with the original driver available at
https://sourceforge.net/projects/e1000/files/fm10k%20stable/0.27.1/ ?

[2020-08-14 08:23] cardigliano commented on #617
I pushed a fix for this, new packages will be available later today

[2020-08-14 08:24] cardigliano commented on #621
You need nbroker or a tool from the card manufacturer for setting the internal (hw) bridge.

[2020-08-14 08:24] #621 closed, assigned to nobody

[2020-08-14 08:24] #618 closed, assigned to cardigliano

[2020-08-14 08:34] MaoPann commented on #621
How to etting the internal (hw) bridge? Can the FM10 Adapter  run Normal operation,such as pfring ZC.

[2020-08-14 08:41] MaoPann opened #622 "Ethernet SDI Adapte Auto-Negotiation:"Not Available""
After using fm10 driver in fm10420 adapter
![image](https://user-images.githubusercontent.com/44804599/90230818-b55eef80-de4c-11ea-8626-9e995cbf3a65.png)

[2020-08-14 08:59] cardigliano commented on #621
You need to set the internal bridge to enable normal operation, please see https://www.ntop.org/guides/pf_ring/nbroker/index.html

[2020-08-14 19:45] dgilbert101 commented on #617
Thanks, verified the fix works.

[2020-08-14 19:45] #617 closed, assigned to cardigliano

[2020-08-15 08:23] cardigliano commented on #622
Duplicate of #620

[2020-08-15 08:23] #622 closed, assigned to nobody

[2020-08-15 09:01] MaoPann commented on #620
I don't understand what you mean

[2020-08-15 09:11] MaoPann opened #623 "how to use pfring ZC on the fm10420 Adapter?"
Can you give me a tutorial on using pfring ZC on the fm10420 Adapter? There is no detailed introduction to using the fm10420 adapter in the user manual. Or tell me what's different from other adapters. Because I encountered some problems with the fm10420 adapter, such as no ZMQ when loading the driver. This problem was not encountered when I used other adapters.

[2020-08-15 09:13] MaoPann opened #624 "Only run the nbrokered can i use the fm10420 normal operations？"
If i run the nbrokered can i use the fm10420 normal operations？such as pfring ZC,

[2020-08-15 21:53] Xumeiquer commented on #545
@atonkyra did you finally spot the issue? I am facing the same issue.

[2020-08-17 01:19] MaoPann opened #625 "Unable to bind ZMQ to address tcp://127.0.0.1:5555"
After running the command of nbrokerd.
response:
17/Aug/2020 09:05:41 [daemon.c:95] ERROR: Unable to bind ZMQ to address tcp://127.0.0.1:5555

[2020-08-17 02:54] MaoPann opened #626 "nbrokerd error"
17/Aug/2020 10:32:38 [daemon.c:1197] Welcome to nbrokerd
---0     19---17/Aug/2020 10:32:38 [daemon.c:103] [ZMQ] Listening at tcp://127.0.0.1:5555
17/Aug/2020 10:32:38 [daemon.c:1095] RRC initialization..
17/Aug/2020 10:32:38 [rrc.c:1036] - Initialisation. Please wait
Loading /etc/rrc/fm_platform_attributes.cfg
WARNING:events:fmPlatformHostDrvOpen:2093:uio0 is pep0 but mgmt pep is set to 2
Connect

[2020-08-17 07:09] cardigliano commented on #620
ZC drivers are standard Intel drivers with some patches and optimizations. The auto-negotiation feature comes from the original driver which is available at https://sourceforge.net/projects/e1000/files/fm10k%20stable/0.27.1/
I expect to see the same behavior using that driver, thus I suggested you to test that.

[2020-08-17 07:13] cardigliano commented on #624
I already answered to this question, fm10420 can be used with ZC as a standard adapter, however you need to configure the internal adapter switch using nbroker or the manufacturer tool to set the adapter in "standard nic" mode.
When you run nbroker, the adapter is configured as standard nic by default, please read https://www.ntop.org/guides/pf_ring/nbroker/index.html

[2020-08-17 07:13] #624 closed, assigned to nobody

[2020-08-17 07:17] cardigliano commented on #626
@MaoPann what is the card manufacturer? Silicom? Did they provide you the correct fm_platform_attributes.cfg file? They should also provide a tool for setting the switch (rdif in case of Silicom) that you can use to configure the adapter as standard nic when you do not need the flexibility provided by nbroker.

[2020-08-17 07:19] cardigliano commented on #625
I assume this has been fixed looking at the next issue

[2020-08-17 07:19] #625 closed, assigned to nobody

[2020-08-17 07:27] cardigliano commented on #623
Besides configuring the switch (see the other discussion/issue) all you need to do is to configure the ZC driver as described at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html

[2020-08-17 07:27] #623 closed, assigned to nobody

[2020-08-17 07:49] MaoPann commented on #626
i use the fm_platform_attributes.cfg in pfring /usrland/nbroker/rrclib/etc/rrc/fm_platform_attributes.cfg

[2020-08-17 07:51] MaoPann commented on #626
FM10420 adapter

[2020-08-17 07:56] MaoPann commented on #626
I  want to  use nbroker to set the fm10420 adapter in ''standard nic' mode.but some error occurd as above。

[2020-08-17 08:03] MaoPann commented on #626
I want to use nbroker to set the fm10420 adapter to use Pfring ZC.but some error occurd as above。

[2020-08-17 14:22] teoring commented on #614
@cardigliano do you think this kind of condition can be caused by the application using PFRING itself? Can any kind of undefined behavior result in PFRING kernel module not getting any traffic?

[2020-08-17 15:17] cardigliano commented on #614
Looking at ifconfig everything looks good, packets are coming and the interface is in promiscuous mode. Are you capturing traffic with multiple threads from the same socket perhaps? This could lead to corruptions in the receive ring.

[2020-08-17 15:32] cardigliano commented on #626
@MaoPann the correct fm_platform_attributes.cfg file depends on the adapter and cables you are using, please ask the manufacturer to provide the correct file, and I suggest to use the manufacturer tool to make sure everything is working. After that you can use nbroker to configure the switch.

[2020-08-17 17:19] MaoPann commented on #626
The user guide indicate the fm10420 adaper is available,Why does this happen? My  adaper is fiber.
![image](https://user-images.githubusercontent.com/44804599/90424546-dfd0d700-e0f0-11ea-8602-539cb96ea24d.png)

[2020-08-18 00:21] MaoPann commented on #626
Have you ever test the fm10420 adapter wtih fm_platform_attributes.cfg in /etc/rcc?

[2020-08-18 07:24] cardigliano commented on #626
Sure, but as I said the configuration file also changes according to the cable model. Please ask the manufacturer to provide the correct one.

[2020-08-18 08:35] MaoPann commented on #626
The name of the document provided by the manufacturer is also fm_ platform_ attributes.cfg?Because usually there are many configuration file.Can you give me a specific define.

[2020-08-19 02:09] MaoPann commented on #626
Can you tell me the specific model of FM10420 Ethernet adapter that you have tested，or give me a website？

[2020-08-19 04:25] EaseTheWorld opened #627 "Set a custom file name for pfring_zc_set_proc_stats"
Well, this is not an issue, more like suggestion.
When I use zbalance_ipc, I want to show its stats.
But pfring_zc_set_proc_stats() saves stat file 'pid'-none.#### which is not predictable.
I think this is for unique filename but cluster_id itself is not enough for uniqueness?
or user-specified name would be possible as well.
(I thought pfring_zc_set_app_name is for this but it's not. what is app_

[2020-08-19 07:03] cardigliano commented on #627
pfring_zc_set_app_name is used to set the application name in the /proc/net/pf_ring/<socket> file.
In essence you want to create /proc/net/pf_ring/stats/<file> with a custom name set by the application.

[2020-08-19 07:08] cardigliano commented on #626
@MaoPann the configuration file name is the same, you should replace it with the correct one. What is your adapter model/manufacturer? This is what we have in our lab https://www.silicom-usa.com/pr/server-adapters/networking-adapters/100-gigabit-ethernet-networking-server-adapters/pe3100g2dqir_server_adapter/

[2020-08-19 07:26] EaseTheWorld commented on #627
Yes. custom name(given as zbalance_ipc args) or cluser_num would be useful.
Until yesterday, I didn't know stat file was there and even zbalance_ipc itself doesn't know the filename either.

[2020-08-19 08:56] MaoPann commented on #626
thanks!!!!!!!! FM10420QDA2 network adapter

[2020-08-19 09:03] MaoPann opened #628 "Move my NIC"
If I activate my NIC with ZC license on one device, now I move the NIC to another device, can I activate my NIC again with the original license.

[2020-08-19 09:07] cardigliano commented on #628
@MaoPann the license is based on the MAC address, thus you can move it on another machine (as long as the license is not expired)

[2020-08-19 09:07] #628 closed, assigned to nobody

[2020-08-19 09:32] MaoPann commented on #628
Just activate my NIC again with the original license?

[2020-08-19 09:33] cardigliano commented on #628
Just copy the license on the new machine

[2020-08-20 11:09] teoring commented on #614
Could you elaborate on topic of sniffing the traffic from the same socket with multiple threads? I am not sure I understood. Does that mean I can't invoke pfring_recv on the same ring from the different threads without synchronization?

[2020-08-20 12:28] cardigliano commented on #614
@teoring correct, if you want to call pfring_recv from multiple threads, you should add the PF_RING_REENTRANT flag to pfring_open, however this leads to performance degradation. If you traffic rate is high, you should consider using technologies like RSS, and spawn one thread per RSS queue.

[2020-08-20 12:29] #614 closed, assigned to cardigliano

[2020-08-21 07:34] teoring commented on #614
@cardigliano Thanks, I appreciate your support. Just one question, I understand in case I am calling pfring_open ( opening the same interfaces from different threads ) for each thread ( having pfring handle per thread ) I don't have to synchronize the access to pfring_recv?

[2020-08-21 07:41] cardigliano commented on #614
If you open the same interface from multiple thread, no syncronization is required, however you should use clustering (see pfcount -c) or RSS otherwise all threads will receive the same traffic.

[2020-08-21 07:48] teoring commented on #614
Got it, that is what I am doing. My problem must be in some other place.

[2020-08-21 08:01] EaseTheWorld opened #629 "Multiple applications capture from same zc interface?"
application 1 : zbalance_ipc -i zc:ethX -c 1 -n 4 -m 2 -f bpf1
application 2 : zbalance_ipc -i zc:ethX -c 2 -n 4 -m 2 -f bpf2
When I'm running application 1, I want to start/stop application 2 and others.
Is this possible with "**zc:ethX**"? or I have to use "**ethX**" instead?

If latter, do I still need ZC license?
zbalance_ipc is not complaining about license when input is not ZC.
but I'm not s

[2020-08-21 08:15] cardigliano commented on #629
You cannot open the same ZC device multiple times, as the application takes exclusive control over the interface.
If you use a standard interface, no license is required. If you have less than 1g, that should work.

[2020-08-21 08:15] #629 closed, assigned to nobody

[2020-08-21 08:29] EaseTheWorld commented on #629
Thank you for clear response.

[2020-08-21 10:29] laoyang103 commented on #291
Hello @cardigliano
 I use zbalance_ipc captrue three NIC, every NIC use ethtool -L $nic combined 2, then start 2 zbalance_ipc, but get [No buffer space available] error when start more than 4 zbalance_ipc, my Huge pages free is 14336

see follow:

Filesystem       1K-blocks     Used   Available Use% Mounted on
/dev/sda1       1441727828  7082812  1361386456   1% /
none                     4

[2020-08-21 10:41] cardigliano commented on #291
please monitor hugepages utilization with "cat /proc/meminfo | grep Huge" after running each zbalance_ipc instance

[2020-08-21 11:58] laoyang103 commented on #291
also have 15360 after 4 ipc started. no app

AnonHugePages:   2551808 kB
HugePages_Total:   16384
HugePages_Free:    15360
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
root@iPilot-XPM:~#

[2020-08-21 12:16] cardigliano commented on #291
@laoyang103 please provide ifconfig listing all the interfaces you are using

[2020-08-21 12:40] laoyang103 commented on #291
p3p1      Link encap:Ethernet  HWaddr f8:f2:1e:82:55:54
          inet6 addr: fe80::faf2:1eff:fe82:5554/64 Scope:Link
          UP BROADCAST RUNNING PROMISC MULTICAST  MTU:1500  Metric:
1
          RX packets:28 errors:0 dropped:0 overruns:0 frame:0
          TX packets:8 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:2424 (2.4 KB)  TX bytes:680 (

[2020-08-21 12:47] cardigliano commented on #291
It looks fine. Do you see any error in dmesg?

[2020-08-21 12:48] cardigliano commented on #291
Please also try adding -E to zbalance_ipc for debug info

[2020-08-21 12:54] laoyang103 commented on #291
dmesg say follow

ailed or not a ZC device
[ 7996.969610] [PF_RING] pfring_select_zc_dev:5892 p4p1@1 mapping f
ailed or not a ZC device
[ 7997.072961] [PF_RING] pfring_select_zc_dev:5892 p4p1@1 mapping f
ailed or not a ZC device
[ 7998.635647] [PF_RING] pfring_select_zc_dev:5892 p4p1@1 mapping f
ailed or not a ZC device
[ 8004.983468] [PF_RING] pfring_select_zc_dev:5892 p20p1@1 mapping
failed or n

[2020-08-22 07:58] MaoPann opened #630 "what does wait_for_packet means"
what does wait_for_packet means in the pfring_zc_recv_pkt()?

[2020-08-22 08:02] cardigliano commented on #630
That is used for blocking recv (set wait_for_packet = 1 for blocking, 0 for non blocking)

[2020-08-22 08:02] #630 closed, assigned to nobody

[2020-08-22 08:10] MaoPann commented on #630
what  is Pulse-time thread for inter-packet time check mean?

[2020-08-22 15:18] MaoPann opened #631 "Can you recommend a suitable ide to use pfring?"
Can you recommend a suitable ide to use pfring?I need to develop my own pfring application.

[2020-08-23 09:08] cardigliano commented on #630
What is the application you are talking about? The pulse-thread is usually used to compute time with low overhead and mid-high precision.

[2020-08-23 09:10] cardigliano commented on #631
We usually use vim/emacs, but any text editor or C IDE should be good. All you need is a linux box with make/gcc.

[2020-08-23 09:10] #631 closed, assigned to nobody

[2020-08-24 04:26] laoyang103 commented on #291
Hi @cardigliano , I use PF_RING 7.3.0 in ubuntu 14.04.3

I have test with follow:

comm -i zc:93@0 -D 1 -n 2 -s  2>&1 >> /data/kpi//comm930.log &
comm -i zc:93@1 -D 1 -n 3 -s  2>&1 >> /data/kpi//comm931.log &
dsas -i zc:93@2 -D 1 -n 4 -s  2>&1 >> /data/kpi//dsas932.log &
dsas -i zc:93@3 -D 1 -n 5 -s  2>&1 >> /data/kpi//dsas933.log &
ipc -i zc:p3p1 -D 4 -c 94 -n 2,2 -m 4 -q 65536 -b 1024 -g 8 -S 9

[2020-08-24 07:11] cardigliano commented on #291
@laoyang103 please use pf_ring 7.7 (dev) or 7.6 (stable) as I am unable to support you with 7.3

[2020-08-24 10:17] oanhsaitec commented on #591
It was resolved. Thanks for your supporting

[2020-08-24 10:18] Onotoko commented on #591
It was resolved. Thanks for your supporting

[2020-08-24 10:18] #591 closed, assigned to nobody

[2020-08-24 13:02] #620 closed, assigned to nobody

[2020-08-25 04:39] laoyang103 commented on #291
Hi @cardigliano  final I compile PF_RING-7.6.0-stable on ubuntu 14.04.3, got follow:

[PF_RING-ZC][DEBUG] 165896 1536-byte (1600-byte) buffers requested
[PF_RING-ZC][DEBUG] 342807296 bytes approximated memory required
[PF_RING-ZC][DEBUG] 7864 2097152-byte pages available at /dev/hugepages
[PF_RING-ZC][DEBUG] 164 2097152-byte pages requested (cluster id = 92)
[PF_RING-ZC][DEBUG] 164 2097152-byte pa

[2020-08-25 06:52] MaoPann opened #632 "load balancing"
1.Can you elaborate on the meaning of - M parameter, especially fan - out.
![image](https://user-images.githubusercontent.com/44804599/91140245-27072b00-e6e2-11ea-97e2-f9ed3bb29be6.png)
2.If I use zbalance_ipc, can I achieve 100Gbit to receive packets.
3.Which load balancing method can receive data at 100Gbit.

[2020-08-25 07:03] cardigliano commented on #291
Great, so I assume everything is working now. Thank you for the update.

[2020-08-25 07:03] #291 closed, assigned to nobody

[2020-08-25 07:08] cardigliano commented on #632
@MaoPann -m specifies which distribution function you want to use to assign packets to consumer queues. A few examples:
- Round-Robin  assigns packets in equal portions and in circular order
- IP hash assigns packets to queues based on the src/dst IP addresses (same IPs always go to the same queue)
- Fan-out delivers all packets to all queues
The traffic rate in Gbit you are able to handle mainly

[2020-08-25 07:08] #632 closed, assigned to nobody

[2020-08-25 08:32] laoyang103 commented on #291
@cardigliano Thanks for your reply, but my question is bind core 18 19, this seem pa is an empty array

and why bind 40 41 pa not empty?

[2020-08-25 08:57] cardigliano commented on #291
I think it depends on the CPU you are using, hugepages are allocated per CPU. Please provide the output of "lstopo"

[2020-08-25 09:00] laoyang103 commented on #291
Thans for your reply, follow is ls topo output:

Machine (126GB)
  NUMANode L#0 (P#0 63GB)
    Socket L#0 + L3 L#0 (22MB)
      L2 L#0 (1024KB) + L1d L#0 (32KB) + L1i L#0 (32KB) + Core L#0
        PU L#0 (P#0)
        PU L#1 (P#32)
      L2 L#1 (1024KB) + L1d L#1 (32KB) + L1i L#1 (32KB) + Core L#1
        PU L#2 (P#1)
        PU L#3 (P#33)
      L2 L#2 (1024KB) + L1d L#2 (32KB) + L1i L#2 (32KB) +

[2020-08-25 09:05] cardigliano commented on #291
That confirms you have 2 different CPUs and 18/19 and 40/41 are on two different CPUs. You can control hugepages allocation on each CPU, please read https://www.ntop.org/guides/pf_ring/hugepages.html

[2020-08-25 09:27] laoyang103 commented on #291
OK, thank you very much, I got lotopo and hugepages allocation on each CPU new knowledge

[2020-08-26 01:28] MaoPann opened #633 "pfring_zc_pkt_buff"
Does zcount store the data of packets received in pfring_ zc_ pkt_ buff->u_ char user []

[2020-08-26 07:09] cardigliano commented on #633
The user field should be used to store custom application metadata, the raw packet data itself is provided by pfring_zc_pkt_buff_data

[2020-08-26 07:09] #633 closed, assigned to nobody

[2020-08-27 07:59] MaoPann opened #634 "Ping cannot be used after ixgbe driver is loaded"

[2020-08-27 08:01] cardigliano commented on #634
ixgbe ZC is a kernel-bypass drivers, that means the interface is detached from the kernel when you run the packet capture, thus this is expected.

[2020-08-27 08:01] #634 closed, assigned to nobody

[2020-08-27 08:03] MaoPann commented on #634
Can I send packets

[2020-08-27 08:09] cardigliano commented on #634
The application opening the "zc:ethX" interface takes full control over the interface. This means you can send packets using that interface (not through the kernel)

[2020-08-27 12:50] #595 closed, assigned to nobody

[2020-08-28 04:53] MaoPann opened #635 "Can pfsend or zsend be used to send data after using RSS."
For example, pfsend - I eth0@x  Can I send data out？

[2020-08-28 06:53] MaoPann opened #636 "Can RSS be received in rotation？"

[2020-08-28 06:57] cardigliano commented on #636
RSS computes a hash on packet headers and determines the destination queue based on that. It cannot work in round-robin.

[2020-08-28 06:57] #636 closed, assigned to nobody

[2020-08-28 06:59] cardigliano commented on #635
Yes, you can send on a socket bound to an interface queue. This is usually useful with ZC when an application has exclusive access to the interface, with RSS you can have multiple processes/threads sending to the same interface using different RSS queues.

[2020-08-28 06:59] #635 closed, assigned to nobody

[2020-08-28 07:06] MaoPann opened #637 "Can zcout receive packets in a contiguous memory space?"

[2020-08-28 07:23] cardigliano commented on #637
zcount and all ZC-based applications receive packets in individual buffers. If you need a contiguous buffer with packets you need to copy them.

[2020-08-28 07:23] #637 closed, assigned to nobody

[2020-08-28 07:32] MaoPann commented on #637
I want to copy the cache directly

[2020-08-28 07:33] MaoPann commented on #637
I want to copy the cache directly. What should I do?

[2020-08-28 07:34] MaoPann commented on #637
Copying one packet at a time is too slow. We want to copy the packets in the cache when the cache is full

[2020-08-28 08:06] MaoPann opened #638 "Copying one packet at a time is too slow. We want to copy the packets in the cache when the cache is full?"

[2020-08-28 08:41] Michael971022 commented on #447
Hi, I have few questions about this issue.
1. Is this error massage can be ignore for pf_ring zc?   ===> [ERRCODE: SC_ERR_SYSCALL(50)]
2. where is the config for this errror? ===> Unable to find pfring config for interface zc:ens1f0@1, using default value or 1.0 configuration system.
3. Is there anything I should change for suricata.yaml or any other file?

_My env:
1. ubuntu-server : 20.04
2. PF_

[2020-08-28 09:04] laoyang103 opened #639 "dmesg kernel exception, but not crash"
Hi @cardigliano use pfring-7.6.0 on ubuntu14.04.3, ipmdsas is my app which attach zbalance_ipc queue, I found kernel exception in dmesg, but kernel, zbalance_ipc and my app not crash, my question is What caused this ? my app or other ?

[22550.605007]       Tainted: G           OE  3.19.0-25-generic #26~14.04.1-Ubuntu
[22550.605767] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this

[2020-08-28 09:10] laoyang103 commented on #638
@MaoPann which layer is your cache in? how much  your packet speed? in my test zc can run 6000000packet/s on multi application

[2020-08-28 09:19] MaoPann commented on #638
L7

[2020-08-28 09:26] cardigliano commented on #638
Could you rephrase? What do you men with cache?

[2020-08-28 09:31] laoyang103 commented on #638
@cardigliano perhaps he means block copy(multi packet) from ZC space(kernel) to user application

[2020-08-28 09:33] MaoPann commented on #638
yes

[2020-08-28 09:35] MaoPann commented on #638
Copying one packet at a time is too slow.Will greatly reduce our processing speed, if each packet is copied once。

[2020-08-28 09:40] cardigliano commented on #638
ZC includes API to work in burst (pfring_zc_recv_pkt_burst) however you still have to handle packets individually

[2020-08-28 09:42] MaoPann commented on #638
Can you tell me the address range of the independent buffer when storing packets

[2020-08-28 09:44] MaoPann commented on #638
Maybe I can copy the entire stand-alone cache buffer

[2020-08-28 10:14] cardigliano commented on #639
This has something to do with the filesystem (jbd2 updates the journal), I would exclude it is related to pfring

[2020-08-28 10:14] #639 closed, assigned to nobody

[2020-08-28 10:59] cardigliano commented on #447
I guess you can ignore this, Suricata is trying to get info like MTU using zc:ens1f0@1 as interface name, which is not a valid linux interface (it should actually use "ens1f0"), and it should fallback to default values.

I am not sure that this is doing actually, please ask to the Suricata support.

[2020-08-29 03:35] laoyang103 commented on #639
@cardigliano  OK ipmdsas is write packet to disk, you are right

[2020-08-30 11:44] csbflyer opened #640 "Upgrade to libpcap 1.9.1"
libpcap 1.8.1 has several CVEs. Please upgrade to libpcap 1.9.1

https://www.tcpdump.org/libpcap-changes.txt

[2020-08-30 11:46] csbflyer opened #641 "Upgrade tcpdump to 4.9.3"
tcpdump 4.9.2 has several CVEs. Please upgrade to tcpdump 4.9.3.

https://www.tcpdump.org/tcpdump-changes.txt

[2020-08-31 12:20] zinosat opened #642 "Tagged traffic stops working when using "enable_ip_defrag=1""
I have a system (Linux 4.14.79-rt29-yocto-preempt-rt) with 4 network interfaces and an application using various rings spanning on multiple interfaces and mainly dealing with UDP traffic:

 - one ring involves all interfaces "enp8s0f0,enp8s0f1,enp8s0f2,enp8s0f3"
 - one ring on "enp8s0f0,enp8s0f1"
 - one ring on "enp8s0f2,enp8s0f3"

pf_ring module is loaded with "enable_ip_defrag=1" option.
Everyth

[2020-08-31 13:23] cardigliano commented on #642
@zinosat please check latest pf_ring kernel module available on github (dev) or update 7.7 later today from the repo and let me know.

[2020-08-31 14:02] zinosat commented on #642
@cardigliano I've just run a test with your latest fixes: it works.

thanx alot!

Davide

[2020-08-31 14:05] #642 closed, assigned to nobody

[2020-09-01 08:23] cardigliano commented on #638
What do you mean with address range exactly? Please note buffers are not contiguous, thus we cannot provide a range.

[2020-09-01 09:49] #626 closed, assigned to nobody

[2020-09-01 10:01] cardigliano commented on #640
Libpcap 1.9.1 now available in the dev branch

[2020-09-01 10:01] #640 closed, assigned to nobody

[2020-09-01 10:02] cardigliano commented on #641
tcpdump 4.9.3 now available in the dev branch

[2020-09-01 10:02] #641 closed, assigned to nobody

[2020-09-01 14:32] bluefangs opened #643 "[Fiberblaze] Low performance in packet mode"
Hi ntop team / @cardigliano

As per our email discussion, I am raising an issue in Github for tracking purposes. Kindly help take this forward.

Email quote:

Please find below the relevant stats:

[code]

Thanks

[2020-09-02 23:19] laoyang103 commented on #639
Hi @cardigliano

As you said this device disk crash after run 5 days, kernel not crash, /dev/sdb(22 disk with raid 5 always write back) can not write any data, this is dmesg [https://github.com/laoyang103/acm-source/blob/master/20200903070435.jpg](dmesg)

Fortunately, there is no significant data, I have read follow and know reason is filesystem or hardware bad sector, could you help me judge whet

[2020-09-03 23:54] tsqrd opened #644 "libpcap 'make install' failing"
Cent7 with latest dev branch

./configure and make complete without issues, however make install fails with the following:

[code]

[2020-09-04 04:30] kim-namjin commented on #644
i same issue in ubuntu 20.04 linux 5.4.0-45-generic

[2020-09-04 07:25] cardigliano commented on #644
Fixed

[2020-09-04 07:25] #644 closed, assigned to nobody

[2020-09-04 08:34] MaoPann opened #645 "Can BPF be used in ZC mode?"
Can BPF be used in ZC mode?

[2020-09-04 08:39] cardigliano commented on #645
Yes, for low rates (BPF has some overhead)

[2020-09-04 08:39] #645 closed, assigned to nobody

[2020-09-04 08:54] MaoPann opened #646 "Is BPF filter a software filtering method? Can other adapters be used except Intel 82599 ."

[2020-09-07 02:24] MaoPann opened #647 "With ZC mode, can I turn on receive and send mode at the same time."
such as，
zq = pfring_zc_open_device(zc, device, rx_only, flags);
zq1 = pfring_zc_open_device(zc, device, send_only, flags);

[2020-09-07 02:52] strgrb opened #648 "tcpdump with pf_ring capture twice for every packet from lo interface"
My environment:
- PF_RING: 7.6.0
- os: CentOS-7.6
- kernel: 3.10.0-975 and 3.10.0-1127

I can get correct result using normal tcpdump, and using tcpdump in pf_ring, I capture same packet twice, for every packet.

[2020-09-07 07:06] cardigliano commented on #647
When using the ZC API you need 2 queues for this, as each queue has a single direction.

[2020-09-07 07:06] #647 closed, assigned to nobody

[2020-09-07 07:59] cardigliano commented on #648
@strgrb this happens because pf_ring captures both packets sent and received by the interface. This can be avoided by loading the pf_ring kernel module with enable_tx_capture=0, or setting the capture direction in the application (e.g. "pfcount -i lo -e 1" or "tcpdump -i lo -Q in")

[2020-09-07 12:29] strgrb commented on #648
@cardigliano I use "tcpdump -i lo dst port ", this works fine for other interface, and tcpdump without pf_ring works with this option, but not works with lo interface.
 I've tried enable_tx_capture=0, and that works fine for me. Thank you very much.

[2020-09-07 12:33] cardigliano commented on #648
you can also use "tcpdump -i lo -Q in" without reloading the kernel module, in case you have other applications that require tx traffic

[2020-09-07 12:33] #648 closed, assigned to nobody

[2020-09-08 07:08] MaoPann opened #649 "pfring_zc_send_pkt_burst（）return 1."
pfring_zc_send_pkt_burst（）return 1 .but The receiver did not receive data.
![image](https://user-images.githubusercontent.com/44804599/92444137-0a401c80-f1e5-11ea-8a04-0427a0d1e78f.png)

[2020-09-08 07:10] MaoPann commented on #649
![image](https://user-images.githubusercontent.com/44804599/92444434-7458c180-f1e5-11ea-9813-42a0c33e0537.png)

[2020-09-08 08:10] cardigliano commented on #649
Please call pfring_zc_sync_queue(zq, tx_only) to flush buffered packets, if any, or set the flush_packet flag to 1 in pfring_zc_send_pkt

[2020-09-08 08:48] MaoPann commented on #649
I have set it and the return value is normal, but I still haven't received the data

[2020-09-10 07:41] MaoPann opened #650 "what does the min number of ring slots."
![image](https://user-images.githubusercontent.com/44804599/92696132-085c9180-f37c-11ea-8e5d-5c354a3b92f5.png)

[2020-09-10 07:45] cardigliano commented on #650
The minimum number of packets a pf_ring socket should be able to keep in the receive buffer

[2020-09-10 07:45] #650 closed, assigned to nobody

[2020-09-10 07:47] cardigliano commented on #649
What interface are you using? (NIC model)
Did you check with zsend?
What happens if you send many (e.g. 10K) packets?

[2020-09-10 07:47] cardigliano commented on #646
BPF is software, any adapter is supported

[2020-09-10 07:47] #646 closed, assigned to nobody

[2020-09-10 07:49] #638 closed, assigned to nobody

[2020-09-15 07:07] cardigliano commented on #649
Closing for inactivity

[2020-09-15 07:07] #649 closed, assigned to nobody

[2020-09-18 20:19] mzac opened #652 "Support for enic driver"
Is it possible to get support for the Cisco enic driver?

[code]

[2020-09-19 07:08] cardigliano commented on #652
@mzac enic adapters can be used with standard drivers (there is no accelerated ZC driver available for those interfaces, and there is no plan to add support for that at the moment as this is the first request we get)

[2020-09-19 07:08] #652 closed, assigned to nobody

[2020-09-20 15:06] wontoniii opened #653 "PF_RING zero copy go implementation does not return control to calling function"
Hello, I am developing an application in Go using PF_RING's zero copy driver (licensed). We have been having some issues with the ZeroCopyReadPacketData function as it never returns control to the caller function. We see that the driver is working, i.e. pfcount work without problems with the zc interfaces (zc:ifname@0), as well as showing stats (using the built in function https://github.com/googl

[2020-09-21 08:07] cardigliano commented on #653
@wontoniii the Go wrapper is not maintained by us, sorry..

[2020-09-22 06:14] EaseTheWorld opened #654 "pcap_breakloop() can't stop pcap_loop() if no input traffic."
Environment
  RHEL 7.4
  pfring-aware libpcap 1.8.1 installed from PF_RING-dev-7dd96c4.
  running zbalance_ipc -i ens4f1 -c 100 -n 4 -m 2
  no input traffic in ens4f1.

I made a basic counter with libpcap.

  - pcap_open_live -> pcap_loop with packet handler(=counter) -> pcap_close
  - SIGINT handler calls pcap_breakloop

and run ./basic_counter zc:100@0

When there is no input traffic, Ctrl+C can

[2020-09-22 09:46] cardigliano commented on #654
@EaseTheWorld I pushed a patch that should fix this, please update from github or wait the next dev builds and let us know.

[2020-09-22 09:47] #653 closed, assigned to nobody

[2020-09-23 02:47] MaoPann opened #655 "Is the open source code complete."
Is the open source code complete.include ntopng，ndpi，nprobe，PF_ring.
For example, does the downloaded open source code include different versions of ntopng? As long as the corresponding license is purchased, can the corresponding version of each tool be used through the source code?

[2020-09-23 03:07] MaoPann commented on #655
and n2disk,nDPI,n2n.all products

[2020-09-23 03:30] MaoPann commented on #655
If you don't develop all the source code.Whether the source code can be provided after purchasing the license.

[2020-09-23 06:54] cardigliano commented on #655
@MaoPann ntopng Community, nDPI, n2n, PF_RING (and some other) are open source and you can find the code on github. For commercial products like n2disk or ntopng Enterprise (extensions to the Community) we do not provide the source code, the license does not include it.

[2020-09-23 06:54] #655 closed, assigned to nobody

[2020-09-23 07:15] EaseTheWorld commented on #654
Did you reproduce the issue?
I might made mistake or something.

I can't reproduce the issue with old(7dd96c4) and new(87584c0) version.
old libpcap & old zbalance_ipc -> no issue
old libpcap & new zbalance_ipc -> no issue
new libpcap & old zbalance_ipc -> no issue
new libpcap & new zbalance_ipc -> no issue

I tested like both
LD_LIBRARY_PATH=PF_RING-dev-7dd96c4/userland/libpcap ./basic_counter zc

[2020-09-23 07:18] cardigliano commented on #654
71e27ba is fixing the breakloop which was likely to fix your issue, however if everything is working now we are fine I guess

[2020-09-23 07:18] #654 closed, assigned to nobody

[2020-09-23 07:59] EaseTheWorld opened #656 "libpcap timeout is ignored."
Environment
RHEL 7.4
pfring-aware libpcap 1.8.1 installed from PF_RING-dev-7dd96c4.
running zbalance_ipc -i ens4f1 -c 100 -n 4 -m 2
no input traffic in ens4f1.

I found another libpcap issue that timeout is ignored.

test pseudo code is like below.
pcap_open_live("zc:100@0", 65536, 1, NULL)  -> while(running) pcap_next_ex() -> pcap_close
SIGINT handler just set running = 0 (not using pcap_breakloo

[2020-09-30 09:01] dimitrijepetrovic opened #658 "Add support for Arista/Metamako Metwatch trailer"
Arista 7130 devices have a way of providing ultra accurate timestamps to sub-ns level.
The clock stability is much higher than Arista switch timestamps and the trailer is considerably simpler, i.e. no need for key frames.

The trailer description is as follows:
https://www.arista.com/assets/data/pdf/Whitepapers/Overview_Arista_Timestamps.pdf

[2020-10-02 06:31] zinosat commented on #627
this could be an interesting enhancement applicable to pfring_set_application_stats() too

[2020-10-03 18:18] zinosat opened #660 "Problem with UDP fragmented packets in the 1473-1497 bytes range"
I'm working on a pf_ring application and noticed a problem with fragmented packets whose length is in the range [1473-1497] bytes: pfring reports the wrong packet size when packets fall in that range.
Our custom protocol, has a 12bytes transport header:

 - 8bytes contain a timestamp
 - 4bytes contain the length of the following payload

The application checks that the length written in the header

[2020-10-05 12:28] gianogli opened #661 "[BPF, split, API] Add the possibility to easily split traffic with BPF filters"
Hi,
I need to split the traffic on different queues by using BPF filters consistently.
I read the ZC APIs but I haven't find any function to do that in a easily way without using a lot CPU (yes, I know, BPF filters are CPU expensive, but some optimization could be useful).

Now we have a zc interface (zc:0@0) used as input queue for a zbalance_ipc process that mirror (fan-out) the traffic on 2 zc

[2020-10-05 12:35] cardigliano commented on #661
@gianogli what you need is to evaluate the bpf filter in the distribution function (see distr_func which is provided to pfring_zc_run_balancer_v2 in zbalance_ipc.c) and set the queue according to the verdict

[2020-10-05 13:36] gianogli commented on #661
Ok, I understood.
Have I to directly use the bpf api functions from libpcap? (pcap/bpf.h)
Thanks

[2020-10-05 14:21] cardigliano commented on #661
Yes (look at userspace_bpf in pfring.c for an example)

[2020-10-05 14:21] #661 closed, assigned to nobody

[2020-10-06 15:24] #660 closed, assigned to cardigliano

[2020-10-06 15:24] cardigliano commented on #660
@zinosat please check my fix

[2020-10-06 18:50] zinosat commented on #660
@cardigliano works great, thank you!

[2020-10-08 14:42] gianogli opened #663 "Error compiling tcpdump 4.9.3"
I'm using Ubuntu 16.04.7 LTS and PF_RING branch "dev".
If I run ./configure into userland/tcpdump-4.9.3 folder I obtain this error:
[code]
In the config.log file I found this error:
[code]
If I simply copy the userland/tcpdump-4.9.2 folder from the stable branch into the dev branch all works fine and I can compile it without errors.
How can I solve the issue with version 4.9.3?

Do you need other

[2020-10-08 14:44] cardigliano commented on #663
It seems -ldl is missing, I will fix it

[2020-10-08 15:20] cardigliano commented on #663
Fixed in bc7d1df04dc21d32208252100cabe37418e84612

[2020-10-08 15:20] #663 closed, assigned to cardigliano

[2020-10-09 07:29] lucaderi opened #664 "pfring_zc_create_multi_queue() does not check buffer presence"
It is rquested to add checks inside pfring_zc_create_multi_queue() to verify that
- queues have buffers associated
- pfring_zc_get_queue_id() for the output queue match pfring_zc_get_pool_id() of the pool for such queue. In essence

 if((outzq = pfring_zc_create_queue(zc, queue_len)) == NULL)
    throw "Unable to create ZC output queue";

  /*
    Allocate a memory pool for the outzq queue (not ne

[2020-10-09 15:05] cardigliano commented on #658
Timestamp support has been implemented. Device ID and Port ID need to be added to the packet header.

[2020-10-12 07:47] cardigliano commented on #664
Implemented 405c70dddb1d8150f70b9bfe923ed0f7eaf777d6 to create queue/pool pairs with the same ID for attaching external processes

[2020-10-12 07:47] #664 closed, assigned to cardigliano

[2020-10-12 09:23] cardigliano commented on #658
port_id and device_id have been added to the extended header

[2020-10-12 09:23] #658 closed, assigned to cardigliano

[2020-10-13 06:26] freeimust opened #665 "Old version PF_RING-7.3.0 crash"
Hi @cardigliano

I user PF_RING 7.3, start Multiple zbalance_ipc run 7-8 hours killall, then system crash. I know you no longer support the old version
, but I can not update because a lot of applation depend it. follow is dmesg, could you tell me something about this?

[ 1979.269747] CPU: 18 PID: 6718 Comm: ipmipc Tainted: G           OE  3.19.0-25-generic #26~14.04.1-Ubuntu
[ 1979.271432] Hardwa

[2020-10-13 07:12] cardigliano commented on #665
@freeimust I see there is some bug in the kernel module when releasing an interface, it is likely this have been fixed in past..

[2020-10-13 07:27] freeimust commented on #665
OK, thanks for your reply, I will try update version

[2020-10-14 17:33] freeimust commented on #665
Hi @cardigliano

I have only update kernel module to 7.5, not update userland, also get follow dmesg

[  133.102970] [PF_RING] Unloading ZC driver while the device is in use from userspace!!
[  133.329793] ixgbe 0000:d8:00.1 p21p2: detected SFP+: 6
[  134.854146] [PF_RING] Unloading ZC driver while the device is in use from userspace!!
[  134.854152] [PF_RING] Unloading ZC driver while the device

[2020-10-16 08:55] cardigliano commented on #665
@freeimust please note we cannot support old pf_ring versions, please update to latest dev or stable, and make sure both the kernel module and library/application are at the same version.

[2020-10-16 08:55] #665 closed, assigned to nobody

[2020-10-16 10:18] cardigliano commented on #656
Fixed in pf_ring 7.7 (dev). A new stable will be released in a few days.

[2020-10-16 10:18] #656 closed, assigned to nobody

[2020-10-16 10:37] g4laad opened #666 "PF_RING's libpcap segfault when used by Zeek loadbalanced on multiple cores"
Hi,

I am tying to use Zeek with PF_RING on an Accolade NIC, the 40 Ku. However, whenever I use more than 1 worker, many of them crashes with the following error:
[code]

I used the following guide for Zeek's compilation with PF_RING: https://holdmybeersecurity.com/2019/04/03/part-1-install-setup-zeek-pf_ring-on-ubuntu-18-04-on-proxmox-5-3-openvswitch/
And this guide https://www.ntop.org/guides/pf

[2020-10-16 10:44] cardigliano commented on #666
@g4laad please note that Accolade requires a special configuration to use multiple rings (required by multiple workers), otherwise you will have multiple workers concurrently opening the same interface. Please take a look at anic_mfl_config in https://www.ntop.org/guides/pf_ring/modules/accolade.html

[2020-10-16 11:17] g4laad commented on #666
I have used the following configurations:
[code]
Adapter 0 should loadbalance all its interfaces on 32 rings
and
[code]
Each port of adapter 0 is loadbalanced on 8 rings.

Only port 1 of the adapter 0 is UP.
I used a maximum of 8 workers (lb_procs=8) and the workers listen on anic:0:1 (pfcount and PF_RING's tcpdump can see the packets on this interface)

However, I still have some crashed workers

[2020-10-19 08:04] cardigliano commented on #666
Hi @g4laad I think the problem is with the interface name "anic:0:1", please try specifying anic:0, Bro should add the ring automatically (anic:0@0, anic:0@1, and so on) as the port should be specified in anic_mfl_config.
When you say this is "because of the libpcap" what do you mean exactly? Do you have a trace?

[2020-10-20 07:42] cardigliano commented on #643
I was not able to reproduce the same performance issue in our lab. Still investigating (it could depend on the adapter or firmware)

[2020-10-22 09:49] gianogli opened #667 "[No buffer space available] error after a commit in zbalance_ipc"
After this [commit](https://github.com/ntop/PF_RING/commit/38633d351c90e9e32a352ab20dd18ef26b1bcbe3#diff-73016be3be9cd3b77f9dc5f1b2dd0a4674c522b48ace008a96e0c00bfe001b61) the zbalance_ipc is not usable with a number of application instances (-n) greater than 2:
[code]

Reverting the commit I'm able to run the same command or also
[code]
without any errors.

Could you solve the issue?

I'm using PF

[2020-10-22 10:19] cardigliano commented on #667
Fixed in cd20ff2693c9cf91e0d1f2bf98a6143a9a2c1ae7
Please verify

[2020-10-22 12:22] gianogli commented on #667
Verified. It works.

Thanks... :-)

[2020-10-22 12:22] #667 closed, assigned to nobody

[2020-10-23 14:01] g4laad commented on #666
Hi ! I think the issue can be closed. My error was in my config file.
In order to use an accolade NIC, each worker should listen on a different ring "anic:0@0" for ring 0 for example.

Thank you for your help.

[2020-10-23 14:03] #666 closed, assigned to nobody

[2020-10-27 14:06] vitalivanov opened #668 "7.8.0-stable on what nDPI it's based on?"
I tried with latest stable nDPI 3.2-stable and got:

*** ndpi library version mismatch (expected 3514 found 6732) ***

@lucaderi @cardigliano

[2020-10-27 14:08] cardigliano commented on #668
I will push an update right now, and I will include the major version in the warning

[2020-10-27 14:12] vitalivanov commented on #668
please. it would be good to have a table of mapping pfring to ndpi...

[2020-10-27 14:58] cardigliano commented on #668
I pushed an update both for stable and dev. It should print a more comprensive error now.

[2020-10-27 15:20] vitalivanov commented on #668
*** ndpi library version mismatch, expected API rev.3514 (3.4.0) found rev.1397 (3.4.0) ***

This is with the latest ndpi 3.4-stable and PF_RING 7.8.0-stable.

What are the revs difference?

[2020-10-27 15:24] cardigliano commented on #668
Are you compiling from source code? Did you run autogen before recompiling?

[2020-10-27 15:55] vitalivanov commented on #668
Yes, full rebuild from source code for both.
Here is my current output:

*** ndpi library version mismatch, expected API rev.3514 (3.4.0) found rev.2501 (3.4.0) ***

Rev is different from the previous one.

Please check this....

[2020-10-27 16:09] cardigliano commented on #668
Just to make sure: did you pull latest 3.4 commit?

[2020-10-27 17:24] vitalivanov commented on #668
I use 3.4-stable branch and latest commit inside

[2020-10-27 18:29] cardigliano commented on #668
@vitalivanov did you install it? The API revision should be 3514

[2020-10-27 21:04] vitalivanov commented on #668
What is api revision? Where to check it in code?

Our build is in docker for target OS. And we do not install but just link as static libs.
So, it's not a problem of what is installed w/ what you build

[2020-10-27 21:05] cardigliano commented on #668
Please check NDPI_API_VERSION in src/include/ndpi_api.h (generated from ndpi_api.h.in)

[2020-10-28 22:21] vitalivanov commented on #668
https://github.com/ntop/nDPI/pull/1045

[2020-10-29 08:14] cardigliano commented on #668
Thank you for the patch, it has been merged

[2020-10-29 08:14] #668 closed, assigned to nobody

[2020-11-02 07:38] samyabdellatif opened #669 "error: incompatible type for argument 4 of ‘sock_setsockopt’"
I'm getting this error for the second time when I do full upgrade > pacman -Syyu

`dkms install --no-depmod -m pfring -v 2855.2ba454aa -k 5.9.2-arch1-1
Error! Bad return status for module build on kernel: 5.9.2-arch1-1 (x86_64)
Consult /var/lib/dkms/pfring/2855.2ba454aa/build/make.log for more information.
==> Warning, `dkms install --no-depmod -m pfring -v 2855.2ba454aa -k 5.9.2-arch1-1' returned

[2020-11-02 11:43] cardigliano commented on #669
@samyabdellatif I pushed a blind fix for kernel 5.9 (please note this is not officially supported as we support Ubuntu LTS/Centos kernels). Please check latest github code.

[2020-11-02 14:21] vitalivanov opened #670 "[pf_ring_ft] license format is changed."
@cardigliano
Old license was like:
[code]

New format is like:
[code]

Why did you change it?
All old licenses are not valid anymore?

[2020-11-02 14:42] cardigliano commented on #670
@vitalivanov we changed the license format, however the old format should still work for licenses under maintenance. Are you experiencing any issue?

[2020-11-02 15:14] vitalivanov commented on #670
@cardigliano license A4C226F49102DC2EFBE8C64451F20C1A1585612800849B1C2F was used on one of my servers.
It's not valid anymore, but I'm not sure if it's just expired or because of some failures?
Can you check your records for this license?

[2020-11-02 15:21] cardigliano commented on #670
Yes the maintenance for A4C226F49102DC2EFBE8C64451F20C1A1585612800849B1C2F expired on March 31

[2020-11-02 15:26] vitalivanov commented on #670
OK, thanks. I will let you know if any other problems...

[2020-11-02 15:29] vitalivanov commented on #670
But this is maintenance... is license still supposed to be valid after maintenance period?
So, we buy a license for 2-3 months in other case? I suppose it should be valid for years...

[2020-11-02 15:36] cardigliano commented on #670
The license is permanent if you do not update the software, otherwise the validity is 1y. Please see https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/

[2020-11-02 16:20] cardigliano commented on #643
@bluefangs are you still available to test this using latest pf_ring version, and also provide more details about your adapter model?

[2020-11-02 17:14] cardigliano commented on #452
Sorry for coming back on this so late. zbalance_ipc in host and run pfcount in docker works smoothly following the instruction in the guide (on ubuntu 20)

[2020-11-02 17:14] #452 closed, assigned to nobody

[2020-11-02 17:18] cardigliano commented on #515
This does not look like directly related to ZC, it looks like a suricata issue

[2020-11-02 17:18] #515 closed, assigned to nobody

[2020-11-02 17:19] #447 closed, assigned to nobody

[2020-11-02 17:20] #571 closed, assigned to nobody

[2020-11-02 17:24] #337 closed, assigned to nobody

[2020-11-02 17:24] #670 closed, assigned to nobody

[2020-11-03 00:11] samyabdellatif commented on #669
Thanks a lot for your fast response, I'm still getting errors during the package building but I'm not sure if i'm doing it correctly.. so to avoid the support issues I will keep that on my ubuntu system. thank you

[2020-11-03 00:11] #669 closed, assigned to nobody

[2020-11-03 09:02] cardigliano commented on #558
Added to the stable

[2020-11-03 09:02] #558 closed, assigned to nobody

[2020-11-04 09:57] ghost opened #671 "cannot simple use pf_ring"
cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
compiler: gcc4.8.5 g++4.8.5
pf_ring:7.8.0
build command:
1. enter pf_ring/kernel
2. ./configure
3. make
4. sudo make install
5. sudo insmod pf_ring.ko

result: insmod: ERROR: could not insert module pf_ring.ko: Unknown symbol in module

why insmod error

[2020-11-04 10:27] cardigliano commented on #671
Please check dmesg for error messages

[2020-11-04 13:48] jhaprins opened #672 "Track queue state of zbalance_ipc queue underneath /proc"
Hello,

I have an issue where it looks like Suricata is not detached correctly from the pfring zbalance_ipc queue and leaves the queue in an inconsistent or corrupted state. It would be nice if I could track this state underneath /proc.

Jan Hugo Prins

[2020-11-05 01:00] ghost commented on #671
VMware instance centos7
the last lines may be help, but i do not know how to solve this

[5476799.762547] overlayfs: Warning: Copying up history-2020-08-09.sqlite-journal, but open R/O on fd 44 which will cease to be coherent [pid=12937 yum]
[5477690.143468] pf_ring: Unknown symbol __check_object_size (err 0)
[5477690.143655] pf_ring: Unknown symbol __x86_indirect_thunk_rax (err 0)
[5477690.143705

[2020-11-05 08:35] cardigliano commented on #671
@xiaocaio it seems you are loading a module which has been compiled for an older kernel version. Please try cleaning up all pf_ring.ko from your system and rebuilding pf_ring. I suggest you also to cleanup older kernels and reboot the system to make sure you are running the latest one.

[2020-11-05 08:48] ghost commented on #671
thanks for your advice, pfring's dev branch and old kernel-devel version works (insmod command succeed).  new kernel version wont be allowed.

[2020-11-05 08:59] #671 closed, assigned to nobody

[2020-11-05 09:01] ghost commented on #671
evil magics rich your life

[2020-11-05 17:26] #672 closed, assigned to cardigliano

[2020-11-05 20:27] evandrocoan commented on #535
@cardigliano Is this the commit fixing it?
1. https://github.com/ntop/PF_RING/commit/a960f8093ac3026cbf7189dce83462b888863f3a - Compilation fix
1. https://github.com/ntop/PF_RING/commits/dev?after=2e5350540b1cd400f488cfd48d3807f1a124732f+419&branch=dev

[2020-11-06 08:45] cardigliano commented on #535
yes

[2020-11-10 03:56] AspirePig commented on #613
How was this problem solved

[2020-11-10 07:25] AspirePig opened #673 "zeek:multiple entries with PF_RING-7.6.0 and 7.8.0"
I am currently using ZEEK 3.0.6. When I configure 10 cores for the NIC, my log also records 10 of the same records
Only gigabit network card will appear this situation, 10 Gigabit network card does not repeat
My configuration is as follows：
cat node.cfg
[code]

cat zeekctl.cfg
[code]
When I execute the following command, the data is not filtered out
[code]

This problem appeared after 7.5.0

[2020-11-16 13:41] Arislen opened #674 "RHEL 8.3 and Zero Copy Drivers Compatibility"
We recently upgraded our systems to RHEL 8.3:

Red Hat Enterprise Linux release 8.3 (Ootpa)
Kernel: 4.18.0-240.1.1.el8_3.x86_64 #1 SMP Fri Oct 16 13:36:46 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux

Versions (installing from https://packages.ntop.org/centos/) :

pfring                   x86_64            7.9.0-3273
pfring-dkms          noarch            7.9.0-3273
pfring-drivers-zc-dkms      noarch

[2020-11-20 09:33] cardigliano commented on #674
@Arislen I pushed a fix to compile the ixgbe driver on your kernel, please update and let me know

[2020-11-20 09:48] cardigliano commented on #673
@AspirePig please update to latest github code and let me know if something changes

[2020-11-20 18:18] Arislen commented on #674
Still having errors. All the drivers had the same error not just the ixgbe one. The ixgbe one now has a different error than the res
t.

(output of dnf update)

Loading new ixgbevf-zc-4.5.1.3278 DKMS files...
Building for 4.18.0-240.1.1.el8_3.x86_64
Building initial module for 4.18.0-240.1.1.el8_3.x86_64
Error! Bad return status for module build on kernel: 4.18.0-240.1.1.el8_3.x86_64 (x86_64)
Cons

[2020-11-25 06:03] jatin152 opened #675 "PFring 7.5.0 ZC unable to read packet when bpf filter is enabled"
Hi,

I am using PFRing ZC libraries to read VLAN tagged GTP traffic  from intel the card.
But when the bpf filter is enabled. It is not able to read any traffic.
As soon as I disable the bpf filter it starts reading the packets.
Please advise and let us know if any other details needed.

**BPFFilter**
(udp and (port 2123 or port 2152 or port 3386 or (ip[6:2] & 0x1fff != 0))) or (vlan and udp and (

[2020-11-25 06:13] jatin152 commented on #675
Sample pcap trace captured with tcpdump
[tcpdump-eno5-sample.pcap.gz](https://github.com/ntop/PF_RING/files/5594732/tcpdump-eno5-sample.pcap.gz)

[2020-11-25 11:56] cardigliano commented on #675
@jatin152 it seems it's working for me, it's filtering 6 out of 10 packets in your pcap. I am actually using an ubuntu box with latest pf_ring, I will also try on a centos asap. In the meantime, could you try with latest pf_ring? I notice you are using 7.5 which is no longer supported.

[2020-11-30 16:06] jatin152 opened #676 "PFRing ZC compatibility with Emulex card (driver be2net)"
Hi

Does PFRing ZC support below NIC card?
If not, is there any scope for developing a compatible ZC driver for this card?

Product: OneConnect NIC (Skyhawk)
vendor: Emulex Corporation
driver=be2net

Regards,
Jatin

[2020-11-30 16:07] cardigliano commented on #676
@jatin152 this adapter is not supported, and there is no plan for that in the short term.

[2020-12-07 10:55] cardigliano commented on #674
@Arislen I pushed more patches to support RH8, please check it

[2020-12-07 10:55] #676 closed, assigned to nobody

[2020-12-07 10:55] #675 closed, assigned to nobody

[2020-12-07 10:55] #673 closed, assigned to nobody

[2020-12-08 23:03] Arislen commented on #674
No go, all zc drivers failed.

Versions tested:

i40e-zc-2.4.6.3289-dkms.noarch
ixgbevf-zc-4.5.1.3289-dkms.noarch
ixgbe-zc-5.5.3.3289-dkms.noarch
pfring-drivers-zc-dkms-7.9.0-3289.noarch
igb-zc-5.3.5.18.3289-dkms.noarch
pfring-7.9.0-3289.x86_64
pfring-dkms-7.9.0-3289.noarch

dnf output:

Loading new ixgbevf-zc-4.5.1.3289 DKMS files...
Building for 4.18.0-240.1.1.el8_3.x86_64
Building initial modul

[2020-12-09 08:17] cardigliano commented on #674
@Arislen unfortunately I do not have access to that kernel, which has not been released for CentOS yet, to test the changes.

[2020-12-09 11:57] cardigliano commented on #674
@Arislen I pushed a new update that should fix the compilation errors you reported, please check it

[2020-12-09 14:43] chenxiang2019 opened #677 "i40e driver compilation failure"
Hi all, I'm new to PF-RING and try to compile the PF-RING project.

I follow the instructions in https://www.ntop.org/guides/pf_ring/get_started/git_installation.html to install PF-RING on a server with Ubuntu 16.04 system (kernel: 5.9.0-050900-generic) and a 40-Gbps NIC (driver: i40e).

`pf_ring.ko` is successfully loaded. However, when I execute the commands:

[code]

I encountered the following

[2020-12-09 15:30] cardigliano commented on #677
@Wasdns please note that we support LTS kernels only (Ubuntu LTS or Centos), what distribution/version are you running?

[2020-12-09 15:40] chenxiang2019 commented on #677
Thank you for your response. Yes, the server uses Ubuntu 16.04.6 LTS:

[code]

[2020-12-09 16:05] cardigliano commented on #677
Ubuntu 16 runs 4.4, you are running 5.9

[2020-12-09 16:23] chenxiang2019 commented on #677
Thanks. I will try to degrade the kernel to 4.4.0 and report the log soon. But I'm wondering if it is possible to compile PF_RING with the latest kernel (e.g., 5.9.0-050900-generic as mentioned here). If so, what should I do to successfully compile PF_RING? Thank you!

[2020-12-09 16:24] cardigliano commented on #677
@Wasdns kernel 5.9 includes some API changes that need to be ported to pf_ring with some patch in order to compile it

[2020-12-10 05:02] chenxiang2019 commented on #677
@cardigliano Thank you for your response! I have resolved the above problem and successfully installed PF_RING.

[2020-12-10 05:02] #677 closed, assigned to nobody

[2020-12-10 08:09] cardigliano commented on #677
@Wasdns contributions are welcome if you want to send a patch for supporting new kernels. Thank you.

[2020-12-10 08:22] chenxiang2019 commented on #677
Okey. Also, many thanks for your quick responses and continuous maintenance for such a great project. 👍

[2020-12-13 04:13] sempervictus opened #678 "Fails to Compile on 5.9"
Looks like `timeval` isn't a thing anymore, and the call convention for `proc_create_data` has changed as well:
[code]
Working on forward-porting some of the 5.4 branches we have to 5.9 in hope of a performance boost, looks like the API changes were "not minor" over the last 5 minor versions. :)
This is PF_RING 6.x, will try to pull v7 in-tree and see if that fares any better.

[2020-12-14 08:08] cardigliano commented on #678
@sempervictus kernel 5.9 is not yet supported (we officially support LTS kernels only), we will support it asap

[2020-12-14 15:09] Arislen commented on #674
Some ZC drivers now work, others still have issues:

Versions tested:

ixgbevf-zc-4.5.1.3299-dkms.noarch  (worked)
igb-zc-5.3.5.18.3299-dkms.noarch   (failed)
i40e-zc-2.4.6.3299-dkms.noarch      (worked)
e1000e-zc-3.4.0.2.3299-dkms.noarch  (failed)
ixgbe-zc-5.5.3.3299-dkms.noarch   (failed)

pfring-7.9.0-3299.x86_64
pfring-drivers-zc-dkms-7.9.0-3299.noarch
pfring-dkms-7.9.0-3299.noarch

dnf output

[2020-12-14 16:16] cardigliano commented on #674
i40e and ixgbe have been updated on git, new build soon

[2020-12-15 21:33] Arislen commented on #674
All fixed except:

e1000e-zc-3.4.0.2.3304-dkms.noarch

dnf output:

  Installing       : e1000e-zc-3.4.0.2.3304-dkms.noarch                                                                           5/6
  Running scriptlet: e1000e-zc-3.4.0.2.3304-dkms.noarch                                                                           5/6
Loading new e1000e-zc-3.4.0.2.3304 DKMS files...
Building for 4.

[2020-12-16 11:57] cardigliano commented on #674
New e1000e patch in https://github.com/ntop/PF_RING/commit/e489fc07a6e642814f94158c8929eb21a0d17982

[2020-12-17 13:00] laoyang103 opened #679 "Change NIC mtu in zc"
@cardigliano

Hi cardigliano, I want to recv big packet which frame.len > 1800, set with

use follow can not recv any packet

,but without zc can recv all,

does zc have a param to set recv mtu ?

[2020-12-17 13:27] cardigliano commented on #679
Setting the interface MTU should be enough, what is the adapter model?

[2020-12-17 18:59] Arislen commented on #674
Still have errors.

e1000e-zc-3.4.0.2.3307-dkms.noarch

dnf output:

Installing       : e1000e-zc-3.4.0.2.3307-dkms.noarch                                                                           5/6
Running scriptlet: e1000e-zc-3.4.0.2.3307-dkms.noarch                                                                           5/6
Loading new e1000e-zc-3.4.0.2.3307 DKMS files...
Building for 4.18.

[2020-12-18 17:06] #643 closed, assigned to cardigliano

[2020-12-21 10:26] cardigliano commented on #674
I patched latest e1000e driver from intel, please check latest dev build

[2020-12-21 18:10] tturner opened #680 "Triple vlan tags not reconstructed correctly"
Hi,

For traffic tagged with 3 layers of vlans, the code in kernel/pf_ring.c:parse_pkt() doesn't reconstruct the outer vlan tag so it is inaccessible to code using pf_ring.

Apparently for inbound vlan-tagged data, the outer layer is stripped by the kernel even if you disable this from being accelerated in the network driver.

There is code in the kernel/pf_ring.c:parse_pkt() function which is int

[2020-12-22 11:49] tturner commented on #680
On reflection I thought I should add some more info on my testing of this to make this as easy as possible to reproduce:
Debian 10 Buster
Kernel 4.19

Network interface types tested:
* veth (easy way to test rx traffic on a single box):
ip link add send_here type veth peer name receive_here

* physical (what I had available on my test laptop): realtek 8152-based USB

I have run this on all interfa

[2020-12-23 11:37] Arislen commented on #674
Still have errors.

e1000e-zc-3.8.7.3316-dkms.noarch

dnf output:

Installing       : e1000e-zc-3.8.7.3316-dkms.noarch                                                                             5/6
Running scriptlet: e1000e-zc-3.8.7.3316-dkms.noarch                                                                             5/6
Loading new e1000e-zc-3.8.7.3316 DKMS files...
Building for 4.18.0-24

[2020-12-23 15:56] linuzlover opened #681 "PF_RING 7.8.0 likely macro conflict with boost/date_time/v1.71"
Hi,

I am including PF_RING into my application.
In userland/lib/pfring.h I see the following macro definition:

[code]
This macro conflicts with the following header file in boost library v 1.71 where a static _likely_ function is defined:

`boost/date_time/special_values_parser.hpp`

Unfortunately, a compilation error arises when both these header files are used.

It seems to me that _likely_ ma

[2020-12-23 15:58] cardigliano commented on #681
In the meantime, could you #undef after including the header?

[2020-12-23 16:37] linuzlover commented on #681
Yes, you are right.
Undefining the macro works like a charm.

Thank you

[2020-12-28 08:56] #681 closed, assigned to cardigliano

[2021-01-07 01:40] hicaoc opened #682 "Centos8.3 transparent_mode=2 Packets are sent to the kernel"
in centos8.3  kernal 4.18.0-240.1.1.el8_3.x86_64

insmod ./pf_ring.ko transparent_mode=2

insmod pf_ring.ko transparent_mode=2
In this mode, packets are sent directly by the NIC driver to PF_RING, packets are not propagated to other kernel components as this slows down packet capture. Please note that:
in order to enable this mode, you must use a NIC driver that supports PF_RING.
**Packets are not

[2021-01-07 08:17] cardigliano commented on #682
@hicaoc please note that transparent mode is deprecated, did you find instructions on the web site perhaps? (we need to update them in case)

[2021-01-07 08:18] #679 closed, assigned to nobody

[2021-01-07 23:57] hicaoc commented on #682
Yes, I see the prompt. It's deprecated, but I can't find a description of the replacement function.

[2021-01-07 23:57] hicaoc commented on #682
Yes, I see the prompt. It's deprecated, but I can't find a description of the replacement function.

[2021-01-08 05:47] fluxcap1 opened #683 "zc drivers do not compile on openSUSE_Leap_15.2"
Driver compile fails with these errors:

[code]
System details --
[code]

[2021-01-08 08:14] cardigliano commented on #682
@hicaoc if you want to bypass the kernel you should use ZC drivers (igb is supported)

[2021-01-08 08:16] cardigliano commented on #683
@fluxcap1 could you try using latest e1000e-3.8.7-zc driver available in the dev branch?

[2021-01-08 09:09] fluxcap1 commented on #683
Sure thing, I will try that one.

[2021-01-08 09:44] fluxcap1 commented on #683
Same error -
[code]

[2021-01-08 09:47] cardigliano commented on #683
@fluxcap1 this is the latest driver from Intel actually, we need to wait a new update as it seems your kernel is not yet supported.

[2021-01-08 10:26] fluxcap1 commented on #683
Okay, I will upgrade the kernel to HEAD and see if it compiles.

[2021-01-08 11:12] fluxcap1 commented on #683
I can't install 5.11 kernel from HEAD, tried several PF_RING branches but can't compile zc driver.

[2021-01-10 13:23] fluxcap1 commented on #683
patching drivers/intel/e1000e/e1000e-3.4.0.2-zc/src/netdev.c, eliminates the error

[code]

But now there is a new error -

[code]

I think I can fix this. Help is welcome.

[2021-01-11 01:01] hicaoc commented on #682
Thank you, I'll test ZC drivers.

[2021-01-11 02:45] #682 closed, assigned to nobody

[2021-01-15 06:39] fluxcap1 commented on #683
This issue is fixed after modifying netdev.c and kcompat.h -

kcompat.h:
[code]
netdev.c:
[code]

[2021-01-15 06:40] #683 closed, assigned to nobody

[2021-01-21 08:42] dlemel8 opened #684 "Ubuntu18.04: kernel module somethings hangs and can't be recovered until host reboot"
Hi all,
We were using PF_RING 7.2.0 in our Ubuntu 16.04 servers for few years.
When we started to use Ubuntu 18.04 (and PF-RING 7.6.0), kernel module is  somethings hangs.
When it enter its problematic state nothing can be done (restarting user-land process, rmmod, etc.) and the problem is temporally resolved only by a full reboot.

This is the relevant part from /var/log/kern.log:
Jan 19 21:35:48

[2021-01-21 08:57] cardigliano commented on #684
@dlemel8 does it happen when closing the socket? Please move to pf_ring 7.8 which is the latest stable and check if you are able to reproduce the same (we cannot support old releases)

[2021-01-21 09:05] dlemel8 commented on #684
@cardigliano yes.
I will try, thanks!

[2021-01-21 11:34] f0rget-the-sad opened #685 "[pf_ring_ft] pfring_ft_license() returns valid license, but expiration and maintenance are zeros"
@cardigliano
[code]

Just want to clarify what  expiration and maintenance zero values means in terms of license type, because in [this example ](https://github.com/ntop/PF_RING/blob/dev/userland/examples_ft/ftflow.c) we print "license type: permanent" only if maintenance are greater then zero, else we print nothing about it's type.
So if both time values are zero and license is valid, is license

[2021-01-21 11:52] vitalivanov opened #686 "[pf_ring_ft] license length issue on old library versions..."
@cardigliano

To follow up on:
https://github.com/ntop/PF_RING/issues/670

New license length is not a problem for new releases for us as we changed the length.
But old releases has defined length of license and it's less then 512. So, If we generate new license for old version of our SW based on older PF RING - we are in trouble and license won't be valid.

Are there any chances to get previous v

[2021-01-21 14:24] cardigliano commented on #686
@vitalivanov what (old) version (including date) of FT are you referring to?
Also, the length of a license should be less than 512, even with new licenses, could you show me an example? (please provide the orderid in a private mail)

[2021-01-21 14:39] cardigliano commented on #685
@f0rget I pushed a patch to print the below in case of expired maintenance:
License Type:  Permanent License
Maintenance:   Expired

[2021-01-21 15:41] vitalivanov commented on #685
thanks
we will cherry pick it into our current tree

[2021-01-21 16:01] vitalivanov commented on #686
@cardigliano

Sorry for confusion. I somehow selected 512 as a number ...

Here is the example.

Version : 7.5.0.191118
Maintenance for this license will expire on Thu, 21 Jan 2021 16:43:03 +0100
System id: A73AC7A8B208AA9A

License is:
Du0mH7lSWyjHuh/WQqeqgWEbTQ7KiNy6sPbWnZpf+uSsZ+o0FE/LNkjVqeU5vmWkK3cH9bC4AWcGJDW6PS2oHJMV0mvMPbw/inMz3fF0vRSEogF1WUpeRAnrdP3F8lHKlGeg5V9/NYL73OHD7d68O6ABpWjZImOKkwU

[2021-01-21 16:01] #685 closed, assigned to nobody

[2021-01-21 16:08] cardigliano commented on #686
@vitalivanov I am afraid this is not possible, we moved all our license system to this new format, and even if we provide you an old style license, a software update would break them as they are no longer supported.

[2021-01-25 03:23] dv0 commented on #678
hello，the latest code compiled under kernel 5.10 still has similar problems.is there a definite plan to support kernel 5.10?

[2021-01-25 08:12] cardigliano commented on #678
@dv0 we officially support LTS kernels only. What "similar problems" are you experiencing?

[2021-01-25 10:15] vitalivanov commented on #686
It leads us to the point that our old SW versions based on pf_ring_ft - we can not generate a license for them anymore.
and if customers wants to active ntop functionality - we need to ask to upgrade our SW to the latest with new license style support.
That's generally bad handling of library and support for companies that use it.

I'm not sure what other options we have...

[2021-01-25 10:36] cardigliano commented on #686
@vitalivanov please also note that the software version the customer is running is no longer supported anyway as it is too old..

[2021-01-25 12:42] dv0 commented on #678
@cardigliano

/home/dv/PF_RING-dev/kernel/pf_ring.c: In function ‘ring_setsockopt’:
/home/dv/PF_RING-dev/kernel/pf_ring.c:7286:21: error: incompatible type for argument 1 of ‘copy_to_user’
     if(copy_to_user(optval, &mapping, optlen)) /* returning device_model*/
                     ^~~~~~
In file included from ./include/linux/sched/task.h:11:0,
                 from ./include/linux/sched/signal

[2021-01-25 12:48] dv0 commented on #678
it looks like a problem caused by the parameter "optval" type change in the kernel 5.10.

[2021-01-28 07:08] lipnitsk commented on #678
@cardigliano:

5.10 is LTS (https://www.kernel.org/category/releases.html). Does d90bf9c4465ca47540ad0fa5984aa211a853dbce fix it? Are you planning on releasing 7.8.1 with that fix?

here is my trace:
[code]

[2021-01-28 08:00] cardigliano commented on #678
@lipnitsk let me be more precise, we support kernels used by Ubuntu Server LTS, CentOS, Debian.
Is the latest pf_ring dev code working for you?

[2021-01-29 02:56] lipnitsk commented on #678
I think `copy_to_user` within `ring_setsockopt` is still problematic with the optval type change. I'll see if I can make a PR to fix this.

[2021-01-29 04:04] lipnitsk opened #689 "Migrate Travis CI to travis-ci.com"
travis-ci.org has the following notice:

https://docs.travis-ci.com/user/migrate/open-source-repository-migration

While travis-ci.org appears to still run builds they seem to take much longer than before.

[2021-01-29 08:31] #678 closed, assigned to nobody

[2021-01-29 08:32] cardigliano commented on #678
PR accepted, thank you!

[2021-01-29 20:01] lipnitsk commented on #678
@cardigliano thanks for merging the changes promptly! Are you planing a 7.8.1 release off the stable branch soon?

[2021-02-01 09:51] cardigliano commented on #678
You're welcome, there is no plan to release a new stable yet

[2021-02-05 14:10] gianogli opened #691 "make[1]: warning: jobserver unavailable: using -j1. Add '+' to parent make rule."
I tried to build the sources with the command `make -j16 all` but I see a lot of `make[1]: warning: jobserver unavailable: using -j1.  Add '+' to parent make rule.` messages:
[code]
It seems that is not possible use the option -jN to specify the number of jobs to run simultaneously.

To solve this "issue" I found this [article](https://stackoverflow.com/questions/60702726/warning-jobserver-unavail

[2021-02-08 08:21] cardigliano commented on #691
Fixed. Thank you.

[2021-02-08 08:21] #691 closed, assigned to nobody

[2021-02-09 08:02] gianogli opened #692 "WARNING: Script failure in daily.lua:46: attempt to index a nil value (global 'prefs')"
With the ntopng dev branch (ntopng Enterprise M v.4.3.210208 (Ubuntu 18.04.5 LTS)) I obtained this Warning:
[code]
The line 46 of daily.lua is:
[code]
and I think that the cause of the warning messages is that in my configuration the Alerts are disabled in "Preferences" menu.
I think you have to add ad if statement to verify if the Alerts are enabled or not before execute this line of code.
What d

[2021-02-09 08:05] cardigliano commented on #692
@gianogli I will take a look at this, however the right place for ntopng issues is https://github.com/ntop/ntopng/issues/

[2021-02-09 08:05] gianogli commented on #692
Moved to the right [place...](https://github.com/ntop/ntopng/issues/5031)
Sorry...

[2021-02-09 08:05] #692 closed, assigned to nobody

[2021-02-16 08:25] feriel-ux commented on #517
How Can I link nDPI with DPDK ?

[2021-02-16 08:48] cardigliano commented on #517
Sure, the ftflow_dpdk example is using FT, which is in turn loading nDPI at runtime using the shared library in the standard installation path.

[2021-02-16 08:50] feriel-ux commented on #517
yes , but how nDPI will match with the DPDK ?

[2021-02-16 09:06] cardigliano commented on #517
DPDK is used to capture traffic, packets are provided to FT, which is running the DPI engine on the payload. Did I answer to your question?

[2021-02-16 09:08] feriel-ux commented on #517
to be honest , I need to know how the process will happen cz I don't know exactly what should I do first ?

[2021-02-16 09:10] feriel-ux commented on #517
should I install the DPDK and the nDPI on the same machine ?

[2021-02-16 09:12] cardigliano commented on #517
Yes, you need to install both

[2021-02-16 09:15] feriel-ux commented on #517
Then what should do ? I consult which file to add the configuration to ensure the link ?

[2021-02-16 09:39] cardigliano commented on #517
You just need to place the library in /usr/lib/libndpi.so.3.5.0 or set the NDPI_LIB_PATH env var (please make sure you use latest ndpi version)

[2021-02-16 12:39] feriel-ux commented on #517
Okay thanks

[2021-02-18 11:13] feriel-ux commented on #517
hello again , I have a lot of errors in the installation of DPDK http://fast.dpdk.org/rel/dpdk-16.11.1.tar.xz this version .. any help plz or any documentation ?

[2021-02-18 11:16] cardigliano commented on #517
@feriel-ux we cannot provide support for installing dpdk sorry

[2021-02-18 12:46] feriel-ux commented on #517
okay thanks

[2021-02-24 07:10] annp1987 opened #693 "pf_ring ft doesn't link to nDPI"
Hi @cardigliano,

I have installed nDPI into /usr/local/lib/ndpi by compile from source code as below:
./autogen.sh
./configure --prefix=/usr/local
make && make install && ldconfig

With latest source code of pf_ring, I install pf_ring ft lib as below:
cd lib && ./configure --disable-ft-dl && make && make install && ldconfig
then try to compile example_ft, I got error like below:
`make
gcc  -O2  -

[2021-02-24 08:06] cardigliano commented on #693
@annp1987 why are you using --disable-ft-dl ?

[2021-02-24 08:58] annp1987 commented on #693
@cardigliano : my application build on top of ndpi and pf_ring ft same as the issue: https://github.com/ntop/PF_RING/issues/441.
Everything work fine after I update latest source code of pf_ring.

[2021-02-24 09:04] cardigliano commented on #693
Can we close this issues then?

[2021-02-24 10:00] annp1987 commented on #693
Sorry, I mean that everything work fine before I update latest source code of pf_ring.

[2021-02-24 10:45] cardigliano commented on #693
@annp1987 please update to latest code from git and use ./configure --disable-ft-dl --enable-ndpi

[2021-02-24 11:23] annp1987 commented on #693
It worked fined. Thank you so much.

[2021-02-24 11:23] #693 closed, assigned to cardigliano

[2021-02-25 10:39] #680 closed, assigned to cardigliano

[2021-02-25 10:40] cardigliano commented on #680
@tturner I pushed a fix for this, please let me know if it works for you (sorry for the delay)

[2021-02-25 18:15] tturner commented on #680
Hi @cardigliano yes I can confirm that this works for me (primarily interested in not losing the raw data) - both in pfcount and also in my own code.

I am not using the derived headers so I can't comment on whether it does the right thing there (or whether anyone using those headers cares).

Thanks very much for fixing this.

Regards,

Tom

[2021-02-25 19:01] cardigliano commented on #680
Thank you

[2021-02-25 21:33] jacobvw opened #694 "Wrong interface selected by PF_RING when using long interface names"
We can reproduce this in our environment by having two interfaces named:
'test-10g-port1' and 'test-10g-port2'

After calling pfring_zc_open_device() the ifindex PF_RING binds to is checked with:
[code]

When using the interface 'test-10g-port2' PF_RING binds to the correct interface
`interface test-10g-port2 pfring index 31 ifindex 31`

When using the interface 'test-10g-port1' PF_RING binds to t

[2021-02-26 08:18] cardigliano commented on #694
Are you opening the queue using "test-10g-port1" or "zc:test-10g-port1"?

[2021-02-26 08:40] cardigliano commented on #694
PF_RING uses the standard bind() call to bind the interface to the socket, this is using struct sockaddr which allows a 14-chars interface. In this case pf_ring should return an error rather than opening the wrong interface.

[2021-02-26 08:53] cardigliano commented on #694
Fixed in f354d298418a1381addafb9a197313e98ef4b01d

[2021-02-26 08:53] #694 closed, assigned to nobody

[2021-02-26 08:59] #686 closed, assigned to nobody

[2021-02-26 09:05] #684 closed, assigned to nobody

[2021-02-26 09:06] #674 closed, assigned to cardigliano

[2021-03-02 10:19] wlcrack commented on #572
thank you sir , @emanuele-f and @cardigliano , it works wery well!

[2021-03-06 12:01] michael-clarke opened #695 "problem building Mellanox module"
When I try to build the Mellanox module the following error is seen.

`$ ./configure
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checkin

[2021-03-09 02:33] w2n1ck commented on #541
its work? I have the same problem. What’s the solution? help me.

[2021-03-09 02:50] w2n1ck opened #696 "pfring_open error [No such device] (pf_ring not loaded or interface eth4 is down ?)"
[root@sh1-arch-1 examples]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

[root@sh1-arch-1 examples]# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
2: eth0: <NO-CARRIER,BROADCAST,MULTICAST,UP>

[2021-03-09 08:06] cardigliano commented on #696
@w2n1ck please note you are using an old application (pfcount) version, with the latest pf_ring kernel module. Please update also the application.

[2021-03-09 08:32] w2n1ck commented on #696
Yes, thank you！by the way, my NIC driver is using bonding, how do I configure this to enable PF?

[2021-03-09 08:34] cardigliano commented on #696
There is no special configuration required to capture from a bond interface with pf_ring, just load the module

[2021-03-09 08:34] #696 closed, assigned to nobody

[2021-03-10 09:40] feriel-ux commented on #517
hello , I need a help for the linking between ndpi over dpdk , I didn't now how to add the library and where .. and how can I be sure that my system run the ndpi over dpdk

[2021-03-11 16:22] Douglasrs opened #697 "BPF filter is not being honored"
I have a multithreaded application with PF_RING 7.2.0 that polls for packets from the interface. In one specific environment, the BPF filter is not being honored.

The application calls the these functions, in sequence:

    pfring_open( .., PF_RING_PROMISC | PF_RING_LONG_HEADER )
    pfring_set_application_name)_
    pfring_set_cluster( cluster_per_flow_5_tuple )
    pfring_set_bpf_filter( pfring

[2021-03-11 16:26] cardigliano commented on #697
@Douglasrs, is this application using the same socket for all the threads? Who is setting the filter? Please try reproducing this with pfcount

[2021-03-16 08:25] cardigliano opened #698 "pfring_get_interface_speed support on Silicom FPGA (Fiberblaze)"
It is required to return the correct interface speed as there is software (e.g. cento) relying on that

[2021-03-22 14:33] alessio-pascolini opened #699 "zeek polling mechanism and pfring compatibility"
From documentation:

Could you give more details about that?
What are the devices involved?

Thanks

[2021-03-22 14:52] cardigliano commented on #699
@alessio-pascolini it seems they fixed this in 4.0, please read https://github.com/zeek/zeek/issues/1063

[2021-03-22 15:01] cardigliano commented on #698
Implemented

[2021-03-22 15:01] #698 closed, assigned to nobody

[2021-03-22 15:02] cardigliano commented on #695
@michael-clarke please note this module is deprecated. If you want to revamp it, feel free to send a PR.

[2021-03-23 07:32] annp1987 opened #701 "How to setup pfring ft to handle 500k active flows?"
Hello,

Currently, I'm build a application base on zc + pfring ft, Here is work flows: traffic-->zbalance_ipc--> 8 queues, 8 pfring_ft threads will consume packet from 8 queues. As the document said, pfring ft able to handle 500k active flows. However, i tested on my application, it seems pfring_ft able to handle 1000 active flows. Do you need any special setup for zc or pfring_ft to able to handl

[2021-03-23 08:03] cardigliano commented on #701
How did you found that pfring_ft can handle 1000 active flows? Please provide more details about your tests and results. Thank you.

[2021-03-23 08:14] annp1987 commented on #701
Thank you quick replied,
Here is my test resutl: https://nowtransfer.de/ead2ebfb8c21
I used zsend cmd to send traffic like that zsend -i zc:enp6s0f0 -g 0 -r 10 -b 1000.
I tested with driver: ixgbe

[2021-03-25 12:06] Douglasrs commented on #697
The application is using a different socket in each thread. Each threads sets its own filter.

I am still trying to reproduce it with pfcount.

[2021-03-29 13:30] MeneTelk0 opened #702 "AF_XDP: packet reading stops on 40g network card"
Hello,

While configuring the reading of input packets using the `AF_XDP` module in `PF_RING`, I encountered a problem for which I have not yet been able to find the correct solution.

The problem is as follows - as soon as I load `pfcount` (`pfcount -i xdp:enp71s0f1@0`) with lots of traffic and try to use `pfcount` for some additional tasks (for example, printing some statistics to stdout), then

[2021-03-30 14:31] HumanToApe opened #703 "Loop : recv and send"
hey, I'm a newbie with pf_ring and i would love some #help.
I'm trying to code a Man In The Middle (It's only in goal to pentest some tool).
So i tried  with the exemple pfbridge with  rx_and_tx direction and send_and_recv_mode for both of my device.
Then in the while, i did :

[code]

And then i tried to send 5 tcp packets on my eth1.
so, what happened:

A BIG LOOP!
During execution,I think my co

[2021-04-01 12:42] adeelkhan-ak opened #704 "installing ntop but having these issues, using ubuntu 20 .04.1 LTS"
Errors were encountered while processing:
 i40e-zc-dkms
 igb-zc-dkms
 fm10k-zc-dkms
 e1000e-zc-dkms
 pfring-drivers-zc-dkms
 ixgbe-zc-dkms

[2021-04-01 13:07] cardigliano commented on #704
@adeelkhan-ak are you using stable or dev packages?

[2021-04-01 13:08] cardigliano commented on #703
@HumanToApe are you setting the capture direction to rx only? Otherwise you capture also transmitted packets, going in a loop

[2021-04-01 13:09] #699 closed, assigned to nobody

[2021-04-01 13:17] adeelkhan-ak commented on #704
stable and  i removed all these packages and its working fine
command  : sudo apt-get remove <pkg-name>

[2021-04-01 13:47] cardigliano commented on #704
Please close the issue if it's working for you

[2021-04-01 13:47] HumanToApe commented on #703
@cardigliano i did it with rx_and_tx_direction and send_and_recv_mode then it was going in a loop.
So i tried to set in rx_only ( and send_and_recv_mode  ) as you said but it seems to work only in one direction...

`pfring_set_direction(a_ring, rx_and_tx_direction);
pfring_socket_mode(a_ring, send_and_recv_mode);
pfring_set_direction(b_ring, rx_and_tx_direction);
pfring_socket_mode(b_ring, send_an

[2021-04-01 14:47] #704 closed, assigned to nobody

[2021-04-10 09:31] annp1987 commented on #701
Hi @cardigliano,
We can achieve our target by rewrite the program. So I would like to close this issue.
Thank you.

[2021-04-10 09:31] #701 closed, assigned to nobody

[2021-04-12 08:42] pico-martin opened #705 "Make fails when making e1000e driver"
make fails when making the first Intel driver
ERROR: modpost: "pf_ring_skb_ring_handler" [/home/martin/PF_RING/drivers/intel/e1000e/e1000e-3.8.7-zc/src/e1000e.ko] undefined!

- I've tried to make i40e separately but it also fails in a similar manner:
[pfring_make.txt](https://github.com/ntop/PF_RING/files/6295139/pfring_make.txt)

[2021-04-12 09:00] cardigliano commented on #705
What OS are you running?

[2021-04-12 09:03] pico-martin commented on #705
Ubuntu 20.04, kernel 5.8.0-48-generic

[2021-04-12 09:04] pico-martin commented on #705
root@1hu-server:/home/martin/pcaps# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal

[2021-04-12 11:02] cardigliano commented on #705
@pico-martin the same seems to be working for me, however Ubuntu 20 LTS should have a 5.4 kernel, while you have 5.8 which is not currently supported. Did you install an Ubuntu Server LTS?

[2021-04-12 11:09] pico-martin commented on #705
I installed Ubuntu 20.04.2 LTS which has the 5.8 kernel - I checked the repo beforehand and saw comments for kernel 5.9 so thought it would be ok. I will step back to Ubuntu 20.04.1 LTS, kernel 5.4 and try again - thanks

[2021-04-12 12:34] pico-martin commented on #705
I installed Ubuntu 20.04.1 LTS and get the same problem: here are my steps:
1. install Ubuntu 200.04.1
2. install git
3. git clone https://github.com/ntop/PF_RING.git
4. cd PF_RING; install recommended apps from README.FIRST
apt-get install build-essential bison flex linux-headers-$(uname -r) libnuma-dev libnl-genl-3-dev
5. make or sudo make
I get the same failure at the same point:
make[5]: Enter

[2021-04-12 12:35] pico-martin commented on #705
sorry forget that - I see that my kernel is still updating to 5.8. I will try again.

[2021-04-12 12:46] cardigliano commented on #705
This is strange: my Ubuntu 20.04.2 LTS (updated now) is actually running 5.4.0-70-generic, I will dig into this

[2021-04-12 12:49] cardigliano commented on #705
It seems Ubuntu since 20.04.2 is autodetecting wether the HWE kernel (5.8) can be installed and doing that automatically. I think we should add support for it.

[2021-04-12 13:25] pico-martin commented on #705
Ok, managed to revert to 5.4 by:
1. sudo apt remove linux-{image,headers}-generic-hwe-20.04
2. sudo apt install linux-generic
3. reboot and select 5.4 image
After this the PF_RING make works without a hitch.
you can close this issue now unless you want to maintain it as a 5.8 upgrade issue.
Thx for your help

[2021-04-12 13:26] cardigliano commented on #705
Please keep this open as we need to support 5.8 at this point. Thank you.

[2021-04-13 10:09] HumanToApe commented on #703
So, i fixed it !
First thing, I updated my PF_RING to be able to use PF_RING_DISCARD_INJECTED_PKTS as a flag.
Then I used rx_only_direction and send_and_recv_mode as paremeters.
And finally , in my loop i used pfring_recv() with the last argument to 0 to avoid to be stuck until a packet is received.
 It would be great to add an example of MITM with PF_RING.

[2021-04-13 10:18] cardigliano commented on #703
Great. It would be great if you want to contribute to the project sending a PR with an example. Thank you.

[2021-04-13 10:18] #703 closed, assigned to nobody

[2021-04-13 15:44] rjo opened #706 "Techniques for receiving rx/tx traffic bifurcated across two interfaces"
I'm writing an application using ZC and I need to use an optical tap to monitor some traffic since my switch mirror drops packets at high rates. The optical tap splits the transmit and receive such that I need to use two interfaces, one for the rx and one for tx traffic.

I'm new to this kind of packet processing and I have not found any documentation that clearly describes the best techniques for

[2021-04-13 15:47] cardigliano commented on #706
If you are using standard drivers, pf_ring supports traffic aggregation using comma-separated interface names (e.g. "eth1,eth2"), otherwise you need to open each interface separately and poll them in a round robin fashion. There is no guarantee about packet order as that would require hw support to mark the packets (e.g. nsec ts)

[2021-04-13 15:47] #706 closed, assigned to nobody

[2021-04-13 15:49] rjo commented on #706
Would ixgbe be considered a standard driver?

[2021-04-13 15:52] rjo commented on #706
And when you say there is no guarantee about packet order, does that apply to both the traffic aggregation and opening multiple interfaces with round robin polling?

[2021-04-13 16:19] cardigliano commented on #706
Yes both

[2021-04-13 18:09] rjo commented on #706
@cardigliano does pf_ring have any support for ordering if your interfaces support ieee 1588?

Is there a way I can reach you directly through ntop.org?

[2021-04-14 13:04] cardigliano commented on #705
Compilation on 5.8 has been fixed

[2021-04-14 13:04] #705 closed, assigned to cardigliano

[2021-04-20 11:26] ecloudzbox opened #707 "Bad page state in process swapper/0 pfn:325392d"
CentOS 8.0  kernel  5.4.86-1.el8.elrepo.x86_64
pfring 7.9.0 (make install)

Use PKTGEN to send the package on the other end, and the system will die in about an hour

error log:

[Tue Apr 20 18:05:30 2021] page:ffffeb49c94e4b00 refcount:65533 mapcount:0 mapping:0000000000000000 index:0x0
[Tue Apr 20 18:05:30 2021] flags: 0x17ffffc0000000()
[Tue Apr 20 18:05:30 2021] raw: 0017ffffc0000000 dead00000

[2021-04-20 20:35] m-peko opened #708 "PF_RING with DPDK support"
Hi there,

First of all, thank you for your work.

I would like to know if PF_RING would work with DPDK library?

My assumption is that DPDK library would need to inject packets into PF_RING ZC framework. Then, PF_RING ZC does the load balancing of the packets. I would like to balance load depending on the protocol (Diameter, GTP-C, etc.). And finally PF_RING ZC provides packets to consumers.

Is

[2021-04-21 07:07] cardigliano commented on #708
You can combine the framework, but this requires a copy when moving a packet from one framework to the other as they have different memory management. I am wondering why you need to combine both.

This requires locking, or multiple rings. Rings are single-consumer.

Correct.

[2021-04-25 03:47] blshkv opened #709 "fails to compile: storage size of ‘cmd’ isn’t known"
Hello, I'm trying to compile the latest git with gcc-10.2.0/kernel-5.11.x and facing the following error:
[code]

the quick fix is to add the following line pf_ring.c:
#include <linux/ethtool.h>

also, see
https://fossies.org/linux/ethtool/internal.h

[2021-04-25 19:18] m-peko commented on #708
@cardigliano thanks on your answers. I have more questions because it looks promising to me to replace DPDK with PF_RING now.

1. Regarding Napatech, is it possible to let Napatech do the filtering of the packets?
2. Furthermore, can we create multiple PF_RINGs to read packets from the same interface? Or does the one PF_RING take ownership of an interface while reading from it and none other appli

[2021-04-26 06:57] #709 closed, assigned to nobody

[2021-04-26 07:03] cardigliano commented on #708
Yes, you can use the Napatech NTPL to program the adapter, or BPF filters through the PF_RING API (they are converted to NTPL, depending on the filter)

This depends on the adapter. With Napatech you can create multiple streams (e.g. with load balancing) and attach with pf_ring as described in the user's guide.

It depends, on the adapter, on the configuration (load balancing vs fan out), the numb

[2021-04-26 18:35] m-peko commented on #708
Hey @cardigliano, thanks for the answers.

One thing I didn't get, can I have 2 or more PF_RINGs for the same physical interface (pcap, Intel or Napatech)?

[2021-04-27 06:58] cardigliano commented on #708
PCAP: Yes
Intel with ZC: You can have one socket per interface or RSS queue
Napatech: You can have one socket per port, or you should use streams

[2021-04-27 17:42] m-peko commented on #708
Thank you very much for your quick answers!

[2021-04-27 17:42] #708 closed, assigned to nobody

[2021-04-28 19:19] m-peko opened #711 "Performance difference between PF_RING Vanilla and PF_RING ZC"
Hi,

As the title says, I wonder what is the performance difference between PF_RING Vanilla and PF_RING ZC?

Thanks

[2021-04-29 04:38] liuchuang opened #712 "flag PF_RING_ZC_DEVICE_HW_TIMESTAMP is already available？"
Env：`ixgbe/82599/x520/pf_ring7.4 release`

pfring_zc_open_device with the `PF_RING_ZC_DEVICE_HW_TIMESTAMP` flag
Test case:
(1)`./zfifo -i zc:eth4,zc:eth5 -c 10 -r 1 -g 2`
(2)`./zfifo -i eth4,eth5 -c 10 -r 1 -g 2`

test in examples_zc/zfifo,when case 1 use zc mode,the pfring_zc_pkt_buff->ts.tv_sec is 0
but case 2 use no zc mode,the pfring_zc_pkt_buff->ts.tv_sec is not 0.
any suggestions use HW time

[2021-04-29 07:15] cardigliano commented on #712
@liuchuang ixgbe adapters do not support hw timestamps, please check https://www.ntop.org/guides/pf_ring/modules/index.html
What you see in non-zc mode is the timestamp from the kernel (software)

[2021-04-29 07:15] #712 closed, assigned to nobody

[2021-04-29 07:18] cardigliano commented on #711
Standard (Vanilla) drivers can deliver 1-2 Mpps, ZC up to 15-20 Mpps per core. (depending on the hw: cpu, etc)

[2021-04-29 07:18] #711 closed, assigned to nobody

[2021-04-29 09:31] cardigliano commented on #707
@ecloudzbox could you provide more information about:
1. pf_ring kernel module parameters
2. loaded drivers (and parameters if you are using ZC drivers)
3. application (and configuration) you are running
Thank you

[2021-04-29 09:42] cardigliano commented on #697
@Douglasrs any news? Can we close this? (Also, please use latest dev or stable, which is what we support)

[2021-04-29 09:43] #695 closed, assigned to nobody

[2021-04-29 10:29] ecloudzbox commented on #707
@cardigliano
1. install module command： insmod ./pf_ring.ko min_num_slots=65536 enable_tx_capture=0
module info：

filename:       /lib/modules/5.4.86-1.el8.elrepo.x86_64/extra/pf_ring.ko.xz
alias:          net-pf-27
version:        7.9.0
description:    Packet capture acceleration and analysis
author:         ntop.org
license:        GPL
srcversion:     B7582AF3D744F71CA021D47
depends:
retpoline:

[2021-04-30 15:43] arthurkokhanenko opened #713 "kernel crash at pf_ring:add_sock_to_cluster_list"
Hey, we got kernel crash with last 7.8.0 stable build.
[14398.709636] BUG: unable to handle kernel NULL pointer dereference at 0000000000000020
[14398.709672] IP: [<ffffffffb0f98a6a>] __bitmap_equal+0x1a/0x90
[14398.709698] PGD 0
[14398.709707] Oops: 0000 [#1] SMP
[14398.709722] Modules linked in: pf_ring(OE) ip_vs_rr xt_ipvs xt_state ip_vs xt_REDIRECT nf_nat_redirect xt_nat xt_policy iptable_mang

[2021-04-30 16:20] cardigliano commented on #713
How did you reproduce this?

[2021-04-30 17:58] arthurkokhanenko commented on #713
We using Docker.
One of containers is suricata, which listens traffic in pfring mode.
Docker is constantly adding/removing/renaming network interfaces.
So, once container with suricata and pfring is became active after some time we got that crash.

[2021-05-03 07:43] cardigliano opened #714 "RPM package version and dependencies"
The RPM package version does not include the date, this creates dependencies issues when there is a new update for nDPI (which is a dependency) but there is no update for pfring (which is not updated by yum as a consequence of the version check, and depends on an old nDPI version)

[2021-05-07 15:22] cardigliano opened #715 "ice: fails mapping memory when opening/closing multiple times the interface"
ice zc works with the legacy API (pfcount), but it fails with the ZC API (zcount).

[2021-05-12 02:04] Nugine opened #716 "pfring_open returns incorrect errno"
When calling pfring_open without privileges, it should return EPERM but not ENODEV.

https://github.com/ntop/PF_RING/blob/f238416b8592d0a052d6195fb92bcd34544b36ec/userland/lib/pfring.c#L346-L361

[2021-05-12 07:40] MaoPann opened #717 "i40e: pfsend fails sending data"
Before our ZC worked stably, but after we replaced the motherboard of our server, the problem appeared. When I used pfring ZC to send data, the receiver could not receive the data. The return value of pfring ZC transmitter is normal.Our test results are shown in detail below.
![image](https://user-images.githubusercontent.com/44804599/117936828-e3b81f80-b337-11eb-8c94-005a01afc57f.png)

Before loa

[2021-05-12 07:42] cardigliano commented on #714
Revision now depends on ndpi

[2021-05-12 07:42] #714 closed, assigned to nobody

[2021-05-12 07:55] #716 closed, assigned to nobody

[2021-05-12 08:04] MaoPann commented on #717
What should I do next？

[2021-05-12 08:04] MaoPann commented on #717
Do you need any more information?

[2021-05-12 09:31] MaoPann commented on #717
We tried recompiling the pfring 7.6.0 source code.
but sending still failed.

[2021-05-13 08:19] MaoPann commented on #717
Hi,I have done the test repeatedly, and now I find that after loading the ZC driver, when I send data to an empty network port without connecting the network cable, the situation is the same, but I believe my network connection is normal, I have done the test, and I can send successfully without loading the ZC driver.

[2021-05-13 09:37] MaoPann commented on #717
The software and hardware version information we use.

pfring -version: 7.6.0
system:ubuntu 2019.04
![image](https://user-images.githubusercontent.com/44804599/118107666-a1631100-b411-11eb-98fc-3a7f998a54ee.png)

mainboardand CPUs：

![image](https://user-images.githubusercontent.com/44804599/118105323-d02bb800-b40e-11eb-9478-c3dc06c68749.png)

NICs：
![image](https://user-images.githubusercontent.c

[2021-05-13 09:41] cardigliano commented on #717
Please provide the full "dmesg" output, in text format please

[2021-05-13 09:55] MaoPann commented on #717
OK，Please wait me a few minutes

[2021-05-13 10:22] MaoPann commented on #717
Sorry, our lab is very special, can't connect to the Internet, can't copy files. So I can only provide you with picture information, I'm sorry. I will wait for your reply online.
![image](https://user-images.githubusercontent.com/44804599/118112599-cf4b5400-b417-11eb-9805-654778d60ede.png)
![image](https://user-images.githubusercontent.com/44804599/118112658-e0946080-b417-11eb-8a44-fb7c142f8162.pn

[2021-05-14 06:15] MaoPann commented on #717
@cardigliano We can provide you with remote access to our server, can you help us troubleshoot the problem remotely?If you agree ，We can schedule a specific time.

[2021-05-14 06:59] MaoPann commented on #717
We found a vulnerability in Ubuntu: CVE-2019-19043. You can see if it is caused by this vulnerability.

[2021-05-14 07:17] cardigliano commented on #717
@MaoPann what is the CPU model? What Ubuntu version are you running?
If you are able to provide ssh access, please drop an email to cardigliano at ntop.org for the credentials.

[2021-05-14 08:14] MaoPann commented on #717
We will provide you with the credentials of TeamViewer or SSH later. Do you think that's ok? We need to configure the server. But I hope we can set a specific time for your remote access, so that we can cooperate with you if you need.

system:ubuntu 2019.04
![image](https://user-images.githubusercontent.com/44804599/118240960-2875bf00-b4ce-11eb-8b89-1fef1b7f218c.png)
CPU #
![image](https://user-im

[2021-05-14 08:17] cardigliano commented on #717
Please use Ubuntu Server LTS (18 or 20).
Please also disable IOMMU on AMD (requirement for ZC) as explained at https://www.ntop.org/guides/pf_ring/amd.html

[2021-05-14 08:27] MaoPann commented on #717
Thanks, I'll test it right away.

[2021-05-14 10:02] MaoPann commented on #717
We didn't find IOMMU in the BIOS. Can we skip this step and configure it directly in the grab?

[2021-05-17 03:07] MaoPann commented on #717
Thank you for your help. We have successfully solved this problem.

[2021-05-17 07:32] cardigliano commented on #717
Great

[2021-05-17 07:32] #717 closed, assigned to cardigliano

[2021-05-19 06:33] jatin152 opened #718 "Hardware recomendation to push 100Gbps traffic using disk2n"
We have 1.6 TB of pcaps and want to use disk2n to replay it using Napatech card at 100Gbps.

What is the recommened server configuration do you suggest for sending 100Gbps traffic using disk2n, considering average packet size of 400 bytes.

Eg.
How many SSD(Raid 0)? What IOPS?
How much RAM?

Thanks

[2021-05-19 07:49] cardigliano commented on #718
@jatin152 said that I do not have numbers about the expected replay speed at 100Gb with disk2n, please note that:
1. the controller itself can have performance limitations regardless of the number of disks (in my experience the max *write* throughput on many controllers is ~40-45 Gbps for instance)
2. it is likely you need to use multiple "streams" using multiple disks (raid volumesor NVMes)

[2021-05-19 14:32] moshegbl opened #719 "AF_XDP multi-process support"
Would like to be able to run multiple process concurrently on top of AF_XDP multiple queues.

For example:
“sudo nprobe -i xdp:eth1@0” and “sudo nprobe -i xdp:eth1@1” simultaneously.

At the moment, when running pfcount on xdp:eth1@0 and xdp:eth1@1 simultaneously, the first pfcount drops to 0 bps.

[2021-05-20 06:24] jatin152 opened #720 "Does pfring-ZC support cards HPE-655639-B21 and 655639-B21"
Hi Team,

Can you please confirm whether Pfring ZC is supported for the below cards?
If yes, Which driver we will need to install For same?

The following 560FLB and 560M are based on Intel 82599 Ethernet Controller

HPE Ethernet 10Gb 2-port 560M
Adapter                              665246-B21

HPE Ethernet 10Gb 2-port 560FLB
Adapter                          655639-B21

[2021-05-20 06:28] cardigliano commented on #720
Yes, it seems they are both based on Intel 82599 (ixgbe)

[2021-05-20 06:28] #720 closed, assigned to nobody

[2021-05-20 06:28] #718 closed, assigned to nobody

[2021-05-21 11:10] annp1987 commented on #538
Hi @cardigliano
Would you mind to share status of this feature? Is it ready on current pf_ring ft lib?

[2021-05-21 12:30] cardigliano commented on #538
The FT API now includes pfring_ft_load_ndpi_protocols, that can be used to reload custom nDPI protocols. This is called by zbalance_ipc at startup. (Feel free to send a PR if you can contribute adding support for runtime reloading in zbalance_ipc)

[2021-05-24 05:53] jatin152 opened #721 "disk2n utility exiting with error code"
Hi,

I am using disk2n to play some pcap file on a napatech FPGA card. However the utility exits with below error.
Please advise how to resolve this.
As far as I remember disk2n works without configuring hugepages.

[root@loadtestsrv2 ~]# /usr/local/bin/disk2n -m /tmp/filelist.txt -i nt:0 -I 550 -C 1024 -b 20480 -U -c 15 -w 16 -S 17 -O -v
24/May/2021 11:22:32 [disk2n.c:2353] /data_r10/singtel-pcap

[2021-05-24 07:28] cardigliano commented on #721
It seems you need to reserve hugepages, please read https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html (or for more info also read https://www.ntop.org/guides/pf_ring/hugepages.html)
or just remove -U which is not mandatory

[2021-05-25 08:30] #721 closed, assigned to nobody

[2021-05-25 08:32] cardigliano commented on #715
The driver reload when closing the interface in the ice driver has been changed.
zutils, used by zcount, has been reworked to avoid opening the interface multiple times for reading the buffer size, when not required.
It seems to be working now, this will be reopened in case.

[2021-05-25 08:32] #715 closed, assigned to cardigliano

[2021-05-28 06:46] MaoPann opened #723 "zc driver compile error"
OS:
Linux x86

#uname -r
3.10.62-ltsi-NGTOSv2.1.0

#cd pf_ring/driver/intel
#make

cc1: some warnings being treated as errors
make[4]: *** [/home/ngos/new-pfring/PF_RING-dev/drivers/intel/e1000e/e1000e-3.8.7-zc/src/netdev.o] Error 1
make[3]: *** [_module_/home/ngos/new-pfring/PF_RING-dev/drivers/intel/e1000e/e1000e-3.8.7-zc/src] Error 2
make[3]: Leaving directory `/usr/src/linux-3.10.62'
make[2]:

[2021-05-28 07:07] cardigliano commented on #723
@MaoPann what OS distribution and version are you running exactly? This does not look like a supported kernel..

[2021-05-28 07:15] MaoPann commented on #723
#uname -a
Linux TopSecSystem 3.10.62-ltsi-NGTOSv2.1.0 #1 SMP PREEMPT Fri Oct 26 14:53:50 CST 2018 x86_64 x86_64 x86_64 GNU/Linux

yes it's a company's private operating system

[2021-05-28 08:24] MaoPann commented on #723
@cardiglianoHi， Can pfring ZC be used in this environment?

[2021-05-28 10:50] cardigliano commented on #723
It can be used but there is some compilation error that should be fixed. Please note we officially support Ubuntu LTS/Debian/CentOS, if you are interested in supporting other kernels please contact us by mail and we will estimate the effort.

[2021-05-31 07:53] #723 closed, assigned to nobody

[2021-06-03 16:15] #713 closed, assigned to nobody

[2021-06-03 16:29] cardigliano commented on #697
Closing for inactivity, I assume it's working

[2021-06-03 16:29] #697 closed, assigned to nobody

[2021-06-03 16:31] cardigliano commented on #546
This has been fixed a few days ago fixing the revision dependency

[2021-06-03 16:31] #546 closed, assigned to cardigliano

[2021-06-03 16:54] cardigliano commented on #538
Implemented via PR

[2021-06-03 16:54] #538 closed, assigned to cardigliano

[2021-06-14 07:52] cardigliano opened #724 "Add revision to pfring-dkms package version"
The pfring-dkms package version does not include a date or revision currently, this could cause dependencies issues.

[2021-06-14 16:50] #724 closed, assigned to nobody

[2021-06-16 13:50] andyarus opened #725 "Generate packet and send by pfring_zc_send_pkt"
Hello!
I want to generate a new packet and send it with pfring_zc_send_pkt
How to do it?

I can get the actual packet data (pfring_zc_pkt_buff_data) from buffer received from pfring_zc_recv_pkt and then modify it and send.

But how fill pfring_zc_pkt_buff received from cluster (pfring_zc_get_packet_handle) with my generated data? Where copy data? How set length?
Do I need to fill fields (pfring_zc

[2021-06-16 19:39] srfn8kd opened #726 "pfcount -v 1 -L Does not list expiration time on Silicom FPGA"
Hello!

I am using the latest versions of pf_ring and it turns out pfcount -v 1 -L indicates validity and does not return the expiration date for the license; it also shows the status as down although the card is up and everything is working properly

FPGA Version: FPGA type: 4e, model: 17, version: 2.10.65.0

pfcount -v 1 -L
fbcard:0:a00    unknown fiberblaze      FB2CG@KU15P-2.0043      0000:00:

[2021-06-17 07:07] cardigliano commented on #726
@srfn8kd could you provide the content of your /etc/pf_ring in a direct email to cardigliano at ntop.org? Thank you.

[2021-06-17 07:44] cardigliano commented on #725
You can use pfring_zc_get_packet_handle() or pfring_zc_get_packet_handle_from_pool() to get a fresh buffer that can be used to forge packets and send them. Please check PF_RING/userland/examples_zc for sample code using those functions. You need to fill the buffer data (pfring_zc_pkt_buff_data) and length (buffer->len).

[2021-06-17 07:48] andyarus commented on #725
[code]

Which queue to use for fresh buffer from pfring_zc_get_packet_handle() or pfring_zc_get_packet_handle_from_pool()?

[2021-06-17 07:58] cardigliano commented on #725
You can provide any queue/pool in the cluster, it's just used to get a reference to the correct cluster (and memory)

[2021-06-17 08:00] andyarus commented on #725
Thank you very much for your help!

[2021-06-21 17:07] cardigliano commented on #726
This was due to a mistake in the license files.

[2021-06-21 17:07] #726 closed, assigned to nobody

[2021-06-22 07:10] #725 closed, assigned to nobody

[2021-06-22 07:11] cardigliano commented on #719
@moshegbl the AF_XDP support has been improved and this seems to be working now, please check it and reopen this issue in case you experience the same issue

[2021-06-22 07:11] #719 closed, assigned to nobody

[2021-06-22 07:12] cardigliano commented on #702
@MeneTelk0 the AF XDP support has been reworked and improved, please check it now

[2021-06-22 12:56] dnotivol opened #727 "Server restarting with kernel "Bad page state in process...""
Hello,

One of our servers is restarting almost every hour after reporting a kernel BUG message: "Bad page state" (you can see the output of this error pasted below).

We're running pf_ring with 2 x 10G interfaces (i40e) and 1 x 1G interface (igb). We merge the 3 interfaces with zbalance and split them into 8 queues we read with 8 nprobe instances.

The system is up to date (both OS and ntop produ

[2021-06-22 13:01] cardigliano commented on #727
@dnotivol did this happen after some update? Or is this a new installation?
Also, please note you are not using ZC, the zc: suffix should be specified for each interface in -i=p1p1,p2p1,p2p2

[2021-06-22 15:22] teoring opened #728 "Illegal instruction in pfring_open ( 7.8.0-stable )"
Hello,

I have compiled PFRING from sources ( 7.8.0-stable branch ) on the following environment:

Architecture:  x64_86
OS               :  Ubuntu 20.04.2 LTS
Core:           :  5.8.0-53-generic
CPU            :

CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   43 bits physical, 48 bits virtual
CPU(s):

[2021-06-22 15:42] cardigliano commented on #728
This happens when compiling the library on a CPU with a different instruction set, it is likely --disable-archopt would fix this.

[2021-06-23 01:57] byungyong-hwang opened #729 "zbalance_DC_ipc stopped with Seg-fault when pass the packet"
Hi,

I want to make customized packet filter.
zbalance_DC_ipc is looks good , but problem happen.
if I change filtering_func return 1; for pass all packets, segment-fault happen.
My modificatoin is here.

https://github.com/ntop/PF_RING/blob/dev/userland/examples_zc/zbalance_DC_ipc.c#L288
int64_t filtering_func(pf~~~~~~~~~~~~~~~~~~~~~~~~~~~) {
  return 1;  /* for pass all packets! */
}

[2021-06-23 06:09] byungyong-hwang commented on #729
test pcap is from https://wiki.wireshark.org/SampleCaptures

RTP_L16_monaural_sample.pcapng  file

[2021-06-23 07:36] cardigliano commented on #729
@byungyong-hwang please note filtering_func should return the queue id. If you have only 1 queue it should always return 0 to pass all packets. Can I see your command line?

[2021-06-23 09:37] teoring commented on #728
I will verify this today and close the ticket afterwards.

[2021-06-23 10:22] dnotivol commented on #727
Thanks @cardigliano for your comment.

1. We had the system running for some time without major issues, with pf_ring v.7.6.0 (r3209), without licenses, but with Rx drops in the 10G interfaces.
2. So we bought the licenses for the 2x10G interfaces, and after installing them, we got the following error when starting the zbalance with -i=p1p1,zc:p2p1,zc:p2p2 (it was not in use)
   `[zbalance_ipc.c:12

[2021-06-23 12:15] MeneTelk0 commented on #702
Hello @cardigliano

While testing your new AF_XDP implementation, I encountered some strange behaviour.

### Both on Ubuntu 18.04 and 20.04:

When I don't use your custom zc i40e drivers, I get the following:
[code]
When I am setting up ZC drivers - pfcount starts working but doesn't receive any packets. So all the counters are stopped at 0.

Afterwards, if I remove your driver and set the default

[2021-06-23 13:10] cardigliano commented on #702
Hi @MeneTelk0, please note XDP support is disabled in our ZC drivers, please use vanilla drivers unless you need to use ZC.
The ifdef HAVE_PF_RING_ZC cannot be removed as the XDP module uses the ZC library memory manager for allocating packet buffers and work in zero-copy.

[2021-06-23 13:12] cardigliano commented on #727
Thank you for the update!

[2021-06-23 13:12] #727 closed, assigned to nobody

[2021-06-23 13:49] MeneTelk0 commented on #702
Thank you. Maybe information about the incompatibility of ZC drivers and AF_XDP should be listed in your docs. Or should be checked and warned somehow when trying to run RX with AF_XDP and ZC drivers loaded. Or both ;)

But still, the previously stated problem, when I can't use pfcount with the AF_XDP interface, persists. I'm not able to run it right after boot before doing the manipulations with

[2021-06-23 14:15] MeneTelk0 commented on #702
So, running hugepages configuration from `load_driver.sh` fixes the problem:

[code]
I think this should also be stated somewhere. Because by default, solutions from the same [xdp-tutorial](https://github.com/xdp-project/xdp-tutorial) don't require hugepages configuration.

[2021-06-23 14:24] cardigliano commented on #702
Thank you. I updated the doc. We can close this.

[2021-06-23 14:24] #702 closed, assigned to nobody

[2021-06-23 15:15] #728 closed, assigned to nobody

[2021-06-23 15:16] teoring commented on #728
This indeed the result of missing --disable-archopt ( native march ). Its very strange you are enabling this by default.

[2021-06-23 18:02] diwenx opened #730 "Need Help/Clarification on built-in IP-based Hash function"
From the [documentation](https://www.ntop.org/guides/pf_ring/api/pfring_zc.html#_CPPv425pfring_zc_builtin_ip_hashP18pfring_zc_pkt_buffP15pfring_zc_queue) it says

Does this mean that any packets with the same two tuple (two ips) in whatever order will be hashed into the same group? Or does it mean that packet<src=a, dst=b> and packet<src=b, dst=a> can be mapped to different groups?
If it is the la

[2021-06-24 07:08] cardigliano commented on #730
Correct

[2021-06-24 07:08] #730 closed, assigned to nobody

[2021-06-25 16:47] MobileumTech opened #731 "Latency added by PF-Ring while Handling GTP GPD-U Packets"
Hi Team,

Hope you are doing good.

We facing issue while using pf-ring zc for data packet processing.

PF-Ring ZC is adding latency while processing GTP GPD-U packets processing from network.  We are observing the latency at pf-ring level when it handle the packets at lower throughput.

It looks like PF-Ring is doing some internal buffering before giving the packets to application for processing

[2021-06-28 05:12] byungyong-hwang commented on #729
Thank you for your fast answer.

I found filter_func same with distibution function in zbalance_ipc.c .
This is my mistakes.

[2021-06-28 05:12] #729 closed, assigned to nobody

[2021-06-28 07:49] cardigliano commented on #731
Hi
I have a few questions:
- what application are you running? it is a packet forwarding application?
- how did you measure latency?
- are you opening all queues? (I see you have RSS set to 4)
- are you opening the socket in ZC mode? (using the 'zc:' prefix in the interface name)

Regards
Alfredo

[2021-06-29 15:36] MobileumTech commented on #731
Hi,  Please find my comments.
1. We have a proxy application that receive the GTP packets from nw .
2. For Latency , we are taking the pcap on interface and calculating the timestamp and then when application get the packet from pf-ring call back then we are printing the time then we see 300-500 ms of difference.
Below call back we are using to receive the packet.
    rcvLen = pfring_loop(tData->m

[2021-06-30 17:28] Arislen opened #732 "ZC Drivers fail to Compile on RHEL 8.4"
/etc/redhat-release:

Red Hat Enterprise Linux release 8.4 (Ootpa)

Kernel Version:

 4.18.0-305.7.1.el8_4.x86_64 #1 SMP Mon Jun 14 17:25:42 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux

All Drivers Failed to Compile.

Attached:

[dnf-command.log](https://github.com/ntop/PF_RING/files/6742858/dnf-command.log)
[e1000e-zc.log](https://github.com/ntop/PF_RING/files/6742860/e1000e-zc.log)
[i40e-zc.log](htt

[2021-07-01 16:13] cardigliano commented on #731
@MobileumTech since you are using the adapter in standard kernel capture mode, it is likely this depends on the polling mechanism. Please take a look at -w <watermark> in pfcount which is setting pfring_set_poll_watermark (try setting the watermark to 1)

[2021-07-01 16:15] cardigliano commented on #732
I confirm a patch is required in order to compile on latest centos 8 kernel. I will work on this asap.

[2021-07-02 16:37] cardigliano commented on #732
@Arislen the drivers should now compile on latest 8.4 kernel, please check it and let me know. Edit: please wait the next software update from nightly builds.

[2021-07-06 07:05] MaoPann opened #733 "Bad return status for module build on kernel: 3.10.0-957.el7.x86_64(x86_64)"
when I use pfring zc on centos 7.9, compile error,
![image](https://user-images.githubusercontent.com/44804599/124557035-9bb30600-de6b-11eb-9e7b-cc3ba93d09bf.png)

![image](https://user-images.githubusercontent.com/44804599/124556748-3ced8c80-de6b-11eb-9bd2-13120bc3450b.png)

[2021-07-06 07:06] cardigliano commented on #733
@MaoPann please provide the generated log file as reported in the warning (make.log)

[2021-07-06 07:09] MaoPann commented on #733
how to get the make.log

[2021-07-06 07:18] MaoPann commented on #733
we use pf_ringcfg to compile

[2021-07-06 20:11] Arislen commented on #732
Back from the US Holiday weekend. Will test the drivers tomorrow..

[2021-07-07 00:39] MaoPann commented on #733
The problem was solved after the software was updated

[2021-07-07 00:42] #733 closed, assigned to nobody

[2021-07-07 13:51] moshegbl commented on #719
Update: now can successfully run pfcount on multiple xdp queues.
Still can **not** run **nProbe** on xdp:eth1@0.
nProbe says: "device not found"

[2021-07-07 13:57] moshegbl opened #734 "nProbe and AF_XDP"
When trying to run nProbe on XDP interface queue, nprobe does not recognize the network device.

Steps to reproduce:
When running "nprobe -i xdp:ens1f0@0", getting "No such device exists".

[2021-07-07 15:18] #731 closed, assigned to nobody

[2021-07-08 22:01] Arislen commented on #732
Drivers now compile on RHEL 8.4. Thanks for your help.

[2021-07-09 06:58] cardigliano commented on #732
Thank you

[2021-07-09 06:58] #732 closed, assigned to cardigliano

[2021-07-09 07:57] cardigliano commented on #734
@moshegbl what OS are you running here?

[2021-07-09 09:51] cardigliano commented on #734
@moshegbl this is working for me on Ubuntu 20 (kernel 5.8.0) using latest nProbe dev (tested with 9.5.210709). Please make sure you are running latest version, which is compiled with XDP support.

[2021-07-10 10:21] EmilPi commented on #535
Hi,
https://manhattanproducts.us/products/manhattan-en-smart-card-reader-102049 - I downloaded driver for linux, extracted, run `make` or `sudo make` and I get
`
sed "s/RTSX_MK_TIME/`date +%y.%m.%d.%H.%M`/" timestamp.in > timestamp.h
cp -f ./define.release ./define.h
make -C /lib/modules/5.8.0-59-generic/build/ SUBDIRS=/home/emil/Desktop/rts_pstor modules
make[1]: Entering directory '/usr/src/linu

[2021-07-13 06:22] MaoPann opened #735 "high load average"
Memory: 16G
Number of threads: 4
Intel(R) Core(TM) i3-3220 CPU @ 3.30GHz ：1

pfring: 7.8
Our traffic is about 200Mbps

When I run our application with pfring zc, there is a High load average.The system is very slow to respond, for example, if I run an ls command, it takes a long time to respond.
If zc: is not added, the load is still close to 3, but the fluency of the system is improved, and the e

[2021-07-13 06:30] MaoPann commented on #735
If zc: is not added, the load is still close to 3, but the fluency of the system is improved, and the echo speed of command execution is improved.

[2021-07-13 06:31] MaoPann commented on #735
@cardigliano

[2021-07-13 07:48] cardigliano commented on #735
@MaoPann do you see the same load running pfcount -i zc:<interface> ?
Please provide cat /proc/net/pf_ring/dev/<interface>/info

[2021-07-13 07:57] MaoPann commented on #735
![image](https://user-images.githubusercontent.com/44804599/125413981-085324d1-7ed5-4246-8d66-7ffda18049e4.png)

[2021-07-14 08:04] fattaholmanan opened #736 "ZC batch sending function."
Hi,
I was being confused regarding the sending burst API in the zc mode. In particular regarding the return value for `pfring_zc_send_pkt_burst`, it's mentioned that this function returns:

Considering a scenario in which I try to send 12 packets, but the function returns 8; how would it be possible to find out which packets have been sent and which haven't? Is it like the first 8 packets? Is it r

[2021-07-14 08:05] cardigliano commented on #736
The first 8 packets are sent in that case.

[2021-07-14 08:58] MaoPann commented on #735
Here are the results of running zcount only.

![image](https://user-images.githubusercontent.com/44804599/125594173-67755db7-e9f7-486c-ad18-911f5bc96564.png)

[2021-07-14 09:00] MaoPann commented on #735
@cardigliano

[2021-07-14 16:55] #736 closed, assigned to nobody

[2021-07-16 10:26] annp1987 opened #737 "Maximum length of the textual representation of an IPv6 address should be 45 instead of 32"
I found some code on https://github.com/ntop/PF_RING/blob/dev/userland/examples_ft/ftflow.c#L231 is setting 32. It should be 45 as https://stackoverflow.com/questions/166132/maximum-length-of-the-textual-representation-of-an-ipv6-address

[2021-07-16 11:06] #737 closed, assigned to nobody

[2021-07-19 13:10] utkarsh0902311047 opened #738 "Regarding how Pf_ring works with dpdk"
I want to develop an environment of nDPI+DPDK. I am using two NICs XL710 and trying to achieve receiving throughput of 40gbps.
I have tried only nDPI with DPDK but it seems will not work because as per my understanding if I try to run the ./ndpiReader.dpdk command to read the packets on an interface it only achieves 5Gbps as that interface is no more in Kernel and bounded with igb_uio driver. It a

[2021-07-19 13:20] cardigliano commented on #735
@MaoPann it seems the load with zcount is quite low (6% of a core), please investigate on what is causing that load in your application

[2021-07-19 13:21] #734 closed, assigned to cardigliano

[2021-07-21 10:04] MaoPann opened #739 "PF_RING version mismatch (expected v.7.8.0 found v.7.9.0)"
hello ，
Before I installed pfring 7.9 to run our own application, now I want to change to version 7.8. However, I encountered the following problems. I have used Yum to uninstall pfring 7.9 and install version 7.8. But my application still prompts to use version 7.9, the program does not report an error, but it will automatically exit after a period of time.
![image](https://user-images.githubuser